<app-sub-header></app-sub-header>
<div class="content pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 pl-0">
        <div class="card border">
          <div class="card-header">
            <h3>
              <span class="title">Danh mục các trạm bơm</span>
              <button class="btn btn-sm btn-primary" [routerLink]="['/admin/tnnuoc/trambom/dstrambom']"
                      style="float:right">
                <i class="fa fa-list"></i> Quản lý trạm bơm
              </button>
            </h3>
          </div>
          <div class="card-body">
            <ejs-grid #grid [dataSource]="listDataTramBom" [editSettings]="settingsCommon.editSettings"
                      (rowSelected)='rowSelected($event)' [allowPaging]="true" [allowSorting]="true"
                      [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar"
                      [allowResizing]="true" >
              <e-columns>
                <e-column field="serialNumber" headerText="STT" ></e-column>
                <e-column field="tendiem" headerText="Tên trạm bơm"></e-column>
                <e-column field="vitri" headerText="Vị trí"></e-column>
                <e-column field="id" headerText="Thao tác" >
                  <ng-template #template let-data>
                    <div class="btn-group">
                      <button ejs-dropdownbutton [items]="items" iconCss="fa fa-bars" cssClass="e-caret-hide"
                              (select)="selectMenu($event, data)" style="color: #333;"></button>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>

      </div>
      <div class="col-lg-6 col-md-12 pr-0">
        <!-- bản đồ -->
        <div class="card m-0" style="width: 100%; height: 386px;">
          <div class="card-header p-2">
            <h6 class="m-0" style="font-size: 16px;font-weight: 500;">
              <i class="far fa-info-circle"></i> Thông tin trạm bơm
            </h6>
          </div>
          <div class="card-body px-2 pb-2">
            <div id="viewDiv" class="" style="height: 100%;"></div>
          </div>
        </div>
        <!--          Biểu đồ-->
        <div class="card m-0">
          <form [formGroup]="thongsoForm">
          <div class="row px-2 py-2">
            <div class="col-lg-4 col-md-12">
              <label>Yếu tố quan trắc:</label>
              <mat-select placeholder="Chọn yêu tố quan trắc" class="form-control"  [(ngModel)]="idThamso" formControlName="idthamso" (selectionChange)="showThongSo()"
              >
                <mat-select-filter [displayMember]="'tenthamso'" [array]="thongsoFilters"
                                   (filteredReturn)="listDataThongSo = $event">
                </mat-select-filter>
                <mat-option value="">
                  ---Chọn yếu tố quan trắc---
                </mat-option>
                <mat-option *ngFor="let ts of listDataThongSo" [value]="ts.idthamso">
                  {{ts.tenthamso}}
                </mat-option>
              </mat-select>
            </div>
            <div class="col-lg-3 col-md-12">
              <label class="d-block">Từ ngày:</label>
              <div class="d-flex">
                <input class="form-control mr-1" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [max]="" formControlName="firstdate"
                       placeholder="DD-MM-YYYY">
                <span [owlDateTimeTrigger]="dt1" style="cursor: pointer;" class="btn btn-outline-secondary"><i
                  class="fa fa-calendar"></i></span>
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
              </div>
            </div>
            <div class="col-lg-3 col-md-12 ">
              <label class="d-block">Đến ngày:</label>
              <div class="d-flex">
                <input class="form-control mr-1" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [min]="" formControlName="lastdate"
                       placeholder="DD-MM-YYYY">
                <span [owlDateTimeTrigger]="dt2" style="cursor: pointer;" class="btn btn-outline-secondary"><i
                  class="fa fa-calendar"></i></span>
                <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
              </div>
            </div>
            <div class="col-lg-2 col-md-12" >
              <button class="btn btn-success" style="position: absolute; top: 27px" (click)="getKetQuaTimeFromTo()">Xem</button>
            </div>
          </div>
            <div class="alert-danger text-center px-2" style="width: 100%" *ngIf="errorForm">{{errorForm}}</div>
            </form>
          <div id="chart" class="px-2 py-2" style="height: 300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
