<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="donvidoIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.tendonvido)">
      <label class="col-sm-4 col-form-label text-right">Tên đơn vị đo:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="tendonvido" />
        <span *ngIf="formErrors.tendonvido" class="alert-danger">{{
            formErrors.tendonvido
          }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Kí hiệu đơn vị đo:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="kyhieudonvido" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Nhóm đơn vị đo:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn nhóm đơn vị đo" class="form-control" formControlName="idNhomdonvido">
          <mat-select-filter [displayMember]="'tenndvd'" [array]="nhomDonvidoFilters"
            (filteredReturn)="allNhomDonvido = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn nhóm đơn vị đo---
          </mat-option>
          <mat-option *ngFor="let ndvd of allNhomDonvido" [value]="ndvd.id">
            {{ ndvd.tenndvd }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="addOrUpdateContinue(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeDonvidoIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>