<div class="pt-3">
    <form *ngIf="editMode" [formGroup]="nhomthamsoIOForm" class="pt-toolbar">
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Tên nhóm tham số:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="tennhom">
                <span *ngIf="formErrors.tennhom" class="alert-danger">{{
                  formErrors.tennhom
                }}</span>
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Ký hiệu nhóm tham số:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="kyhieunhom">
            </div>
        </div>
        <div class="toolbar-container py-2">
            <div class="function-toolbar">
                <div class="form-group row mx-0">
                    <div class="col-12">
                        <button class="btn btn-primary float-right" (click)="onSubmit(purpose)"><i
                                class="far fa-save"></i> Lưu & Đóng
                        </button>
                        <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
                            (click)="onContinueAdd(purpose)"><i class="far fa-download"></i> Lưu & Khởi tạo lại
                        </button>
                        <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'"
                            (click)="onFormReset()">
                            <i class="far fa-sync-alt"></i> Khởi tạo lại
                        </button>
                        <button class="btn btn-danger float-right mr-3" (click)="closeNhomthamsoIOSidebar()"><i
                                class="far fa-times-circle"></i> Hủy bỏ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>