<app-sub-header></app-sub-header>
<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title">Danh sách Nhóm tham số</span>
                  <button class="btn btn-primary" style="float:right" (click)="openNhomThamsoIOSidebar()">
                    <i class="fal fa-plus-square"></i> Thêm
                  </button>
                  <button class="btn btn-outline-primary mr-3" style="float:right" (click)="getAllNhomthamso()">
                    <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #grid [dataSource]="listNhomthamso" [editSettings]="settingsCommon.editSettings"
                  [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                  [allowResizing]="true" [toolbar]="settingsCommon.toolbar" class="table-striped"
                  (queryCellInfo)="customiseCell($event)">
                  <e-columns>
                    <e-column field="serialNumber" headerText="STT"></e-column>
                    <e-column field="tennhom" headerText="Tên nhóm tham số"></e-column>
                    <e-column field="kyhieunhom" headerText="Ký hiệu nhóm tham số"></e-column>
                    <e-column field="id" headerText="Thao tác">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" title="Chỉnh sủa" (click)="editItemNhomthamso($event)">
                            <i class="far fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" title="Xóa" (click)="deleteItemNhomthamso($event)">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 600px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title">
          <button class="btn btn-sm btn-light" (click)="closeNhomthamsoIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compnhomthamsoio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>