<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top nav-ewater">
    <div>
        <a class="navbar-brand ewater-brand p-0" href="#">
            <span class="brand-name">WaterManagement</span>
        </a>
    </div>
    <div class="w-100">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
                <li style="display: flex; align-items: center;cursor: pointer; padding-top: 5px" (click)="showSearch()">
                    <span>Search <i class="fas fa-search ml-1" style="font-size: large;"></i></span>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>