<div class="pt-3">
    <form *ngIf="editMode" [formGroup]="tieuchuanchatluongIOForm" class="pt-toolbar">
        <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.idTieuchuan)">
            <label class="col-sm-4 col-form-label text-right">Tên tiêu chuẩn:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn tiêu chuẩn" class="form-control" formControlName="idTieuchuan">
                    <mat-select-filter [displayMember]="'tentieuchuan'" [array]="tieuchuanListFilter"
                        (filteredReturn)="tieuchuanList = $event">
                    </mat-select-filter>
                    <mat-option [value]="">
                        ---Chọn tiêu chuẩn---
                    </mat-option>
                    <mat-option *ngFor="let item of listTieuchuan" [value]="item.id">
                        {{ item.tentieuchuan }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.idTieuchuan" class="alert-danger">{{
          formErrors.idTieuchuan
        }}</span>
            </div>
        </div>
        <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.idThamso)">
            <label class="col-sm-4 col-form-label text-right">Tham số:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn tham số" class="form-control" formControlName="idThamso">
                    <mat-select-filter [displayMember]="'tenthamso'" [array]="thamsoListFilter"
                        (filteredReturn)="thamsoList = $event">
                    </mat-select-filter>
                    <mat-option [value]="">
                        ---Chọn tham số---
                    </mat-option>
                    <mat-option *ngFor="let item of listThamso" [value]="item.id">
                        {{ item.tenthamso }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.idThamso" class="alert-danger">{{
          formErrors.idThamso
        }}</span>
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Đơn vị đo:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Đơn vị đo mặc dịnh" class="form-control" formControlName="idDonvido">
                    <mat-select-filter [displayMember]="'idDonvido'" [array]="donvidoListFilter"
                        (filteredReturn)="listDonvido = $event">
                    </mat-select-filter>
                    <mat-option [value]="">
                        ---Chọn đơn vị---
                    </mat-option>
                    <mat-option *ngFor="let item of listDonvido" [value]="item.id">
                        {{ item.tendonvido }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.gioihantren)">
            <label class="col-sm-4 col-form-label text-right">Giới hạn trên:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="gioihantren" />
                <span *ngIf="formErrors.gioihantren" class="alert-danger">{{
          formErrors.gioihantren
        }}</span>
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Giới hạn dưới:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="gioihanduoi" />
                <span *ngIf="formErrors.gioihanduoi" class="alert-danger">{{
          formErrors.gioihanduoi
        }}</span>
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Phương pháp thử:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="phuongphapthu" />
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Cấp tiêu chuẩn:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="captieuchuan" />
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Mức độ giám sát:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="mucdogiamsat" />
            </div>
        </div>
        <div class="toolbar-container py-2">
            <div class="function-toolbar">
                <div class="form-group row mx-0">
                    <div class="col-12">
                        <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
                            <i class="far fa-save"></i> Lưu & Đóng
                        </button>
                        <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
                            (click)="addContinue(purpose)">
                            <i class="far fa-download"></i> Lưu & Khởi tạo lại
                        </button>
                        <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'"
                            (click)="onFormReset()">
                            <i class="far fa-sync-alt"></i> Khởi tạo lại
                        </button>
                        <button class="btn btn-danger float-right mr-3" (click)="closeTieuchuanchatluongIOSidebar()">
                            <i class="far fa-times-circle"></i> Hủy bỏ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>