<div class="pt-3">
  <form [formGroup]="ThongsoIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.idNhomthamso)">
      <label class="col-sm-4 col-form-label text-right">Chọn nhóm tham số:</label>
      <div class="col-sm-8">

        <mat-select [placeholder]="selected" class="form-control" formControlName="idNhomthamso"
          (selectionChange)="showThamso()" (blur)="logValidationErrorMessages()">
          <mat-select-filter [displayMember]="'tennhom'" [array]="NhomthamsoFilters"
            (filteredReturn)="allNhomthamso = $event">
          </mat-select-filter>
          <mat-option *ngFor="let nhomthamso of allNhomthamso" [value]="nhomthamso.id">
            {{nhomthamso.tennhom}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.idNhomthamso" class="alert-danger">{{formErrors.idNhomthamso}}</span>
      </div>
    </div>
  </form>
  <div *ngIf="listdsthongso">
    <ejs-grid #grid [dataSource]="listdsthongso" [editSettings]='settingsCommon.editSettings' [allowPaging]="true"
      [allowSorting]="true" [pageSettings]='settingsCommon.pageSettings' [toolbar]='settingsCommon.toolbar'
      [allowResizing]='true' class="table-striped" (queryCellInfo)="customiseCell($event)">
      <ng-template #detailTemplate let-listdsthongso>
        <table class="detailtable" width="100%">
          <colgroup>
            <col width="35%">
            <col width="35%">
            <col width="30%">
          </colgroup>
          <tbody>
            <tr>
              <td>
                <span style="font-weight: 500;">Ký hiệu: </span> {{listdsthongso.kyhieuthamso}}
              </td>
              <td>
                <span style="font-weight: 500;">Tên thông số: </span> {{listdsthongso.tenthamso}}
              </td>
              <td>
                <span style="font-weight: 500;">Đơn vị đo mặc định: </span> {{listdsthongso.idDonvidomacdinh}}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <e-columns>
        <e-column field='tenthamso' headerText='Tên thông số '></e-column>
        <e-column field='kyhieuthamso' headerText='Kí hiệu'></e-column>
        <e-column field='id' headerText='Thao tác'>
          <ng-template #template let-data>
            <div class="btn-group" *ngIf="(obj.idthongso.indexOf(data.id) === -1) ; else checkidthongso">
              <mat-checkbox [checked]="checked" (change)="checkboxchange($event, data)"></mat-checkbox>
            </div>
            <ng-template #checkidthongso>
              <div class="btn-group">
                <mat-checkbox disabled="true" checked="true"></mat-checkbox>
              </div>
            </ng-template>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
  <div class="toolbar-container py-2">
    <div class=function-toolbar>
      <div class="form-group row mx-0">
        <div class="col-12">
          <button class="btn btn-primary float-right" [disabled]="submited" (click)="onSubmit()">
            <i class="far fa-save"></i>
            Thêm thông số
          </button>
          <button class="btn btn-outline-primary float-right mr-3" (click)="checkall()"><i
              class="far fa-check-square"></i> Chọn tất cả
          </button>
          <button class="btn btn-outline-info float-right mr-3" (click)="uncheckall()">
            <i class="fas fa-unlock-alt"></i> Bỏ chọn
          </button>
          <button class="btn btn-danger float-right mr-3" (click)="closeThongsoIOSidebar()"><i
              class="far fa-times-circle"></i> Hủy bỏ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>