<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <div class="row pt-3" style="margin: 0px">
      <div class="col-lg-7 col-md-12">
        <div class="card border">
          <div class="card-header">
            <h3>
              <button class="btn btn-sm btn-primary float-right" (click)="toEditMode()">
                <i class="far fa-edit"></i> Sửa
              </button>
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tên điểm khai thác:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.tendiem }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số hiệu điểm khai thác:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.sohieudiem }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tọa độ x:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.toadox }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tọa độ y:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.toadoy }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Cao độ z:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.caodoz }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Hệ tọa độ:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ hetoado }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Vị trí:</label>
                  <label class="col-sm-6 col-form-label">
                    <button class="btn btn-x-sm btn-outline-primary mr-2" (click)="zoomToObj()">
                      <i class="fal fa-location"></i></button>
                    <strong>{{ obj.vitri }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thuộc:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ xa }} - {{ huyen }}
                      - {{ tinh }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời gian xây dựng:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj.thoigianxaydung | date: 'dd-MM-yyyy'}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời gian vận hành:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj.thoigianvanhanh | date: 'dd-MM-yyyy'}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Đơn vị quản lý:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{dvql}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Chủ sử dụng:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ caNhan }}</strong></label>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <!-- <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Mục đích sử dụng chính:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.idMucdichsudungchinh }}</strong></label>
                </div> -->
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng cho phép lớn nhất:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluongchopheplonnhat }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Có thiết bị giám sát:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj.cothietbigiamsat ? 'Có' : 'Không' }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Vận hành:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ vanhanh }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời lượng khai thác:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.thoiluongkhaithac }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Nhà máy:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.nhamay }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Đã cấp phép:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj.dacapphep ? 'Đã cấp' : 'Chưa cấp' }}</strong></label>
                </div>
                <!-- <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Trạng thái:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ trangThai }}</strong></label>
                </div> -->
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Ghi chú:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.note }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Ảnh:</label>
                  <label class="col-sm-6 col-form-label"><img *ngIf="obj.imgLink" [src]="obj.imgLink" width="100px"
                      height="100px"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="card m-0" style="width: 100%; height: 668px;">
          <div class="card-header p-2">
            <h6 class="m-0" style="font-size: 16px;font-weight: 500;">
              <i class="fas fa-map-marked-alt"></i> Vị trí trạm
            </h6>
          </div>
          <div class="card-body px-2 pb-2">
            <div id="mapViewDiv" class="px-2 pb-2" style="height: 100%; z-index: 1;"></div>
          </div>
        </div>
      </div>
    </div>
    <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end" style="width: 600px">
      <div class="p-2 bg-primary text-white mat-sidenav-title">
        <button class="btn btn-sm btn-light" (click)="closeDiemKhaiThacIOSidebar()">
          <i class="fad fa-chevron-double-right"></i>
        </button>
        <span style="vertical-align: middle;" class="ml-3">{{matsidenavService.sidenavTitle}}</span>
      </div>
      <template #compDiemKhaiThacNMIo></template>
    </mat-sidenav>
  </mat-sidenav-content>
</mat-sidenav-container>