<!-- Page header -->
<app-sub-header></app-sub-header>
<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<!-- /page header -->
<div class="content">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title"> Danh mục điểm xả thải</span>
                  <button class="btn btn-sm btn-primary" style="float:right" (click)="openDiemXaThaiIOSidebar()">
                    <i class="fal fa-plus-square"></i> Thêm
                  </button>
                  <button class="btn btn-sm btn-outline-primary mr-3" style="float:right" (click)="getDiemXaThai()">
                    <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #grid [dataSource]="listDataDiemXaThai" [allowPaging]="true"
                  [toolbar]="settingsCommon.toolbar" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                  class="table-striped" [allowResizing]="true">
                  <e-columns>
                    <e-column field="serialNumber" headerText="STT"></e-column>
                    <e-column field="tendiem" headerText="Tên điểm xả thải "></e-column>
                    <e-column field="vitri" headerText="Vị trí"></e-column>
                    <e-column field="tenxa" headerText="Tên xã "></e-column>
                    <e-column field="tenhuyen" headerText="Tên huyện "></e-column>
                    <e-column field="tentinh" headerText="Tên tỉnh "></e-column>
                    <e-column field="id" headerText="Thao tác">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" title="Chỉnh sửa" (click)="editItemDiemXaThai(data)">
                            <i class="far fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-info" title="Chi tiết" (click)="detailItem(data.id)">
                            <i class="far fa-ellipsis-h"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" title="Xóa" (click)="deleteItem(data)">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 600px;">
        <div class="p-2 bg-primary text-white mat-sidenav-title">
          <button class="btn btn-sm btn-light" (click)="closeDiemXaThaiIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;" class="ml-3">{{
              matsidenavService.sidenavTitle
            }}</span>
        </div>
        <template #compDiemXaThaiio></template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>