<!-- Page header -->
<app-sub-header></app-sub-header>
<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<!-- /page header -->
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title"> Danh sách các role</span>
                  <button class="btn btn-primary" style="float:right" (click)="openRoleIOSidebar()">
                    <i class="fal fa-plus-square"></i> Thêm
                  </button>
                  <button class="btn btn-outline-primary mr-3" style="float:right" (click)="getAllRole()">
                    <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #grid [dataSource]="listRole" [editSettings]="settingsCommon.editSettings"
                          [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                          [toolbar]="settingsCommon.toolbar" class="table-striped" [allowResizing]="true">
                  <e-columns>
                    <e-column field="serialNumber" headerText="STT" ></e-column>
                    <e-column field="name" headerText="Tên role"></e-column>
                    <e-column field="normalizedName" headerText="Tên viết hoa"></e-column>
                    <e-column field="id" headerText="Thao tác">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-danger" (click)="deleteRole(data)" title="Xóa">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end" style="width: 600px">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title">
          <button class="btn btn-sm btn-light" (click)="closeRoleIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
                class="ml-3 mat-sidenav-title-text">{{ matsidenavService.sidenavTitle }}</span>
        </div>
        <template #compRoleio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
