<mat-sidenav #aside [fixedInViewport]="true"  [fixedTopGap]="46" mode="side" class="aside" style="
z-index: 1000; width: 500px;">
  <div class="p-2 pl-3 bg-info text-white d-flex justify-content-lg-between"><span>{{sidenavService.sidenavTitle}}</span>
    <button type="button" class="btn btn-outline-info" (click)="openCurrentSidenav()">
      <i class="fas fa-bars text-white"></i></button></div>
  <template #compcontainer>

  </template>
</mat-sidenav>
