<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<!-- /page header -->
<div class="d-flex align-items-start flex-column flex-md-row">
  <div class="w-100 order-1 order-md-1">
    <mat-sidenav-container class="sidenav-container px-2">
      <mat-sidenav-content>
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-lg-12" style="padding: 0px">
              <div class="card border">
                <div class="card-header">
                  <h6 class="card-title">
                    <span style="font-weight: bold; font-size: 16px" class="title"> Các thông số được quan trắc</span>
                    <button class="btn btn-sm btn-primary" style="float:right" (click)="openThongsoIOSidebar()">
                      <i class="fal fa-plus-square"></i> Thêm
                    </button>
                    <button class="btn btn-sm btn-outline-primary mr-3" style="float:right" (click)="getAllThongso()">
                      <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                    </button>
                  </h6>
                </div>
                <div class="card-body">
                  <ejs-grid #grid [dataSource]="listThamso" [editSettings]='settingsCommon.editSettings'
                    [allowPaging]="true" [allowSorting]="true" [pageSettings]='settingsCommon.pageSettings'
                    [toolbar]='settingsCommon.toolbar' [allowResizing]='true' class="table-striped"
                    (queryCellInfo)="customiseCell($event)">
                    <e-columns>
                      <e-column field="serialNumber" headerText="STT"></e-column>
                      <e-column field='tenthamso' headerText='Tên thông số '></e-column>
                      <e-column field='kyhieuthamso' headerText='Kí hiệu thông số'></e-column>
                      <e-column field='tennhom' headerText='Tên nhóm thông số'></e-column>
                      <e-column field='tendovido' headerText='Đơn vị đo '></e-column>
                      <e-column field='id' headerText='Thao tác'>
                        <ng-template #template let-data>
                          <div class="btn-group">
                            <button class="btn btn-sm btn-danger" title="Xóa" (click)="deleteThongso($event)"><i
                                class="far fa-trash"></i></button>
                          </div>
                        </ng-template>
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
          style="width: 550px">
          <div class="p-2 bg-primary text-white mat-sidenav-title">
            <button class="btn btn-sm btn-light" (click)="closeThongsoIOSidebar()">
              <i class="fad fa-chevron-double-right"></i>
            </button>
            <span style="vertical-align: middle;" class="ml-2">{{
              matsidenavService.sidenavTitle
            }}</span>
          </div>
          <template #compThongsoio> </template>
        </mat-sidenav>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>