<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <div class="row pt-3" style="margin: 0px">
      <div class="col-lg-7 col-md-12">
        <div class="card border">
          <div class="card-header">
            <h3>
              <button class="btn btn-sm btn-primary float-right" (click)="toEditMode()">
                <i class="far fa-edit"></i> Sửa
              </button>
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tên điểm:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.tendiem }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số hiệu điểm:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.sohieudiem }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tọa độ x:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.toadox }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tọa độ y:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.toadoy }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Cao độ z:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.caodoz }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Hệ tọa độ:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ itemProjection ? itemProjection.prjName : "" }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Vị trí:</label>
                  <label class="col-sm-6 col-form-label"><button class="btn btn-x-sm btn-outline-primary mr-2"
                      (click)="zoomToObj()">
                      <i class="fal fa-location"></i></button><strong>{{ obj.vitri }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thuộc:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ xa? xa : '' }} - {{ huyen? huyen : '' }} -
                      {{ tinh? tinh : '' }}</strong></label>
                </div>

                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thủy vực tiếp nhận:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.thuyvuctiepnhan }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Phương thức xả:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{obj.phuongthucxa}}</strong></label>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Có thiết bị giám sát:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj ? obj.cothietbigiamsat === true ? 'Có thiết bị' : 'Không có thiết bị' : 'Không có thiết bị' }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Đã được cấp phép:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj ? obj.dacapphep === true ? 'Đã cấp phép' : 'Chưa cấp phép' : 'Chưa cấp phép' }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng cho phép lớn nhất:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluonglonnhatchophep }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng xả trung bình:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluongxatrungbinh }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Quy chuẩn áp dụng:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.quychuanapdung }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Đơn vị quản lý:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{itemDvql ? itemDvql.tencoquan : ""}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Chủ sử dụng:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{itemCaNhan ? itemCaNhan.hovaten : ""}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời gian xây dựng:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj.thoigianxaydung | date: 'dd-MM-yyyy'}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời gian vận hành:</label>
                  <label
                    class="col-sm-6 col-form-label"><strong>{{ obj.thoigianvanhanh | date: 'dd-MM-yyyy'}}</strong></label>
                </div>
                <!-- <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Trạng thái:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ showTrangThai(obj.status) }}</strong></label>
                </div> -->
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Ghi chú:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.note }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Ảnh:</label>
                  <label class="col-sm-6 col-form-label"><img *ngIf="obj.imgLink" [src]="obj.imgLink" width="100px"
                      height="100px"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="card m-0" style="width: 100%; height: 668px;">
          <div class="card-header p-2">
            <h6 class="m-0" style="font-size: 16px;font-weight: 500;">
              <i class="fas fa-map-marked-alt"></i> Vị trí điểm
            </h6>
          </div>
          <div class="card-body px-2 pb-2">
            <div id="mapViewDiv" class="px-2 pb-2" style="height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
      style="width: 600px; z-index: 9999">
      <div class="p-2 bg-primary text-white mat-sidenav-title">
        <button class="btn btn-sm btn-light" (click)="closeDiemXaThaiIOSidebar()">
          <i class="fad fa-chevron-double-right"></i>
        </button>
        <span style="vertical-align: middle;" class="ml-3">{{
            matsidenavService.sidenavTitle
          }}</span>
      </div>
      <template #compDxtio></template>
    </mat-sidenav>
  </mat-sidenav-content>
</mat-sidenav-container>