<app-sub-header></app-sub-header>
<div class="content pt-2">
  <div class="row mt-2">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 mb-3">
          <div class="card mb-0" style="height: 100%; cursor: pointer;background-color: #fff; color: #34657F;"
            (click)="openDiemKhaiThacNuocMat()">
            <div class="card-body" style="border-radius: 6px;">
              <div class="row text-sm-center">
                <div class="col-md-4" style="justify-content: center;
                display: flex;">
                  <svg style="height: 60px; width: 60px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px"
                    viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                    <circle fill="#A387BE" cx="431.958" cy="261.039" r="99.958"></circle>
                    <circle fill="#A387BE" cx="2006.097" cy="-33.826" r="99.625"></circle>
                    <circle fill="#7C7C7C" cx="660.375" cy="5.373" r="99.625"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M665.851-44.532c-15.705,13.84-17.024,54.615-0.154,70.818
                        c-1.574,0-2.729,0-3.882,0c-15.545,0-31.096-0.197-46.637,0.085c-7.404,0.135-12.218-3.115-15.248-9.47
                        c-4.965-10.408-6.095-21.518-4.798-32.765c0.7-6.07,2.211-12.181,4.316-17.921c2.698-7.357,7.981-11.167,16.531-10.888
                        c15.313,0.5,30.654,0.141,45.981,0.141C663.029-44.532,664.098-44.532,665.851-44.532z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M719.764,72.759c-14.021,0-28.017,0-42.228,0
                        c-0.642-6.512-0.984-13.01-1.981-19.405c-1.354-8.666-3.186-17.256-4.879-25.865c-0.176-0.894-0.582-2.103-1.262-2.481
                        c-7.111-3.955-9.998-10.68-11.646-18.023c-2.91-12.973-2.796-25.912,2.205-38.407c1.378-3.443,3.516-6.798,6.032-9.523
                        c4.646-5.029,10.421-4.626,15.48,0.003c5.681,5.199,8.37,13.591,9.207,20.718c0.89,7.591,0.843,13.5,0.717,21.076
                        c0.021,0.866-0.064,2.686,0.482,3.162c7.979,6.959,11.775,16.104,15.662,25.564c5.581,13.585,9.381,27.706,12.256,42.087
                        C719.871,71.967,719.787,72.301,719.764,72.759z M687.836,1.359c0-5.386,0.393-9.87,0.084-14.379
                        c-0.484-7.08-1.447-14.015-5.772-19.916c-4.698-6.412-11.772-6.461-16.12,0.178c-6.453,9.859-6.954,20.962-5.74,32.27
                        c0.248,2.314,1.7,2.964,3.701,1.928C671.508-2.454,678.979-2.728,687.836,1.359z"></path>
                    </g>
                    <circle fill="#2BB477" cx="99.875" cy="100.123" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M99.752,50.205c2.08,3.06,4.09,5.8,5.872,8.685
                        c5.352,8.659,10.034,17.633,12.327,27.652c1.501,6.565,1.907,13.118-1.413,19.304c-3.255,6.069-8.548,8.999-15.329,9.415
                        c-4.806,0.294-9.17-0.952-12.88-4.037c-3.882-3.229-5.021-7.697-5.207-12.512c-0.225-5.741,1.403-11.071,3.99-16.074
                        c2.61-5.052,5.526-9.947,8.366-14.879c2.988-5.187,4.635-10.681,4.076-16.725C99.542,50.897,99.619,50.752,99.752,50.205z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M72.239,100.177c0.397,1.692,0.7,2.989,1.049,4.477
                        c-3.412,0.778-6.694,1.423-9.917,2.29c-5.623,1.507-11.114,3.362-15.839,6.953c-5.439,4.135-5.548,9.309-0.162,13.523
                        c4.319,3.376,9.391,5.231,14.586,6.668c10.542,2.917,21.316,4.185,32.251,4.406c11.916,0.241,23.75-0.276,35.432-2.751
                        c7.387-1.566,14.687-3.489,20.925-8.03c5.89-4.289,5.865-9.747-0.009-14.052c-5.872-4.301-12.763-6.065-19.677-7.743
                        c-1.307-0.319-2.626-0.577-4.033-0.88c0.437-1.289,0.827-2.435,1.354-3.981c2.6,0.632,5.221,1.195,7.805,1.906
                        c6.523,1.796,12.892,4.017,18.479,7.949c1.741,1.227,3.368,2.675,4.796,4.248c4.235,4.662,4.062,10.23-0.256,14.825
                        c-4.349,4.635-9.872,7.345-15.708,9.453c-9.822,3.544-19.983,5.578-30.403,6.266c-5.213,0.343-10.438,0.844-15.653,0.764
                        c-13.788-0.213-27.455-1.581-40.643-5.913c-6.347-2.085-12.501-4.592-17.569-9.228c-6.371-5.825-6.253-12.894,0.399-18.387
                        c5.48-4.53,11.861-7.233,18.581-9.185C62.619,102.423,67.304,101.407,72.239,100.177z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M76.184,110.802c-2.611,1.028-5.311,1.835-7.74,3.142
                        c-1.245,0.67-2.738,2.205-2.785,3.396c-0.042,1.163,1.386,3.027,2.581,3.472c4.328,1.605,8.755,3.284,13.289,3.929
                        c6.635,0.946,13.394,1.396,20.1,1.364c7.784-0.036,15.6-0.65,23.131-2.913c2.309-0.692,4.573-1.693,6.659-2.897
                        c2.494-1.439,2.617-4.009,0.202-5.526c-2.083-1.315-4.505-2.095-6.786-3.095c-0.44-0.194-0.912-0.312-1.374-0.466
                        c0.569-2.125,1.768-2.65,3.691-1.93c4.071,1.524,8.17,2.976,12.25,4.477c0.393,0.148,0.748,0.42,1.095,0.673
                        c4.201,3.093,4.203,6.24-0.111,9.203c-4.719,3.238-10.195,4.559-15.679,5.634c-12.731,2.503-25.587,2.782-38.497,1.764
                        c-8.162-0.647-16.228-1.764-23.878-4.819c-2.103-0.84-4.125-2.01-5.976-3.321c-3.032-2.146-3.321-5.072-0.415-7.281
                        c2.518-1.914,5.476-3.362,8.422-4.567c2.627-1.076,5.53-1.473,8.267-2.301C74.771,108.091,75.633,109.217,76.184,110.802z"></path>
                    </g>
                    <circle fill="#2BB477" cx="2074.092" cy="239.173" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M2073.016,170.084c2.686,3.949,5.281,7.486,7.58,11.209
                        c6.908,11.177,12.953,22.762,15.912,35.692c1.938,8.474,2.463,16.932-1.824,24.913c-4.201,7.83-11.033,11.613-19.787,12.149
                        c-6.203,0.379-11.836-1.229-16.623-5.211c-5.01-4.166-6.48-9.931-6.721-16.144c-0.291-7.41,1.81-14.291,5.148-20.748
                        c3.371-6.521,7.135-12.838,10.799-19.205c3.857-6.694,5.982-13.786,5.262-21.587
                        C2072.746,170.977,2072.844,170.789,2073.016,170.084z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M2046.568,238.113c0.387,1.653,0.684,2.92,1.023,4.372
                        c-3.332,0.761-6.537,1.39-9.684,2.236c-5.492,1.472-10.854,3.284-15.469,6.79c-5.312,4.038-5.418,9.091-0.158,13.207
                        c4.218,3.297,9.172,5.108,14.244,6.512c10.296,2.849,20.816,4.086,31.496,4.303c11.637,0.235,23.193-0.27,34.602-2.687
                        c7.215-1.529,14.344-3.407,20.436-7.842c5.752-4.188,5.727-9.519-0.01-13.723c-5.734-4.2-12.463-5.923-19.215-7.562
                        c-1.275-0.312-2.564-0.563-3.939-0.859c0.428-1.259,0.809-2.378,1.324-3.888c2.537,0.616,5.098,1.167,7.621,1.861
                        c6.371,1.754,12.59,3.922,18.047,7.763c1.699,1.198,3.289,2.612,4.684,4.148c4.135,4.553,3.965,9.991-0.25,14.478
                        c-4.248,4.526-9.641,7.173-15.34,9.231c-9.592,3.461-19.516,5.448-29.691,6.119c-5.09,0.335-10.193,0.824-15.287,0.746
                        c-13.465-0.208-26.811-1.544-39.689-5.774c-6.199-2.036-12.209-4.484-17.158-9.012c-6.221-5.688-6.106-12.591,0.391-17.956
                        c5.352-4.424,11.583-7.063,18.145-8.969C2037.174,240.308,2041.749,239.315,2046.568,238.113z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M2050.421,248.49c-2.55,1.004-5.187,1.792-7.56,3.067
                        c-1.215,0.654-2.674,2.153-2.719,3.317c-0.041,1.136,1.354,2.956,2.521,3.39c4.227,1.568,8.55,3.208,12.978,3.837
                        c6.479,0.924,13.08,1.364,19.629,1.332c7.602-0.035,15.234-0.635,22.588-2.845c2.256-0.676,4.467-1.653,6.504-2.829
                        c2.436-1.406,2.557-3.915,0.197-5.396c-2.033-1.285-4.398-2.046-6.627-3.022c-0.43-0.19-0.891-0.305-1.342-0.455
                        c0.557-2.075,1.727-2.588,3.605-1.885c3.975,1.489,7.979,2.906,11.963,4.372c0.383,0.145,0.73,0.41,1.068,0.657
                        c4.104,3.02,4.105,6.094-0.109,8.987c-4.607,3.162-9.955,4.451-15.311,5.502c-12.434,2.444-24.987,2.717-37.595,1.722
                        c-7.971-0.632-15.847-1.722-23.318-4.706c-2.054-0.82-4.028-1.963-5.835-3.243c-2.961-2.096-3.244-4.954-0.405-7.111
                        c2.458-1.869,5.347-3.283,8.225-4.46c2.565-1.051,5.399-1.438,8.073-2.247C2049.04,245.843,2049.883,246.942,2050.421,248.49z"></path>
                    </g>
                    <circle fill="#C7926E" cx="1949.94" cy="-321.086" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M2020.934-320.347c-2.815,2.938-5.451,5.687-8.212,8.566
                        c-3.708-2.985-7.558-6.087-11.79-9.496c0,14.807,0,29.061,0,43.477c-33.305,0-66.396,0-99.675,0c0-14.196,0-28.396,0-43.291
                        c-4.008,3.513-7.592,6.655-11.374,9.964c-2.703-2.961-5.367-5.875-8.2-8.979c3.422-3.133,6.712-6.151,10.007-9.162
                        c5.431-4.961,10.846-9.944,16.317-14.855c1.023-0.918,1.441-1.845,1.432-3.27c-0.068-8.277-0.034-16.556-0.034-24.999
                        c5.033,0,9.967,0,15.102,0c0,4.557,0,9.109,0,14.253c9.037-7.533,17.672-14.732,26.499-22.091
                        C1974.315-360.266,1997.615-340.314,2020.934-320.347z M1918.206-324.097c0,11.195,0,22.214,0,33.188c7.395,0,14.64,0,21.856,0
                        c0-11.145,0-22.112,0-33.188C1932.76-324.097,1925.566-324.097,1918.206-324.097z"></path>
                    </g>
                    <circle fill="#C7926E" cx="93.875" cy="-220.126" r="99.875"></circle>
                    <circle fill="#6BB0E1" cx="1734" cy="-5.207" r="99.125"></circle>
                    <circle fill="#6BB0E1" cx="-285.708" cy="61.289" r="99.708"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-358.257,40.171c0-2.27,0-4.465,0-7.032
                        c48.126,0,96.307,0,144.709,0c0,2.269,0,4.464,0,7.032C-261.675,40.171-309.855,40.171-358.257,40.171z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-348.393,66.354c0-2.398,0-4.297,0-6.418
                        c11.183,0,22.157,0,33.368,0c0,2.184,0,4.184,0,6.418C-326.182,66.354-337.156,66.354-348.393,66.354z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-303.369,59.875c11.079,0,21.939,0,33.137,0
                        c0,2.063,0,4.064,0,6.395c-10.843,0-21.82,0-33.137,0C-303.369,64.34-303.369,62.336-303.369,59.875z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-257.689,66.363c0-2.219,0-4.219,0-6.439
                        c11.192,0,22.169,0,33.365,0c0,2.217,0,4.219,0,6.439C-235.517,66.363-246.492,66.363-257.689,66.363z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-292.565,76.086c0,2.219,0,4.217,0,6.439
                        c-11.194,0-22.169,0-33.366,0c0-2.219,0-4.219,0-6.439C-314.737,76.086-303.763,76.086-292.565,76.086z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-279.308,82.469c0-2.24,0-4.146,0-6.328
                        c11.124,0,22.1,0,33.367,0c0,2.043,0,4.047,0,6.328C-256.927,82.469-267.903,82.469-279.308,82.469z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-315.07,98.734c-11.255,0-22.114,0-33.251,0
                        c0-2.164,0-4.166,0-6.441c11.02,0,21.996,0,33.251,0C-315.07,94.363-315.07,96.365-315.07,98.734z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-266.583,98.734c-11.253,0-22.115,0-33.253,0
                        c0-2.164,0-4.166,0-6.441c11.021,0,22,0,33.253,0C-266.583,94.363-266.583,96.365-266.583,98.734z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-218.994,98.734c-10.656,0-20.917,0-31.455,0
                        c0-2.164,0-4.166,0-6.441c10.42,0,20.799,0,31.455,0C-218.994,94.367-218.994,96.363-218.994,98.734z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-336.538,76.104c0,2.379,0,4.275,0,6.404
                        c-6.086,0-11.976,0-18.107,0c0-2.166,0-4.166,0-6.404C-348.602,76.104-342.712,76.104-336.538,76.104z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-217.233,82.586c-5.157,0-10.033,0-15.224,0
                        c0-2.115,0-4.117,0-6.42c4.919,0,9.913,0,15.224,0C-217.233,78.139-217.233,80.139-217.233,82.586z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-358.257,38.158c0-2.27,0-4.465,0-7.033
                        c48.126,0,96.307,0,144.709,0c0,2.27,0,4.465,0,7.033C-261.675,38.158-309.855,38.158-358.257,38.158z"></path>
                    </g>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M431.855,237.926c-8.926,0-17.324,0-26.09,0
                      c0-3.313,0-6.377,0-9.858c8.613,0,17.165,0,26.09,0C431.855,231.237,431.855,234.3,431.855,237.926z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M441.154,237.684c0-3.174,0-6.088,0-9.517c8.546,0,17.1,0,26.126,0
                      c0,2.867,0,5.921,0,9.517C458.8,237.684,450.097,237.684,441.154,237.684z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M397.443,237.924c-7.881,0-15.427,0-23.496,0
                      c0-3.163,0-6.229,0-9.781c7.51,0,15.238,0,23.496,0C397.443,231.096,397.443,234.158,397.443,237.924z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M488.881,237.836c-4.022,0-7.697,0-11.785,0
                      c0-3.223,0-6.283,0-9.82c3.715,0,7.538,0,11.785,0C488.881,231.006,488.881,234.061,488.881,237.836z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M454.655,255.956c-8.926,0-17.325,0-26.09,0
                      c0-3.314,0-6.376,0-9.858c8.612,0,17.166,0,26.09,0C454.655,249.267,454.655,252.33,454.655,255.956z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M463.956,255.715c0-3.176,0-6.092,0-9.518
                      c8.546,0,17.098,0,26.124,0c0,2.866,0,5.921,0,9.518C481.601,255.715,472.897,255.715,463.956,255.715z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M420.244,255.953c-7.881,0-15.427,0-23.496,0
                      c0-3.163,0-6.229,0-9.779c7.51,0,15.238,0,23.496,0C420.244,249.125,420.244,252.188,420.244,255.953z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M386.176,255.974c-4.022,0-7.698,0-11.786,0
                      c0-3.224,0-6.283,0-9.821c3.715,0,7.539,0,11.786,0C386.176,249.144,386.176,252.197,386.176,255.974z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M454.946,292.013c-8.928,0-17.324,0-26.09,0
                      c0-3.315,0-6.377,0-9.858c8.612,0,17.164,0,26.09,0C454.946,285.322,454.946,288.387,454.946,292.013z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M463.944,291.771c0-3.176,0-6.091,0-9.518c8.546,0,17.1,0,26.126,0
                      c0,2.867,0,5.921,0,9.518C481.59,291.771,472.886,291.771,463.944,291.771z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M420.535,292.012c-7.881,0-15.428,0-23.496,0
                      c0-3.165,0-6.229,0-9.782c7.51,0,15.237,0,23.496,0C420.535,285.182,420.535,288.245,420.535,292.012z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M386.466,292.029c-4.022,0-7.696,0-11.785,0
                      c0-3.223,0-6.28,0-9.817c3.716,0,7.539,0,11.785,0C386.466,285.198,386.466,288.254,386.466,292.029z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M432.297,273.688c-8.927,0-17.325,0-26.091,0
                      c0-3.315,0-6.377,0-9.859c8.614,0,17.166,0,26.091,0C432.297,266.997,432.297,270.06,432.297,273.688z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M441.597,273.445c0-3.175,0-6.091,0-9.517
                      c8.545,0,17.099,0,26.125,0c0,2.865,0,5.919,0,9.517C459.24,273.445,450.537,273.445,441.597,273.445z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M397.885,273.684c-7.881,0-15.427,0-23.496,0
                      c0-3.162,0-6.229,0-9.779c7.51,0,15.238,0,23.496,0C397.885,266.854,397.885,269.917,397.885,273.684z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M489.321,273.597c-4.021,0-7.697,0-11.784,0
                      c0-3.225,0-6.282,0-9.821c3.714,0,7.539,0,11.784,0C489.321,266.768,489.321,269.821,489.321,273.597z"></path>
                    <circle fill="#A387BE" cx="1748.477" cy="246.625" r="99.125"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1746.924,222.896c-9.717,0-18.858,0-28.4,0
                      c0-3.507,0-6.746,0-10.431c9.376,0,18.686,0,28.4,0C1746.924,215.818,1746.924,219.059,1746.924,222.896z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1757.047,222.639c0-3.357,0-6.441,0-10.067
                      c9.304,0,18.615,0,28.441,0c0,3.032,0,6.263,0,10.067C1776.257,222.639,1766.781,222.639,1757.047,222.639z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1709.465,222.893c-8.58,0-16.794,0-25.578,0
                      c0-3.346,0-6.589,0-10.347c8.176,0,16.588,0,25.578,0C1709.465,215.668,1709.465,218.909,1709.465,222.893z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1809.003,222.801c-4.379,0-8.38,0-12.83,0
                      c0-3.41,0-6.647,0-10.391c4.043,0,8.206,0,12.83,0C1809.003,215.574,1809.003,218.805,1809.003,222.801z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1771.744,243.971c-9.716,0-18.859,0-28.401,0
                      c0-3.508,0-6.746,0-10.431c9.377,0,18.688,0,28.401,0C1771.744,236.893,1771.744,240.134,1771.744,243.971z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1781.868,243.714c0-3.358,0-6.442,0-10.067
                      c9.304,0,18.613,0,28.439,0c0,3.031,0,6.263,0,10.067C1801.076,243.714,1791.603,243.714,1781.868,243.714z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1734.285,243.967c-8.58,0-16.794,0-25.578,0
                      c0-3.346,0-6.588,0-10.346c8.175,0,16.588,0,25.578,0C1734.285,236.742,1734.285,239.984,1734.285,243.967z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1697.198,243.988c-4.38,0-8.38,0-12.83,0c0-3.41,0-6.646,0-10.389
                      c4.044,0,8.206,0,12.83,0C1697.198,236.763,1697.198,239.994,1697.198,243.988z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1772.062,286.12c-9.718,0-18.859,0-28.401,0
                      c0-3.508,0-6.746,0-10.43c9.376,0,18.686,0,28.401,0C1772.062,279.042,1772.062,282.284,1772.062,286.12z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1782.185,285.864c0-3.359,0-6.443,0-10.068
                      c9.303,0,18.614,0,28.44,0c0,3.033,0,6.264,0,10.068C1801.394,285.864,1791.918,285.864,1782.185,285.864z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1734.602,286.118c-8.58,0-16.794,0-25.578,0
                      c0-3.348,0-6.59,0-10.348c8.176,0,16.588,0,25.578,0C1734.602,278.894,1734.602,282.134,1734.602,286.118z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1697.515,286.138c-4.38,0-8.38,0-12.83,0c0-3.41,0-6.645,0-10.387
                      c4.044,0,8.208,0,12.83,0C1697.515,278.911,1697.515,282.144,1697.515,286.138z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1747.404,264.731c-9.717,0-18.858,0-28.4,0
                      c0-3.508,0-6.746,0-10.43c9.376,0,18.686,0,28.4,0C1747.404,257.653,1747.404,260.894,1747.404,264.731z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1757.528,264.476c0-3.359,0-6.443,0-10.068
                      c9.303,0,18.613,0,28.44,0c0,3.031,0,6.262,0,10.068C1776.736,264.476,1767.262,264.476,1757.528,264.476z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1709.945,264.728c-8.58,0-16.794,0-25.578,0
                      c0-3.346,0-6.59,0-10.346c8.175,0,16.588,0,25.578,0C1709.945,257.503,1709.945,260.743,1709.945,264.728z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1809.482,264.636c-4.379,0-8.38,0-12.829,0
                      c0-3.412,0-6.646,0-10.391c4.043,0,8.207,0,12.829,0C1809.482,257.411,1809.482,260.642,1809.482,264.636z"></path>
                    <circle fill="#32BFC2" cx="91.875" cy="359.123" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M69.412,361.247c-4.4,0-8.416,0-12.806,0
                        c0-6.483,0-12.745,0-19.535c-10.048,0-19.728,0-29.65,0c0-4.958,0-9.379,0-14.042c14.246,0,28.3,0,42.456,0
                        C69.412,339.025,69.412,350.174,69.412,361.247z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M126.073,361.26c-4.711,0-8.726,0-13.11,0
                        c0-10.999,0-22.047,0-33.463c13.876,0,27.931,0,42.359,0c0,4.227,0,8.652,0,13.624c-9.509,0-19.189,0-29.249,0
                        C126.073,348.202,126.073,354.46,126.073,361.26z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M87.488,328.264c-1.912-0.207-3.081-0.334-5.165-0.559
                        c3.385-4.381,6.431-8.322,9.843-12.744c3.272,4.307,6.29,8.278,9.656,12.709c-1.947,0.263-3.217,0.434-4.789,0.646
                        c0,8.424,0,16.812,0,25.563c-3.214,0-6.129,0-9.545,0C87.488,345.591,87.488,337.102,87.488,328.264z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M136.991,60.514c-1.912-0.207-3.081-0.334-5.165-0.559
                        c3.385-4.381,6.431-8.322,9.843-12.744c3.272,4.307,6.29,8.278,9.656,12.709c-1.947,0.263-3.217,0.434-4.789,0.646
                        c0,8.424,0,16.812,0,25.563c-3.214,0-6.129,0-9.545,0C136.991,77.841,136.991,69.352,136.991,60.514z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M56.745,381.919c9.526,0,18.771,0,28.218,0
                        c0,2.146,0,4.055,0,6.329c-9.318,0-18.664,0-28.218,0C56.745,386.229,56.745,384.318,56.745,381.919z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M84.863,414.672c-9.465,0-18.592,0-28.021,0
                        c0-2.159,0-4.177,0-6.484c9.228,0,18.472,0,28.021,0C84.863,410.223,84.863,412.239,84.863,414.672z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M98.446,374.87c-6.817,0-13.229,0-19.924,0
                        c0-2.18,0-4.192,0-6.482c6.577,0,13.108,0,19.924,0C98.446,370.472,98.446,372.486,98.446,374.87z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M105.544,374.711c0-2.087,0-4.004,0-6.257
                        c6.525,0,13.058,0,19.95,0c0,1.884,0,3.893,0,6.257C119.019,374.711,112.373,374.711,105.544,374.711z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M91.07,388.284c0-2.115,0-4.034,0-6.278
                        c6.543,0,13.078,0,19.964,0c0,1.911,0,3.923,0,6.278C104.666,388.284,98.131,388.284,91.07,388.284z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M79.32,401.848c0-2.116,0-4.035,0-6.279c6.542,0,13.074,0,19.96,0
                        c0,1.911,0,3.923,0,6.279C92.912,401.848,86.381,401.848,79.32,401.848z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M105.521,401.896c0-2.263,0-4.181,0-6.375
                        c6.683,0,13.217,0,20.041,0c0,2.063,0,4.078,0,6.375C119.013,401.896,112.479,401.896,105.521,401.896z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M111.148,408.136c0,2.206,0,4.219,0,6.463
                        c-6.718,0-13.252,0-20.018,0c0-2.206,0-4.219,0-6.463C97.85,408.136,104.383,408.136,111.148,408.136z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M72.168,374.868c-5.128,0-10.037,0-15.288,0
                        c0-2.08,0-4.095,0-6.43c4.886,0,9.915,0,15.288,0C72.168,370.379,72.168,372.393,72.168,374.868z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M72.348,395.518c0,2.274,0,4.192,0,6.381
                        c-5.182,0-10.211,0-15.523,0c0-2.075,0-4.089,0-6.381C61.883,395.518,66.91,395.518,72.348,395.518z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M125.532,388.446c-3.072,0-5.878,0-8.999,0
                        c0-2.119,0-4.13,0-6.456c2.835,0,5.756,0,8.999,0C125.532,383.956,125.532,385.964,125.532,388.446z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M116.401,414.576c0-2.346,0-4.258,0-6.42c3.099,0,6.018,0,9.195,0
                        c0,2.139,0,4.15,0,6.42C122.564,414.576,119.645,414.576,116.401,414.576z"></path>
                    </g>
                    <rect x="363.043" y="223.65" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="138.167"
                      height="9.383"></rect>
                    <rect x="373.947" y="228.143" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="4.217"
                      height="71.443"></rect>
                    <rect x="485.854" y="228.143" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="4.217"
                      height="75.21"></rect>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M490.07,303.212c0,1.045-0.847,1.891-1.891,1.891H375.838
                      c-1.043,0-1.891-0.846-1.891-1.891v-3.393c0-1.045,0.848-1.891,1.891-1.891H488.18c1.044,0,1.891,0.846,1.891,1.891V303.212z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M2053.378-43.264c0,0.946-1.221,1.713-2.726,1.713h-87.912
                      c-1.506,0-2.727-0.767-2.727-1.713v-8.564c0-0.946,1.221-1.713,2.727-1.713h87.912c1.505,0,2.726,0.767,2.726,1.713V-43.264z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M2053.587-26.563c0,0.947-1.22,1.714-2.727,1.714h-87.912
                      c-1.505,0-2.726-0.767-2.726-1.714v-8.561c0-0.945,1.221-1.712,2.726-1.712h87.912c1.507,0,2.727,0.768,2.727,1.712V-26.563z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M2053.378-9.86c0,0.949-1.221,1.716-2.726,1.716h-87.912
                      c-1.506,0-2.727-0.767-2.727-1.716v-8.563c0-0.944,1.221-1.711,2.727-1.711h87.912c1.505,0,2.726,0.767,2.726,1.711V-9.86z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M2053.587,7.055c0,0.946-1.22,1.714-2.727,1.714h-87.912
                      c-1.505,0-2.726-0.768-2.726-1.714v-8.563c0-0.947,1.221-1.714,2.726-1.714h87.912c1.507,0,2.727,0.767,2.727,1.714V7.055z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M2063.225-63.522c0,1.938-1.571,3.51-3.51,3.51h-107.732
                      c-1.939,0-3.511-1.572-3.511-3.51v-2.633c0-1.939,1.571-3.511,3.511-3.511h107.732c1.938,0,3.51,1.572,3.51,3.511V-63.522z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M94.932-287.897c-9.082,7.57-17.965,14.977-27.261,22.726
                      c0-5.292,0-9.975,0-14.663c-5.282,0-10.358,0-15.536,0c0,8.686-0.035,17.202,0.035,25.717c0.01,1.467-0.42,2.42-1.473,3.365
                      c-5.629,5.051-11.199,10.177-16.787,15.281c-3.389,3.098-6.773,6.203-10.293,9.425c2.914,3.192,5.654,6.19,8.436,9.236
                      c3.891-3.404,7.578-6.636,11.701-10.251c0,15.322-0.197,40.761-0.197,55.364c34.234,0,68.474,0.064,102.735,0.064
                      c0-14.83,0-40.388,0-55.62c4.354,3.507,8.313,6.696,12.128,9.768c2.841-2.961,5.552-5.79,8.448-8.811
                      C142.88-246.837,118.911-267.362,94.932-287.897z M85.215-248.621c0.051-1.406,0.904-2.135,2.434-2.141
                      c3.045-0.01,6.086-0.004,9.13-0.004c2.941,0,5.885-0.003,8.829,0.001c1.899,0.005,2.639,0.747,2.644,2.643
                      c0.003,1.157,0.023,2.313-0.006,3.472c-0.038,1.415-0.827,2.228-2.243,2.233c-6.184,0.02-12.365,0.02-18.551,0.001
                      c-1.379-0.006-2.18-0.775-2.234-2.139C85.16-245.908,85.166-247.268,85.215-248.621z M64.563-216.609
                      c-0.016-0.604,0.229-0.811,0.82-0.81c4.762,0.015,9.523,0.016,14.283,0c0.6-0.001,0.829,0.218,0.813,0.817
                      c-0.026,1.089-0.039,2.184,0.006,3.272c0.027,0.698-0.238,0.922-0.924,0.913c-2.379-0.03-4.762-0.012-7.141-0.012
                      c-2.314,0-4.629-0.02-6.945,0.012c-0.69,0.01-0.942-0.228-0.915-0.92C64.602-214.426,64.592-215.519,64.563-216.609z
                       M82.789-185.581c-0.159,3.93-2.24,6.334-6.377,7.28c-2.849,0.651-5.672,0.565-8.46-0.277c-3.118-0.94-4.987-3.262-5.249-6.293
                      c-0.322-3.675,0.75-7.096,2.149-10.449c1.935-4.627,4.493-8.962,7.4-13.124c0.13-0.186,0.276-0.364,0.528-0.688
                      c1.199,1.864,2.348,3.574,3.422,5.327c2.13,3.499,4.018,7.107,5.32,10.948C82.322-190.497,82.891-188.093,82.789-185.581z
                       M124.693-225.118c-15.168-0.025-30.336-0.017-45.502-0.017c-0.428,0-0.854,0-1.398,0c0,1.742-0.025,3.298,0.01,4.848
                      c0.016,0.692-0.209,0.928-0.863,0.923c-3.176-0.029-6.354-0.029-9.53,0c-0.647,0.005-0.869-0.226-0.865-0.918
                      c0.024-3.473-0.008-6.946,0.021-10.418c0.015-2.017,2.392-4.187,4.514-4.187c6.821,0,13.643,0.004,20.465,0.006
                      c0.401,0,0.803,0,1.378,0c0-0.709,0-1.352,0-1.995c0-2.77,0-2.77,2.648-2.77c1.399,0,2.802-0.001,4.205,0
                      c1.204,0,1.204,0.001,1.204,1.326c0,1.088,0,2.176,0,3.438c0.456,0,0.844,0,1.232,0c7.476,0,14.949-0.001,22.425,0
                      c1.209,0,1.21,0,1.21,1.318c0,2.416-0.044,4.831,0.022,7.243C125.895-225.33,125.568-225.117,124.693-225.118z"></path>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1661.875-35.194c0,3.284,0,6.092,0,8.993
                        c48.119,0,96.018,0,143.863,0c0-3.284,0-6.091,0-8.993C1757.619-35.194,1709.721-35.194,1661.875-35.194z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1723.955,1.207c0-3.224,0-5.932,0-8.976
                        c-13.515,0-26.834,0-40.285,0v8.976C1697.209,1.207,1710.602,1.207,1723.955,1.207z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1663.466-7.769c0,3.403,0,6.112,0,8.976
                        c3.976,0,7.924,0,11.867,0v-8.976C1671.392-7.769,1667.447-7.769,1663.466-7.769z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1734.397,1.26c14.385,0,27.699,0,40.672,0
                        c0-3.341,0-6.196,0-8.907c-14.029,0-27.344,0-40.672,0C1734.397-4.462,1734.397-1.742,1734.397,1.26z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1709.457,19.494c14.385,0,27.691,0,40.665,0
                        c0-3.34,0-6.195,0-8.904c-14.028,0-27.337,0-40.665,0C1709.457,13.773,1709.457,16.494,1709.457,19.494z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1762.833,19.564c14.177,0,27.487,0,40.829,0
                        c0-3.258,0-6.117,0-9.043c-13.903,0-27.214,0-40.829,0C1762.833,13.635,1762.833,16.354,1762.833,19.564z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1735.521,36.58c13.785,0,27.094,0,40.782,0
                        c0-3.182,0-6.037,0-9.168c-13.785,0-27.096,0-40.782,0C1735.521,30.598,1735.521,33.449,1735.521,36.58z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1695.252,10.518c-11.078,0-21.318,0-31.625,0
                        c0,3.252,0,6.107,0,9.049c10.824,0,21.068,0,31.625,0C1695.252,16.463,1695.252,13.744,1695.252,10.518z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1785.269-7.668c0,3.299,0,6.152,0,9.157
                        c6.36,0,12.077,0,18.335,0c0-3.52,0-6.369,0-9.157C1796.997-7.668,1791.047-7.668,1785.269-7.668z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1785,36.549c6.609,0,12.559,0,18.734,0c0-3.221,0-6.072,0-9.107
                        c-6.473,0-12.42,0-18.734,0C1785,30.508,1785,33.223,1785,36.549z"></path>
                    </g>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1663.666,27.488c0,3.271,0,6.133,0,9.195
                        c7.513,0,14.932,0,22.334,0v-9.195C1678.526,27.488,1671.093,27.488,1663.666,27.488z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1725.755,27.488c-10.169,0-20.168,0-30.083,0v9.195
                        c9.963,0,19.928,0,30.083,0C1725.755,33.234,1725.755,30.373,1725.755,27.488z"></path>
                    </g>
                  </svg>
                </div>
                <div class="col-md-8">
                  <span style="font-size: 27px;font-weight: 500;">{{ countDiemKhaiThacNM }}</span>
                  <div>
                    Điểm khai thác nước mặt
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mb-3">
          <div class="card mb-0" style="height: 100%; cursor: pointer;background-color: #fff; color: #34657F;"
            (click)="openTramBom()">
            <div class="card-body" style="border-radius: 6px;">
              <div class="row text-sm-center">
                <div class="col-md-4" style="justify-content: center;
                display: flex;">
                  <svg style="height: 60px; width: 60px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px"
                    viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                    <circle cle fill="#A387BE" cx="431.958" cy="261.039" r="99.958"></circle>
                    <circle fill="#A387BE" cx="1556.052" cy="-315.854" r="99.625"></circle>
                    <circle fill="#7C7C7C" cx="660.375" cy="5.373" r="99.625"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M665.851-44.532c-15.705,13.84-17.024,54.615-0.154,70.818
                        c-1.574,0-2.729,0-3.882,0c-15.545,0-31.096-0.197-46.637,0.085c-7.404,0.135-12.218-3.115-15.248-9.47
                        c-4.965-10.408-6.095-21.518-4.798-32.765c0.7-6.07,2.211-12.181,4.316-17.921c2.698-7.357,7.981-11.167,16.531-10.888
                        c15.313,0.5,30.654,0.141,45.981,0.141C663.029-44.532,664.098-44.532,665.851-44.532z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M719.764,72.759c-14.021,0-28.017,0-42.228,0
                        c-0.642-6.512-0.984-13.01-1.981-19.405c-1.354-8.666-3.186-17.256-4.879-25.865c-0.176-0.894-0.582-2.103-1.262-2.481
                        c-7.111-3.955-9.998-10.68-11.646-18.023c-2.91-12.973-2.796-25.912,2.205-38.407c1.378-3.443,3.516-6.798,6.032-9.523
                        c4.646-5.029,10.421-4.626,15.48,0.003c5.681,5.199,8.37,13.591,9.207,20.718c0.89,7.591,0.843,13.5,0.717,21.076
                        c0.021,0.866-0.064,2.686,0.482,3.162c7.979,6.959,11.775,16.104,15.662,25.564c5.581,13.585,9.381,27.706,12.256,42.087
                        C719.871,71.967,719.787,72.301,719.764,72.759z M687.836,1.359c0-5.386,0.393-9.87,0.084-14.379
                        c-0.484-7.08-1.447-14.015-5.772-19.916c-4.698-6.412-11.772-6.461-16.12,0.178c-6.453,9.859-6.954,20.962-5.74,32.27
                        c0.248,2.314,1.7,2.964,3.701,1.928C671.508-2.454,678.979-2.728,687.836,1.359z"></path>
                    </g>
                    <circle fill="#05AD53" cx="-89.875" cy="-192.877" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M-90.906-264.686c2.813,4.139,5.534,7.846,7.945,11.748
                        c7.237,11.712,13.573,23.853,16.675,37.405c2.03,8.88,2.581,17.745-1.911,26.111c-4.402,8.206-11.563,12.171-20.737,12.732
                        c-6.501,0.397-12.404-1.288-17.422-5.461c-5.25-4.366-6.792-10.409-7.043-16.921c-0.304-7.766,1.897-14.976,5.396-21.743
                        c3.533-6.834,7.477-13.455,11.318-20.127c4.042-7.016,6.269-14.448,5.513-22.624C-91.189-263.75-91.086-263.946-90.906-264.686z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M-118.624-193.388c0.406,1.732,0.716,3.059,1.074,4.582
                        c-3.492,0.797-6.851,1.456-10.149,2.343c-5.755,1.543-11.375,3.442-16.211,7.116c-5.566,4.232-5.678,9.527-0.165,13.841
                        c4.419,3.455,9.611,5.354,14.928,6.824c10.79,2.986,21.815,4.282,33.007,4.51c12.196,0.247,24.308-0.282,36.262-2.815
                        c7.562-1.603,15.032-3.571,21.416-8.219c6.028-4.389,6.002-9.975-0.01-14.381c-6.009-4.401-13.06-6.207-20.137-7.925
                        c-1.337-0.326-2.688-0.59-4.129-0.9c0.448-1.319,0.848-2.492,1.388-4.074c2.66,0.646,5.344,1.223,7.988,1.95
                        c6.675,1.839,13.192,4.11,18.912,8.136c1.78,1.256,3.447,2.737,4.908,4.348c4.333,4.771,4.155,10.471-0.262,15.173
                        c-4.452,4.743-10.104,7.517-16.076,9.674c-10.053,3.627-20.451,5.71-31.115,6.413c-5.336,0.352-10.685,0.864-16.022,0.782
                        c-14.111-0.218-28.098-1.618-41.596-6.052c-6.496-2.134-12.794-4.7-17.98-9.444c-6.521-5.962-6.4-13.195,0.408-18.818
                        c5.608-4.636,12.14-7.402,19.017-9.399C-128.468-191.089-123.673-192.128-118.624-193.388z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M-114.585-182.514c-2.673,1.052-5.436,1.878-7.922,3.215
                        c-1.274,0.686-2.803,2.256-2.85,3.477c-0.043,1.189,1.418,3.098,2.641,3.552c4.43,1.644,8.96,3.362,13.601,4.021
                        c6.791,0.968,13.708,1.43,20.571,1.396c7.968-0.036,15.965-0.665,23.673-2.981c2.362-0.708,4.682-1.732,6.816-2.965
                        c2.553-1.474,2.677-4.103,0.207-5.655c-2.134-1.347-4.612-2.144-6.946-3.167c-0.45-0.2-0.934-0.319-1.405-0.478
                        c0.581-2.175,1.809-2.712,3.776-1.975c4.166,1.561,8.362,3.045,12.537,4.581c0.403,0.151,0.766,0.431,1.121,0.689
                        c4.3,3.164,4.302,6.386-0.115,9.418c-4.828,3.314-10.433,4.665-16.044,5.767c-13.031,2.562-26.188,2.847-39.401,1.805
                        c-8.353-0.663-16.607-1.805-24.438-4.933c-2.152-0.859-4.222-2.057-6.115-3.398c-3.103-2.196-3.399-5.192-0.424-7.453
                        c2.576-1.959,5.604-3.44,8.619-4.674c2.689-1.102,5.659-1.508,8.461-2.354C-116.033-185.288-115.15-184.136-114.585-182.514z"></path>
                    </g>
                    <circle fill="#C7926E" cx="325.875" cy="-129.876" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M396.868-129.137c-2.815,2.938-5.451,5.687-8.212,8.566
                        c-3.708-2.985-7.558-6.087-11.79-9.496c0,14.807,0,29.061,0,43.477c-33.305,0-66.396,0-99.675,0c0-14.196,0-28.396,0-43.291
                        c-4.008,3.513-7.592,6.655-11.374,9.964c-2.703-2.961-5.367-5.875-8.2-8.979c3.422-3.133,6.712-6.151,10.007-9.162
                        c5.431-4.961,10.846-9.944,16.317-14.855c1.023-0.918,1.441-1.845,1.432-3.27c-0.068-8.277-0.034-16.556-0.034-24.999
                        c5.033,0,9.967,0,15.102,0c0,4.557,0,9.109,0,14.253c9.037-7.533,17.672-14.732,26.499-22.091
                        C350.25-169.056,373.55-149.104,396.868-129.137z M294.141-132.887c0,11.195,0,22.214,0,33.188c7.395,0,14.64,0,21.856,0
                        c0-11.145,0-22.112,0-33.188C308.694-132.887,301.501-132.887,294.141-132.887z"></path>
                    </g>
                    <circle fill="#C7926E" cx="99.875" cy="99.874" r="99.875"></circle>
                    <circle fill="#6BB0E1" cx="1734" cy="-5.207" r="99.125"></circle>
                    <circle fill="#6BB0E1" cx="-285.708" cy="61.289" r="99.708"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-358.257,40.171c0-2.27,0-4.465,0-7.032
                        c48.126,0,96.307,0,144.709,0c0,2.269,0,4.464,0,7.032C-261.675,40.171-309.855,40.171-358.257,40.171z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-348.393,66.354c0-2.398,0-4.297,0-6.418
                        c11.183,0,22.157,0,33.368,0c0,2.184,0,4.184,0,6.418C-326.182,66.354-337.156,66.354-348.393,66.354z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-303.369,59.875c11.079,0,21.939,0,33.137,0
                        c0,2.063,0,4.064,0,6.395c-10.843,0-21.82,0-33.137,0C-303.369,64.34-303.369,62.336-303.369,59.875z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-257.689,66.363c0-2.219,0-4.219,0-6.439
                        c11.192,0,22.169,0,33.365,0c0,2.217,0,4.219,0,6.439C-235.517,66.363-246.492,66.363-257.689,66.363z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-292.565,76.086c0,2.219,0,4.217,0,6.439
                        c-11.194,0-22.169,0-33.366,0c0-2.219,0-4.219,0-6.439C-314.737,76.086-303.763,76.086-292.565,76.086z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-279.308,82.469c0-2.24,0-4.146,0-6.328
                        c11.124,0,22.1,0,33.367,0c0,2.043,0,4.047,0,6.328C-256.927,82.469-267.903,82.469-279.308,82.469z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-315.07,98.734c-11.255,0-22.114,0-33.251,0
                        c0-2.164,0-4.166,0-6.441c11.02,0,21.996,0,33.251,0C-315.07,94.363-315.07,96.365-315.07,98.734z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-266.583,98.734c-11.253,0-22.115,0-33.253,0
                        c0-2.164,0-4.166,0-6.441c11.021,0,22,0,33.253,0C-266.583,94.363-266.583,96.365-266.583,98.734z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-218.994,98.734c-10.656,0-20.917,0-31.455,0
                        c0-2.164,0-4.166,0-6.441c10.42,0,20.799,0,31.455,0C-218.994,94.367-218.994,96.363-218.994,98.734z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-336.538,76.104c0,2.379,0,4.275,0,6.404
                        c-6.086,0-11.976,0-18.107,0c0-2.166,0-4.166,0-6.404C-348.602,76.104-342.712,76.104-336.538,76.104z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-217.233,82.586c-5.157,0-10.033,0-15.224,0
                        c0-2.115,0-4.117,0-6.42c4.919,0,9.913,0,15.224,0C-217.233,78.139-217.233,80.139-217.233,82.586z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-358.257,38.158c0-2.27,0-4.465,0-7.033
                        c48.126,0,96.307,0,144.709,0c0,2.27,0,4.465,0,7.033C-261.675,38.158-309.855,38.158-358.257,38.158z"></path>
                    </g>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M431.855,237.926c-8.926,0-17.324,0-26.09,0
                      c0-3.313,0-6.377,0-9.858c8.613,0,17.165,0,26.09,0C431.855,231.237,431.855,234.3,431.855,237.926z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M441.154,237.684c0-3.174,0-6.088,0-9.517c8.546,0,17.1,0,26.126,0
                      c0,2.867,0,5.921,0,9.517C458.8,237.684,450.097,237.684,441.154,237.684z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M397.443,237.924c-7.881,0-15.427,0-23.496,0
                      c0-3.163,0-6.229,0-9.781c7.51,0,15.238,0,23.496,0C397.443,231.096,397.443,234.158,397.443,237.924z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M488.881,237.836c-4.022,0-7.697,0-11.785,0
                      c0-3.223,0-6.283,0-9.82c3.715,0,7.538,0,11.785,0C488.881,231.006,488.881,234.061,488.881,237.836z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M454.655,255.956c-8.926,0-17.325,0-26.09,0
                      c0-3.314,0-6.376,0-9.858c8.612,0,17.166,0,26.09,0C454.655,249.267,454.655,252.33,454.655,255.956z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M463.956,255.715c0-3.176,0-6.092,0-9.518
                      c8.546,0,17.098,0,26.124,0c0,2.866,0,5.921,0,9.518C481.601,255.715,472.897,255.715,463.956,255.715z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M420.244,255.953c-7.881,0-15.427,0-23.496,0
                      c0-3.163,0-6.229,0-9.779c7.51,0,15.238,0,23.496,0C420.244,249.125,420.244,252.188,420.244,255.953z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M386.176,255.974c-4.022,0-7.698,0-11.786,0
                      c0-3.224,0-6.283,0-9.821c3.715,0,7.539,0,11.786,0C386.176,249.144,386.176,252.197,386.176,255.974z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M454.946,292.013c-8.928,0-17.324,0-26.09,0
                      c0-3.315,0-6.377,0-9.858c8.612,0,17.164,0,26.09,0C454.946,285.322,454.946,288.387,454.946,292.013z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M463.944,291.771c0-3.176,0-6.091,0-9.518c8.546,0,17.1,0,26.126,0
                      c0,2.867,0,5.921,0,9.518C481.59,291.771,472.886,291.771,463.944,291.771z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M420.535,292.012c-7.881,0-15.428,0-23.496,0
                      c0-3.165,0-6.229,0-9.782c7.51,0,15.237,0,23.496,0C420.535,285.182,420.535,288.245,420.535,292.012z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M386.466,292.029c-4.022,0-7.696,0-11.785,0
                      c0-3.223,0-6.28,0-9.817c3.716,0,7.539,0,11.785,0C386.466,285.198,386.466,288.254,386.466,292.029z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M432.297,273.688c-8.927,0-17.325,0-26.091,0
                      c0-3.315,0-6.377,0-9.859c8.614,0,17.166,0,26.091,0C432.297,266.997,432.297,270.06,432.297,273.688z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M441.597,273.445c0-3.175,0-6.091,0-9.517
                      c8.545,0,17.099,0,26.125,0c0,2.865,0,5.919,0,9.517C459.24,273.445,450.537,273.445,441.597,273.445z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M397.885,273.684c-7.881,0-15.427,0-23.496,0
                      c0-3.162,0-6.229,0-9.779c7.51,0,15.238,0,23.496,0C397.885,266.854,397.885,269.917,397.885,273.684z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M489.321,273.597c-4.021,0-7.697,0-11.784,0
                      c0-3.225,0-6.282,0-9.821c3.714,0,7.539,0,11.784,0C489.321,266.768,489.321,269.821,489.321,273.597z"></path>
                    <circle fill="#A387BE" cx="1748.477" cy="246.625" r="99.125"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1746.924,222.896c-9.717,0-18.858,0-28.4,0
                      c0-3.507,0-6.746,0-10.431c9.376,0,18.686,0,28.4,0C1746.924,215.818,1746.924,219.059,1746.924,222.896z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1757.047,222.639c0-3.357,0-6.441,0-10.067
                      c9.304,0,18.615,0,28.441,0c0,3.032,0,6.263,0,10.067C1776.257,222.639,1766.781,222.639,1757.047,222.639z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1709.465,222.893c-8.58,0-16.794,0-25.578,0
                      c0-3.346,0-6.589,0-10.347c8.176,0,16.588,0,25.578,0C1709.465,215.668,1709.465,218.909,1709.465,222.893z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1809.003,222.801c-4.379,0-8.38,0-12.83,0
                      c0-3.41,0-6.647,0-10.391c4.043,0,8.206,0,12.83,0C1809.003,215.574,1809.003,218.805,1809.003,222.801z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1771.744,243.971c-9.716,0-18.859,0-28.401,0
                      c0-3.508,0-6.746,0-10.431c9.377,0,18.688,0,28.401,0C1771.744,236.893,1771.744,240.134,1771.744,243.971z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1781.868,243.714c0-3.358,0-6.442,0-10.067
                      c9.304,0,18.613,0,28.439,0c0,3.031,0,6.263,0,10.067C1801.076,243.714,1791.603,243.714,1781.868,243.714z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1734.285,243.967c-8.58,0-16.794,0-25.578,0
                      c0-3.346,0-6.588,0-10.346c8.175,0,16.588,0,25.578,0C1734.285,236.742,1734.285,239.984,1734.285,243.967z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1697.198,243.988c-4.38,0-8.38,0-12.83,0c0-3.41,0-6.646,0-10.389
                      c4.044,0,8.206,0,12.83,0C1697.198,236.763,1697.198,239.994,1697.198,243.988z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1772.062,286.12c-9.718,0-18.859,0-28.401,0
                      c0-3.508,0-6.746,0-10.43c9.376,0,18.686,0,28.401,0C1772.062,279.042,1772.062,282.284,1772.062,286.12z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1782.185,285.864c0-3.359,0-6.443,0-10.068
                      c9.303,0,18.614,0,28.44,0c0,3.033,0,6.264,0,10.068C1801.394,285.864,1791.918,285.864,1782.185,285.864z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1734.602,286.118c-8.58,0-16.794,0-25.578,0
                      c0-3.348,0-6.59,0-10.348c8.176,0,16.588,0,25.578,0C1734.602,278.894,1734.602,282.134,1734.602,286.118z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1697.515,286.138c-4.38,0-8.38,0-12.83,0c0-3.41,0-6.645,0-10.387
                      c4.044,0,8.208,0,12.83,0C1697.515,278.911,1697.515,282.144,1697.515,286.138z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1747.404,264.731c-9.717,0-18.858,0-28.4,0
                      c0-3.508,0-6.746,0-10.43c9.376,0,18.686,0,28.4,0C1747.404,257.653,1747.404,260.894,1747.404,264.731z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1757.528,264.476c0-3.359,0-6.443,0-10.068
                      c9.303,0,18.613,0,28.44,0c0,3.031,0,6.262,0,10.068C1776.736,264.476,1767.262,264.476,1757.528,264.476z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1709.945,264.728c-8.58,0-16.794,0-25.578,0
                      c0-3.346,0-6.59,0-10.346c8.175,0,16.588,0,25.578,0C1709.945,257.503,1709.945,260.743,1709.945,264.728z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1809.482,264.636c-4.379,0-8.38,0-12.829,0
                      c0-3.412,0-6.646,0-10.391c4.043,0,8.207,0,12.829,0C1809.482,257.411,1809.482,260.642,1809.482,264.636z"></path>
                    <circle fill="#32BFC2" cx="91.875" cy="359.123" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M69.412,361.247c-4.4,0-8.416,0-12.806,0
                        c0-6.483,0-12.745,0-19.535c-10.048,0-19.728,0-29.65,0c0-4.958,0-9.379,0-14.042c14.246,0,28.3,0,42.456,0
                        C69.412,339.025,69.412,350.174,69.412,361.247z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M126.073,361.26c-4.711,0-8.726,0-13.11,0
                        c0-10.999,0-22.047,0-33.463c13.876,0,27.931,0,42.359,0c0,4.227,0,8.652,0,13.624c-9.509,0-19.189,0-29.249,0
                        C126.073,348.202,126.073,354.46,126.073,361.26z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M87.488,328.264c-1.912-0.207-3.081-0.334-5.165-0.559
                        c3.385-4.381,6.431-8.322,9.843-12.744c3.272,4.307,6.29,8.278,9.656,12.709c-1.947,0.263-3.217,0.434-4.789,0.646
                        c0,8.424,0,16.812,0,25.563c-3.214,0-6.129,0-9.545,0C87.488,345.591,87.488,337.102,87.488,328.264z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M56.745,381.919c9.526,0,18.771,0,28.218,0
                        c0,2.146,0,4.055,0,6.329c-9.318,0-18.664,0-28.218,0C56.745,386.229,56.745,384.318,56.745,381.919z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M84.863,414.672c-9.465,0-18.592,0-28.021,0
                        c0-2.159,0-4.177,0-6.484c9.228,0,18.472,0,28.021,0C84.863,410.223,84.863,412.239,84.863,414.672z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M98.446,374.87c-6.817,0-13.229,0-19.924,0
                        c0-2.18,0-4.192,0-6.482c6.577,0,13.108,0,19.924,0C98.446,370.472,98.446,372.486,98.446,374.87z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M105.544,374.711c0-2.087,0-4.004,0-6.257
                        c6.525,0,13.058,0,19.95,0c0,1.884,0,3.893,0,6.257C119.019,374.711,112.373,374.711,105.544,374.711z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M91.07,388.284c0-2.115,0-4.034,0-6.278
                        c6.543,0,13.078,0,19.964,0c0,1.911,0,3.923,0,6.278C104.666,388.284,98.131,388.284,91.07,388.284z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M79.32,401.848c0-2.116,0-4.035,0-6.279c6.542,0,13.074,0,19.96,0
                        c0,1.911,0,3.923,0,6.279C92.912,401.848,86.381,401.848,79.32,401.848z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M105.521,401.896c0-2.263,0-4.181,0-6.375
                        c6.683,0,13.217,0,20.041,0c0,2.063,0,4.078,0,6.375C119.013,401.896,112.479,401.896,105.521,401.896z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M111.148,408.136c0,2.206,0,4.219,0,6.463
                        c-6.718,0-13.252,0-20.018,0c0-2.206,0-4.219,0-6.463C97.85,408.136,104.383,408.136,111.148,408.136z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M72.168,374.868c-5.128,0-10.037,0-15.288,0
                        c0-2.08,0-4.095,0-6.43c4.886,0,9.915,0,15.288,0C72.168,370.379,72.168,372.393,72.168,374.868z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M72.348,395.518c0,2.274,0,4.192,0,6.381
                        c-5.182,0-10.211,0-15.523,0c0-2.075,0-4.089,0-6.381C61.883,395.518,66.91,395.518,72.348,395.518z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M125.532,388.446c-3.072,0-5.878,0-8.999,0
                        c0-2.119,0-4.13,0-6.456c2.835,0,5.756,0,8.999,0C125.532,383.956,125.532,385.964,125.532,388.446z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M116.401,414.576c0-2.346,0-4.258,0-6.42c3.099,0,6.018,0,9.195,0
                        c0,2.139,0,4.15,0,6.42C122.564,414.576,119.645,414.576,116.401,414.576z"></path>
                    </g>
                    <g>
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                          d="M1661.875-26.201c0-2.901,0-5.709,0-8.993
                          c47.846,0,95.744,0,143.863,0c0,2.902,0,5.709,0,8.993C1757.893-26.201,1709.994-26.201,1661.875-26.201z"></path>
                      </g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1663.466-7.769c19.409,0,38.242,0,57.486,0
                        c0,3.044,0,5.752,0,8.976c-18.981,0-38.024,0-57.486,0C1663.466-1.657,1663.466-4.366,1663.466-7.769z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1720.75,36.684c-19.283,0-37.875,0-57.084,0
                        c0-3.063,0-5.924,0-9.195c18.799,0,37.633,0,57.084,0C1720.75,30.373,1720.75,33.234,1720.75,36.684z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1733.396,1.26c0-3.001,0-5.722,0-8.907
                        c13.328,0,26.643,0,40.672,0c0,2.711,0,5.565,0,8.907C1761.096,1.26,1747.781,1.26,1733.396,1.26z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1709.457,19.494c0-3,0-5.721,0-8.904c13.328,0,26.637,0,40.665,0
                        c0,2.709,0,5.564,0,8.904C1737.148,19.494,1723.842,19.494,1709.457,19.494z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1762.833,19.564c0-3.211,0-5.93,0-9.043
                        c13.615,0,26.926,0,40.829,0c0,2.926,0,5.785,0,9.043C1790.32,19.564,1777.01,19.564,1762.833,19.564z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1774.301,27.412c0,3.131,0,5.986,0,9.168
                        c-13.688,0-26.997,0-40.782,0c0-3.131,0-5.982,0-9.168C1747.205,27.412,1760.516,27.412,1774.301,27.412z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1695.252,10.518c0,3.227,0,5.945,0,9.049
                        c-10.557,0-20.801,0-31.625,0c0-2.941,0-5.797,0-9.049C1673.934,10.518,1684.174,10.518,1695.252,10.518z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1803.604,1.488c-6.258,0-11.975,0-18.335,0
                        c0-3.004,0-5.858,0-9.157c5.778,0,11.729,0,18.335,0C1803.604-4.88,1803.604-2.032,1803.604,1.488z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1785,36.549c0-3.326,0-6.041,0-9.107c6.314,0,12.262,0,18.734,0
                        c0,3.035,0,5.887,0,9.107C1797.559,36.549,1791.609,36.549,1785,36.549z"></path>
                    </g>
                    <rect x="363.043" y="223.65" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="138.167"
                      height="9.383"></rect>
                    <rect x="373.947" y="228.143" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="4.217"
                      height="71.443"></rect>
                    <rect x="485.854" y="228.143" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="4.217"
                      height="75.21"></rect>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M490.07,303.212c0,1.045-0.847,1.891-1.891,1.891H375.838
                      c-1.043,0-1.891-0.846-1.891-1.891v-3.393c0-1.045,0.848-1.891,1.891-1.891H488.18c1.044,0,1.891,0.846,1.891,1.891V303.212z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1603.333-325.292c0,0.946-1.221,1.713-2.726,1.713h-87.912
                      c-1.506,0-2.727-0.767-2.727-1.713v-8.564c0-0.946,1.221-1.713,2.727-1.713h87.912c1.505,0,2.726,0.767,2.726,1.713V-325.292z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1603.542-308.591c0,0.947-1.22,1.714-2.727,1.714h-87.912
                      c-1.505,0-2.726-0.767-2.726-1.714v-8.561c0-0.945,1.221-1.712,2.726-1.712h87.912c1.507,0,2.727,0.768,2.727,1.712V-308.591z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1603.333-291.888c0,0.949-1.221,1.716-2.726,1.716h-87.912
                      c-1.506,0-2.727-0.767-2.727-1.716v-8.563c0-0.944,1.221-1.711,2.727-1.711h87.912c1.505,0,2.726,0.767,2.726,1.711V-291.888z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1603.542-274.973c0,0.946-1.22,1.714-2.727,1.714h-87.912
                      c-1.505,0-2.726-0.768-2.726-1.714v-8.563c0-0.947,1.221-1.714,2.726-1.714h87.912c1.507,0,2.727,0.767,2.727,1.714V-274.973z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1613.18-345.55c0,1.938-1.571,3.51-3.51,3.51h-107.732
                      c-1.939,0-3.511-1.572-3.511-3.51v-2.633c0-1.939,1.571-3.511,3.511-3.511h107.732c1.938,0,3.51,1.572,3.51,3.511V-345.55z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M100.931,32.103c-9.082,7.57-17.965,14.977-27.26,22.726
                      c0-5.292,0-9.975,0-14.663c-5.282,0-10.358,0-15.537,0c0,8.686-0.035,17.202,0.036,25.717c0.01,1.467-0.42,2.42-1.473,3.365
                      c-5.629,5.051-11.199,10.177-16.787,15.281c-3.39,3.098-6.773,6.203-10.293,9.425c2.914,3.192,5.654,6.19,8.435,9.236
                      c3.891-3.404,7.579-6.636,11.701-10.251c0,15.322-0.197,40.761-0.197,55.364c34.234,0,68.473,0.064,102.735,0.064
                      c0-14.83,0-40.388,0-55.62c4.354,3.507,8.313,6.696,12.128,9.768c2.841-2.961,5.552-5.79,8.448-8.811
                      C148.88,73.163,124.911,52.638,100.931,32.103z M91.215,71.379c0.051-1.406,0.904-2.135,2.434-2.141
                      c3.045-0.01,6.086-0.004,9.13-0.004c2.941,0,5.885-0.003,8.829,0.001c1.899,0.005,2.639,0.747,2.644,2.643
                      c0.003,1.157,0.023,2.313-0.006,3.472c-0.038,1.415-0.827,2.228-2.243,2.233c-6.184,0.02-12.366,0.02-18.55,0.001
                      c-1.38-0.006-2.18-0.775-2.235-2.139C91.161,74.092,91.167,72.732,91.215,71.379z M70.563,103.391
                      c-0.015-0.604,0.228-0.811,0.821-0.81c4.761,0.015,9.523,0.016,14.283,0c0.6-0.001,0.829,0.218,0.813,0.817
                      c-0.027,1.089-0.039,2.184,0.005,3.272c0.028,0.698-0.238,0.922-0.924,0.913c-2.379-0.03-4.761-0.012-7.14-0.012
                      c-2.314,0-4.629-0.02-6.945,0.012c-0.691,0.01-0.943-0.228-0.916-0.92C70.602,105.574,70.591,104.481,70.563,103.391z
                       M88.789,134.419c-0.159,3.93-2.24,6.334-6.377,7.28c-2.848,0.651-5.672,0.565-8.459-0.277c-3.118-0.94-4.988-3.262-5.25-6.293
                      c-0.321-3.675,0.75-7.096,2.15-10.449c1.935-4.627,4.494-8.962,7.4-13.124c0.13-0.186,0.276-0.364,0.528-0.688
                      c1.2,1.864,2.349,3.574,3.422,5.327c2.13,3.499,4.018,7.107,5.321,10.948C88.323,129.503,88.891,131.907,88.789,134.419z
                       M130.693,94.882c-15.168-0.025-30.336-0.017-45.502-0.017c-0.427,0-0.853,0-1.398,0c0,1.742-0.025,3.298,0.009,4.848
                      c0.016,0.692-0.208,0.928-0.863,0.923c-3.176-0.029-6.354-0.029-9.53,0c-0.648,0.005-0.869-0.226-0.865-0.918
                      c0.024-3.473-0.008-6.946,0.02-10.418c0.015-2.017,2.392-4.187,4.515-4.187c6.821,0,13.642,0.004,20.464,0.006
                      c0.401,0,0.803,0,1.378,0c0-0.709,0-1.352,0-1.995c0-2.77,0-2.77,2.648-2.77c1.399,0,2.802-0.001,4.205,0
                      c1.204,0,1.204,0.001,1.204,1.326c0,1.088,0,2.176,0,3.438c0.456,0,0.844,0,1.232,0c7.476,0,14.949-0.001,22.425,0
                      c1.209,0,1.21,0,1.21,1.318c0,2.416-0.044,4.831,0.022,7.243C131.895,94.67,131.568,94.883,130.693,94.882z"></path>
                  </svg>
                </div>
                <div class="col-md-8">
                  <span style="font-size: 27px; font-weight: 500;">{{ countTramBom }}</span>
                  <div>
                    Trạm bơm
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mb-3">
          <div class="card mb-0" style="height: 100%; cursor: pointer;background-color: #fff; color: #34657F;"
            (click)="openXaNuocThai()">
            <div class="card-body" style="border-radius: 6px;">
              <div class="row text-sm-center">
                <div class="col-md-4" style="justify-content: center;
              display: flex;">
                  <svg style="height: 60px; width: 60px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px"
                    viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                    <circle fill="#A387BE" cx="431.958" cy="261.039" r="99.958"></circle>
                    <circle fill="#A387BE" cx="1044.375" cy="254.625" r="99.625"></circle>
                    <circle fill="#7C7C7C" cx="100.375" cy="100.373" r="99.625"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M105.851,50.468c-15.705,13.84-17.024,54.615-0.154,70.818
                    c-1.574,0-2.729,0-3.882,0c-15.545,0-31.096-0.197-46.637,0.085c-7.404,0.135-12.218-3.115-15.248-9.47
                    c-4.965-10.408-6.095-21.518-4.798-32.765c0.7-6.07,2.211-12.181,4.316-17.921c2.698-7.357,7.981-11.167,16.531-10.888
                    c15.313,0.5,30.654,0.141,45.981,0.141C103.029,50.468,104.098,50.468,105.851,50.468z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M159.764,167.759c-14.021,0-28.017,0-42.228,0
                    c-0.642-6.512-0.984-13.01-1.981-19.405c-1.354-8.666-3.186-17.256-4.879-25.865c-0.176-0.894-0.582-2.103-1.262-2.481
                    c-7.111-3.955-9.998-10.68-11.646-18.023c-2.91-12.973-2.796-25.912,2.205-38.407c1.378-3.443,3.516-6.798,6.032-9.523
                    c4.646-5.029,10.421-4.626,15.48,0.003c5.681,5.199,8.37,13.591,9.207,20.718c0.89,7.591,0.843,13.5,0.717,21.076
                    c0.021,0.866-0.064,2.686,0.482,3.162c7.979,6.959,11.775,16.104,15.662,25.564c5.581,13.585,9.381,27.706,12.256,42.087
                    C159.871,166.967,159.787,167.301,159.764,167.759z M127.836,96.359c0-5.386,0.393-9.87,0.084-14.379
                    c-0.484-7.08-1.447-14.015-5.772-19.916c-4.698-6.412-11.772-6.461-16.12,0.178c-6.453,9.859-6.954,20.962-5.74,32.27
                    c0.248,2.314,1.7,2.964,3.701,1.928C111.508,92.546,118.979,92.272,127.836,96.359z"></path>
                    </g>
                    <circle fill="#05AD53" cx="-89.875" cy="-192.877" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M-90.906-264.686c2.813,4.139,5.534,7.846,7.945,11.748
                    c7.237,11.712,13.573,23.853,16.675,37.405c2.03,8.88,2.581,17.745-1.911,26.111c-4.402,8.206-11.563,12.171-20.737,12.732
                    c-6.501,0.397-12.404-1.288-17.422-5.461c-5.25-4.366-6.792-10.409-7.043-16.921c-0.304-7.766,1.897-14.976,5.396-21.743
                    c3.533-6.834,7.477-13.455,11.318-20.127c4.042-7.016,6.269-14.448,5.513-22.624C-91.189-263.75-91.086-263.946-90.906-264.686z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M-118.624-193.388c0.406,1.732,0.716,3.059,1.074,4.582
                    c-3.492,0.797-6.851,1.456-10.149,2.343c-5.755,1.543-11.375,3.442-16.211,7.116c-5.566,4.232-5.678,9.527-0.165,13.841
                    c4.419,3.455,9.611,5.354,14.928,6.824c10.79,2.986,21.815,4.282,33.007,4.51c12.196,0.247,24.308-0.282,36.262-2.815
                    c7.562-1.603,15.032-3.571,21.416-8.219c6.028-4.389,6.002-9.975-0.01-14.381c-6.009-4.401-13.06-6.207-20.137-7.925
                    c-1.337-0.326-2.688-0.59-4.129-0.9c0.448-1.319,0.848-2.492,1.388-4.074c2.66,0.646,5.344,1.223,7.988,1.95
                    c6.675,1.839,13.192,4.11,18.912,8.136c1.78,1.256,3.447,2.737,4.908,4.348c4.333,4.771,4.155,10.471-0.262,15.173
                    c-4.452,4.743-10.104,7.517-16.076,9.674c-10.053,3.627-20.451,5.71-31.115,6.413c-5.336,0.352-10.685,0.864-16.022,0.782
                    c-14.111-0.218-28.098-1.618-41.596-6.052c-6.496-2.134-12.794-4.7-17.98-9.444c-6.521-5.962-6.4-13.195,0.408-18.818
                    c5.608-4.636,12.14-7.402,19.017-9.399C-128.468-191.089-123.673-192.128-118.624-193.388z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M-114.585-182.514c-2.673,1.052-5.436,1.878-7.922,3.215
                    c-1.274,0.686-2.803,2.256-2.85,3.477c-0.043,1.189,1.418,3.098,2.641,3.552c4.43,1.644,8.96,3.362,13.601,4.021
                    c6.791,0.968,13.708,1.43,20.571,1.396c7.968-0.036,15.965-0.665,23.673-2.981c2.362-0.708,4.682-1.732,6.816-2.965
                    c2.553-1.474,2.677-4.103,0.207-5.655c-2.134-1.347-4.612-2.144-6.946-3.167c-0.45-0.2-0.934-0.319-1.405-0.478
                    c0.581-2.175,1.809-2.712,3.776-1.975c4.166,1.561,8.362,3.045,12.537,4.581c0.403,0.151,0.766,0.431,1.121,0.689
                    c4.3,3.164,4.302,6.386-0.115,9.418c-4.828,3.314-10.433,4.665-16.044,5.767c-13.031,2.562-26.188,2.847-39.401,1.805
                    c-8.353-0.663-16.607-1.805-24.438-4.933c-2.152-0.859-4.222-2.057-6.115-3.398c-3.103-2.196-3.399-5.192-0.424-7.453
                    c2.576-1.959,5.604-3.44,8.619-4.674c2.689-1.102,5.659-1.508,8.461-2.354C-116.033-185.288-115.15-184.136-114.585-182.514z"></path>
                    </g>
                    <circle fill="#C7926E" cx="325.875" cy="-129.876" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M396.868-129.137c-2.815,2.938-5.451,5.687-8.212,8.566
                    c-3.708-2.985-7.558-6.087-11.79-9.496c0,14.807,0,29.061,0,43.477c-33.305,0-66.396,0-99.675,0c0-14.196,0-28.396,0-43.291
                    c-4.008,3.513-7.592,6.655-11.374,9.964c-2.703-2.961-5.367-5.875-8.2-8.979c3.422-3.133,6.712-6.151,10.007-9.162
                    c5.431-4.961,10.846-9.944,16.317-14.855c1.023-0.918,1.441-1.845,1.432-3.27c-0.068-8.277-0.034-16.556-0.034-24.999
                    c5.033,0,9.967,0,15.102,0c0,4.557,0,9.109,0,14.253c9.037-7.533,17.672-14.732,26.499-22.091
                    C350.25-169.056,373.55-149.104,396.868-129.137z M294.141-132.887c0,11.195,0,22.214,0,33.188c7.395,0,14.64,0,21.856,0
                    c0-11.145,0-22.112,0-33.188C308.694-132.887,301.501-132.887,294.141-132.887z"></path>
                    </g>
                    <circle fill="#6BB0E1" cx="1734" cy="-5.207" r="99.125"></circle>
                    <circle fill="#6BB0E1" cx="-285.708" cy="61.289" r="99.708"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-358.257,40.171c0-2.27,0-4.465,0-7.032
                    c48.126,0,96.307,0,144.709,0c0,2.269,0,4.464,0,7.032C-261.675,40.171-309.855,40.171-358.257,40.171z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-348.393,66.354c0-2.398,0-4.297,0-6.418
                    c11.183,0,22.157,0,33.368,0c0,2.184,0,4.184,0,6.418C-326.182,66.354-337.156,66.354-348.393,66.354z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB" d="M-303.369,59.875c11.079,0,21.939,0,33.137,0
                    c0,2.063,0,4.064,0,6.395c-10.843,0-21.82,0-33.137,0C-303.369,64.34-303.369,62.336-303.369,59.875z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-257.689,66.363c0-2.219,0-4.219,0-6.439
                    c11.192,0,22.169,0,33.365,0c0,2.217,0,4.219,0,6.439C-235.517,66.363-246.492,66.363-257.689,66.363z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-292.565,76.086c0,2.219,0,4.217,0,6.439
                    c-11.194,0-22.169,0-33.366,0c0-2.219,0-4.219,0-6.439C-314.737,76.086-303.763,76.086-292.565,76.086z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB" d="M-279.308,82.469c0-2.24,0-4.146,0-6.328
                    c11.124,0,22.1,0,33.367,0c0,2.043,0,4.047,0,6.328C-256.927,82.469-267.903,82.469-279.308,82.469z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB" d="M-315.07,98.734c-11.255,0-22.114,0-33.251,0
                    c0-2.164,0-4.166,0-6.441c11.02,0,21.996,0,33.251,0C-315.07,94.363-315.07,96.365-315.07,98.734z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB" d="M-266.583,98.734c-11.253,0-22.115,0-33.253,0
                    c0-2.164,0-4.166,0-6.441c11.021,0,22,0,33.253,0C-266.583,94.363-266.583,96.365-266.583,98.734z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB" d="M-218.994,98.734c-10.656,0-20.917,0-31.455,0
                    c0-2.164,0-4.166,0-6.441c10.42,0,20.799,0,31.455,0C-218.994,94.367-218.994,96.363-218.994,98.734z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-336.538,76.104c0,2.379,0,4.275,0,6.404
                    c-6.086,0-11.976,0-18.107,0c0-2.166,0-4.166,0-6.404C-348.602,76.104-342.712,76.104-336.538,76.104z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB" d="M-217.233,82.586c-5.157,0-10.033,0-15.224,0
                    c0-2.115,0-4.117,0-6.42c4.919,0,9.913,0,15.224,0C-217.233,78.139-217.233,80.139-217.233,82.586z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFBFB"
                        d="M-358.257,38.158c0-2.27,0-4.465,0-7.033
                    c48.126,0,96.307,0,144.709,0c0,2.27,0,4.465,0,7.033C-261.675,38.158-309.855,38.158-358.257,38.158z"></path>
                    </g>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M431.855,237.926c-8.926,0-17.324,0-26.09,0
                  c0-3.313,0-6.377,0-9.858c8.613,0,17.165,0,26.09,0C431.855,231.237,431.855,234.3,431.855,237.926z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M441.154,237.684c0-3.174,0-6.088,0-9.517c8.546,0,17.1,0,26.126,0
                  c0,2.867,0,5.921,0,9.517C458.8,237.684,450.097,237.684,441.154,237.684z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M397.443,237.924c-7.881,0-15.427,0-23.496,0
                  c0-3.163,0-6.229,0-9.781c7.51,0,15.238,0,23.496,0C397.443,231.096,397.443,234.158,397.443,237.924z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M488.881,237.836c-4.022,0-7.697,0-11.785,0
                  c0-3.223,0-6.283,0-9.82c3.715,0,7.538,0,11.785,0C488.881,231.006,488.881,234.061,488.881,237.836z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M454.655,255.956c-8.926,0-17.325,0-26.09,0
                  c0-3.314,0-6.376,0-9.858c8.612,0,17.166,0,26.09,0C454.655,249.267,454.655,252.33,454.655,255.956z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M463.956,255.715c0-3.176,0-6.092,0-9.518
                  c8.546,0,17.098,0,26.124,0c0,2.866,0,5.921,0,9.518C481.601,255.715,472.897,255.715,463.956,255.715z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M420.244,255.953c-7.881,0-15.427,0-23.496,0
                  c0-3.163,0-6.229,0-9.779c7.51,0,15.238,0,23.496,0C420.244,249.125,420.244,252.188,420.244,255.953z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M386.176,255.974c-4.022,0-7.698,0-11.786,0
                  c0-3.224,0-6.283,0-9.821c3.715,0,7.539,0,11.786,0C386.176,249.144,386.176,252.197,386.176,255.974z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M454.946,292.013c-8.928,0-17.324,0-26.09,0
                  c0-3.315,0-6.377,0-9.858c8.612,0,17.164,0,26.09,0C454.946,285.322,454.946,288.387,454.946,292.013z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M463.944,291.771c0-3.176,0-6.091,0-9.518c8.546,0,17.1,0,26.126,0
                  c0,2.867,0,5.921,0,9.518C481.59,291.771,472.886,291.771,463.944,291.771z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M420.535,292.012c-7.881,0-15.428,0-23.496,0
                  c0-3.165,0-6.229,0-9.782c7.51,0,15.237,0,23.496,0C420.535,285.182,420.535,288.245,420.535,292.012z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M386.466,292.029c-4.022,0-7.696,0-11.785,0
                  c0-3.223,0-6.28,0-9.817c3.716,0,7.539,0,11.785,0C386.466,285.198,386.466,288.254,386.466,292.029z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M432.297,273.688c-8.927,0-17.325,0-26.091,0
                  c0-3.315,0-6.377,0-9.859c8.614,0,17.166,0,26.091,0C432.297,266.997,432.297,270.06,432.297,273.688z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M441.597,273.445c0-3.175,0-6.091,0-9.517
                  c8.545,0,17.099,0,26.125,0c0,2.865,0,5.919,0,9.517C459.24,273.445,450.537,273.445,441.597,273.445z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M397.885,273.684c-7.881,0-15.427,0-23.496,0
                  c0-3.162,0-6.229,0-9.779c7.51,0,15.238,0,23.496,0C397.885,266.854,397.885,269.917,397.885,273.684z">
                    </path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M489.321,273.597c-4.021,0-7.697,0-11.784,0
                  c0-3.225,0-6.282,0-9.821c3.714,0,7.539,0,11.784,0C489.321,266.768,489.321,269.821,489.321,273.597z">
                    </path>
                    <circle fill="#A387BE" cx="1748.477" cy="246.625" r="99.125"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1746.924,222.896c-9.717,0-18.858,0-28.4,0
                  c0-3.507,0-6.746,0-10.431c9.376,0,18.686,0,28.4,0C1746.924,215.818,1746.924,219.059,1746.924,222.896z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1757.047,222.639c0-3.357,0-6.441,0-10.067
                  c9.304,0,18.615,0,28.441,0c0,3.032,0,6.263,0,10.067C1776.257,222.639,1766.781,222.639,1757.047,222.639z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1709.465,222.893c-8.58,0-16.794,0-25.578,0
                  c0-3.346,0-6.589,0-10.347c8.176,0,16.588,0,25.578,0C1709.465,215.668,1709.465,218.909,1709.465,222.893z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1809.003,222.801c-4.379,0-8.38,0-12.83,0
                  c0-3.41,0-6.647,0-10.391c4.043,0,8.206,0,12.83,0C1809.003,215.574,1809.003,218.805,1809.003,222.801z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1771.744,243.971c-9.716,0-18.859,0-28.401,0
                  c0-3.508,0-6.746,0-10.431c9.377,0,18.688,0,28.401,0C1771.744,236.893,1771.744,240.134,1771.744,243.971z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1781.868,243.714c0-3.358,0-6.442,0-10.067
                  c9.304,0,18.613,0,28.439,0c0,3.031,0,6.263,0,10.067C1801.076,243.714,1791.603,243.714,1781.868,243.714z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1734.285,243.967c-8.58,0-16.794,0-25.578,0
                  c0-3.346,0-6.588,0-10.346c8.175,0,16.588,0,25.578,0C1734.285,236.742,1734.285,239.984,1734.285,243.967z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1697.198,243.988c-4.38,0-8.38,0-12.83,0c0-3.41,0-6.646,0-10.389
                  c4.044,0,8.206,0,12.83,0C1697.198,236.763,1697.198,239.994,1697.198,243.988z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1772.062,286.12c-9.718,0-18.859,0-28.401,0
                  c0-3.508,0-6.746,0-10.43c9.376,0,18.686,0,28.401,0C1772.062,279.042,1772.062,282.284,1772.062,286.12z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1782.185,285.864c0-3.359,0-6.443,0-10.068
                  c9.303,0,18.614,0,28.44,0c0,3.033,0,6.264,0,10.068C1801.394,285.864,1791.918,285.864,1782.185,285.864z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1734.602,286.118c-8.58,0-16.794,0-25.578,0
                  c0-3.348,0-6.59,0-10.348c8.176,0,16.588,0,25.578,0C1734.602,278.894,1734.602,282.134,1734.602,286.118z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1697.515,286.138c-4.38,0-8.38,0-12.83,0c0-3.41,0-6.645,0-10.387
                  c4.044,0,8.208,0,12.83,0C1697.515,278.911,1697.515,282.144,1697.515,286.138z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1747.404,264.731c-9.717,0-18.858,0-28.4,0
                  c0-3.508,0-6.746,0-10.43c9.376,0,18.686,0,28.4,0C1747.404,257.653,1747.404,260.894,1747.404,264.731z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1757.528,264.476c0-3.359,0-6.443,0-10.068
                  c9.303,0,18.613,0,28.44,0c0,3.031,0,6.262,0,10.068C1776.736,264.476,1767.262,264.476,1757.528,264.476z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1709.945,264.728c-8.58,0-16.794,0-25.578,0
                  c0-3.346,0-6.59,0-10.346c8.175,0,16.588,0,25.578,0C1709.945,257.503,1709.945,260.743,1709.945,264.728z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1809.482,264.636c-4.379,0-8.38,0-12.829,0
                  c0-3.412,0-6.646,0-10.391c4.043,0,8.207,0,12.829,0C1809.482,257.411,1809.482,260.642,1809.482,264.636z"></path>
                    <circle fill="#32BFC2" cx="91.875" cy="359.123" r="99.875"></circle>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M69.412,361.247c-4.4,0-8.416,0-12.806,0
                    c0-6.483,0-12.745,0-19.535c-10.048,0-19.728,0-29.65,0c0-4.958,0-9.379,0-14.042c14.246,0,28.3,0,42.456,0
                    C69.412,339.025,69.412,350.174,69.412,361.247z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M126.073,361.26c-4.711,0-8.726,0-13.11,0
                    c0-10.999,0-22.047,0-33.463c13.876,0,27.931,0,42.359,0c0,4.227,0,8.652,0,13.624c-9.509,0-19.189,0-29.249,0
                    C126.073,348.202,126.073,354.46,126.073,361.26z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M87.488,328.264c-1.912-0.207-3.081-0.334-5.165-0.559
                    c3.385-4.381,6.431-8.322,9.843-12.744c3.272,4.307,6.29,8.278,9.656,12.709c-1.947,0.263-3.217,0.434-4.789,0.646
                    c0,8.424,0,16.812,0,25.563c-3.214,0-6.129,0-9.545,0C87.488,345.591,87.488,337.102,87.488,328.264z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M56.745,381.919c9.526,0,18.771,0,28.218,0
                    c0,2.146,0,4.055,0,6.329c-9.318,0-18.664,0-28.218,0C56.745,386.229,56.745,384.318,56.745,381.919z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M84.863,414.672c-9.465,0-18.592,0-28.021,0
                    c0-2.159,0-4.177,0-6.484c9.228,0,18.472,0,28.021,0C84.863,410.223,84.863,412.239,84.863,414.672z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M98.446,374.87c-6.817,0-13.229,0-19.924,0
                    c0-2.18,0-4.192,0-6.482c6.577,0,13.108,0,19.924,0C98.446,370.472,98.446,372.486,98.446,374.87z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M105.544,374.711c0-2.087,0-4.004,0-6.257
                    c6.525,0,13.058,0,19.95,0c0,1.884,0,3.893,0,6.257C119.019,374.711,112.373,374.711,105.544,374.711z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M91.07,388.284c0-2.115,0-4.034,0-6.278
                    c6.543,0,13.078,0,19.964,0c0,1.911,0,3.923,0,6.278C104.666,388.284,98.131,388.284,91.07,388.284z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M79.32,401.848c0-2.116,0-4.035,0-6.279c6.542,0,13.074,0,19.96,0
                    c0,1.911,0,3.923,0,6.279C92.912,401.848,86.381,401.848,79.32,401.848z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M105.521,401.896c0-2.263,0-4.181,0-6.375
                    c6.683,0,13.217,0,20.041,0c0,2.063,0,4.078,0,6.375C119.013,401.896,112.479,401.896,105.521,401.896z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M111.148,408.136c0,2.206,0,4.219,0,6.463
                    c-6.718,0-13.252,0-20.018,0c0-2.206,0-4.219,0-6.463C97.85,408.136,104.383,408.136,111.148,408.136z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M72.168,374.868c-5.128,0-10.037,0-15.288,0
                    c0-2.08,0-4.095,0-6.43c4.886,0,9.915,0,15.288,0C72.168,370.379,72.168,372.393,72.168,374.868z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M72.348,395.518c0,2.274,0,4.192,0,6.381
                    c-5.182,0-10.211,0-15.523,0c0-2.075,0-4.089,0-6.381C61.883,395.518,66.91,395.518,72.348,395.518z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M125.532,388.446c-3.072,0-5.878,0-8.999,0
                    c0-2.119,0-4.13,0-6.456c2.835,0,5.756,0,8.999,0C125.532,383.956,125.532,385.964,125.532,388.446z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M116.401,414.576c0-2.346,0-4.258,0-6.42c3.099,0,6.018,0,9.195,0
                    c0,2.139,0,4.15,0,6.42C122.564,414.576,119.645,414.576,116.401,414.576z"></path>
                    </g>
                    <g>
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                          d="M1661.875-26.201c0-2.901,0-5.709,0-8.993
                      c47.846,0,95.744,0,143.863,0c0,2.902,0,5.709,0,8.993C1757.893-26.201,1709.994-26.201,1661.875-26.201z"></path>
                      </g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1663.466-7.769c19.409,0,38.242,0,57.486,0
                    c0,3.044,0,5.752,0,8.976c-18.981,0-38.024,0-57.486,0C1663.466-1.657,1663.466-4.366,1663.466-7.769z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1720.75,36.684c-19.283,0-37.875,0-57.084,0
                    c0-3.063,0-5.924,0-9.195c18.799,0,37.633,0,57.084,0C1720.75,30.373,1720.75,33.234,1720.75,36.684z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1733.396,1.26c0-3.001,0-5.722,0-8.907
                    c13.328,0,26.643,0,40.672,0c0,2.711,0,5.565,0,8.907C1761.096,1.26,1747.781,1.26,1733.396,1.26z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1709.457,19.494c0-3,0-5.721,0-8.904c13.328,0,26.637,0,40.665,0
                    c0,2.709,0,5.564,0,8.904C1737.148,19.494,1723.842,19.494,1709.457,19.494z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1762.833,19.564c0-3.211,0-5.93,0-9.043
                    c13.615,0,26.926,0,40.829,0c0,2.926,0,5.785,0,9.043C1790.32,19.564,1777.01,19.564,1762.833,19.564z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1774.301,27.412c0,3.131,0,5.986,0,9.168
                    c-13.688,0-26.997,0-40.782,0c0-3.131,0-5.982,0-9.168C1747.205,27.412,1760.516,27.412,1774.301,27.412z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                        d="M1695.252,10.518c0,3.227,0,5.945,0,9.049
                    c-10.557,0-20.801,0-31.625,0c0-2.941,0-5.797,0-9.049C1673.934,10.518,1684.174,10.518,1695.252,10.518z"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1803.604,1.488c-6.258,0-11.975,0-18.335,0
                    c0-3.004,0-5.858,0-9.157c5.778,0,11.729,0,18.335,0C1803.604-4.88,1803.604-2.032,1803.604,1.488z">
                      </path>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M1785,36.549c0-3.326,0-6.041,0-9.107c6.314,0,12.262,0,18.734,0
                    c0,3.035,0,5.887,0,9.107C1797.559,36.549,1791.609,36.549,1785,36.549z"></path>
                    </g>
                    <rect x="363.043" y="223.65" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="138.167"
                      height="9.383"></rect>
                    <rect x="373.947" y="228.143" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="4.217"
                      height="71.443"></rect>
                    <rect x="485.854" y="228.143" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="4.217"
                      height="75.21"></rect>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M490.07,303.212c0,1.045-0.847,1.891-1.891,1.891H375.838
                  c-1.043,0-1.891-0.846-1.891-1.891v-3.393c0-1.045,0.848-1.891,1.891-1.891H488.18c1.044,0,1.891,0.846,1.891,1.891V303.212z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1092.122,248.523c0,0.995-1.283,1.802-2.866,1.802h-92.477
                  c-1.584,0-2.868-0.807-2.868-1.802v-9.009c0-0.995,1.284-1.802,2.868-1.802h92.477c1.583,0,2.866,0.807,2.866,1.802V248.523z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1092.343,266.095c0,0.997-1.283,1.803-2.868,1.803h-92.477
                  c-1.583,0-2.867-0.806-2.867-1.803v-9.008c0-0.995,1.284-1.802,2.867-1.802h92.477c1.585,0,2.868,0.807,2.868,1.802V266.095z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1092.122,283.666c0,0.997-1.283,1.804-2.866,1.804h-92.477
                  c-1.584,0-2.868-0.807-2.868-1.804v-9.008c0-0.995,1.284-1.801,2.868-1.801h92.477c1.583,0,2.866,0.806,2.866,1.801V283.666z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1092.343,301.458c0,0.996-1.283,1.803-2.868,1.803h-92.477
                  c-1.583,0-2.867-0.807-2.867-1.803v-9.008c0-0.996,1.284-1.802,2.867-1.802h92.477c1.585,0,2.868,0.806,2.868,1.802V301.458z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF"
                      d="M1102.48,227.213c0,2.039-1.653,3.692-3.692,3.692H985.462
                  c-2.039,0-3.692-1.653-3.692-3.692v-2.77c0-2.04,1.653-3.693,3.692-3.693h113.326c2.039,0,3.692,1.653,3.692,3.693V227.213z"></path>
                  </svg>
                </div>
                <div class="col-md-8">
                  <span style="font-size: 27px;font-weight: 500;">{{ countDiemXT }}</span>
                  <div>
                    Điểm/trạm xả thải vào nguồn nước
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card m-0" style="width: 100%; height: 80vh;">
        <div class="card-header p-2">
          <h6 class="pl-1 m-0" style="font-size: 16px;font-weight: 500;">
            <i class="fas fa-map-marked-alt pr-2"></i>Bản đồ
          </h6>
        </div>
        <div class="card-body px-2 pb-2">
          <div id="viewMap" class="" style="height: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>