<div class="content pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header header-elements-inline">
            <h6 class="card-title">Bản đồ Service</h6>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>
          <div class="card-body">
           
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header header-elements-inline">
            <h6 class="card-title">Biểu đồ Gauge - Biểu diễn chất lượng không khí</h6>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-gauge></app-gauge>
          </div>
        </div>
        <div class="card">
          <div class="card-header header-elements-inline">
            <h6 class="card-title">Biểu đồ Scatter</h6>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-scatter></app-scatter>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header header-elements-inline">
            <h6 class="card-title">Biểu đồ Line - Không có đường giới hạn</h6>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-line></app-line>
          </div>
        </div>
        <div class="card">
          <div class="card-header header-elements-inline">
            <h6 class="card-title">Biểu đồ Line với đường giới hạn</h6>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-line-range></app-line-range>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
