<div class="row m-4">
    <div class="d-flex" style="flex-direction: column; width: 100%; height: 93%;">
        <div style="height: 10%; border-bottom: 1px solid gray;">
            <div class="row" [formGroup]="formTienIch">
                <div class="col-lg-4 col-md-6">
                    <label>Chọn loại công trình:</label>
                    <mat-select placeholder="Chọn công trình" class="form-control" formControlName="loaicongtrinh" (selectionChange)="showLoaiCongTrinh()">
                        <mat-option value="">
                            ---Chọn công trình---
                        </mat-option>
                        <mat-option [value]="5">
                            Điểm khai thác nước mặt
                        </mat-option>
                        <mat-option [value]="6">
                            Điểm xả thải
                        </mat-option>
                        <mat-option [value]="7">
                            Trạm bơm
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label>Chọn tên công trình:</label>
                    <mat-select placeholder="Chọn tên công trình" class="form-control" formControlName="idcongtrinh" (selectionChange)="showCongTrinh()">
                        <mat-select-filter [displayMember]="'tengieng'" [array]="congtrinhFilters" (filteredReturn)="allCongTrinh = $event">
                        </mat-select-filter>
                        <mat-option value="">
                            ---Chọn tên công trình---
                        </mat-option>
                        <mat-option *ngFor="let ct of allCongTrinh" [value]="ct.id">
                            {{ ct.tendiem }}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label>Chọn tham số đo:</label>
                    <mat-select placeholder="Chọn tham số đo" class="form-control" formControlName="idthamso">
                        <mat-select-filter [displayMember]="'tenthamso'" [array]="thamsoFilters" (filteredReturn)="allThamSo = $event">
                        </mat-select-filter>
                        <mat-option value="">
                            ---Chọn tham số đo---
                        </mat-option>
                        <mat-option *ngFor="let ts of allThamSo" [value]="ts.idthamso">
                            {{ ts.tenthamso }}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-lg-8 col-md-6 m-2 d-flex justify-content-center align-items-start">
                    <div class="d-flex">
                        <span class="mr-2" style="line-height: 36px;">Năm:</span>
                        <input class="form-control mr-1" [owlDateTime]="dt" formControlName="dateTime" placeholder="Nhập năm" />
                        <span [owlDateTimeTrigger]="dt" style="cursor: pointer;" class="btn btn-outline-secondary"><i class="fa fa-calendar"></i
            ></span>
                        <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" (yearSelected)="chosenYearHandler($event, dt)" #dt></owl-date-time>
                    </div>
                    <span *ngIf="formErrors.dateTime" class="alert-danger">{{
            formErrors.dateTime
          }}</span>
                </div>
                <div class="col-lg-2 col-md-6 m-2 d-flex justify-content-center align-items-start">
                    <button class="btn btn-success" (click)="showKetQua()">Xem</button>
                    <button class="btn btn-info ml-2" (click)="exportFileExcel()">
            Xuất file
          </button>
                </div>
            </div>
        </div>
        <div class="pt-1" style="height: 80%; overflow: auto;">
            <div class="overflow-auto">
                <div class="text-center">
                    <p class="d-block mb-0" style="font-size: 16px; font-weight: bold;">
                        {{ tenThongSo }}
                    </p>
                    <p class="mb-0">Năm: {{ year }}</p>
                </div>
                <div style="max-height: 90%;">
                    <ejs-grid #grid [dataSource]="dataTrungBinh" *ngIf="dataTrungBinh" class="table-striped border" [allowResizing]="true" [allowExcelExport]="true">
                        <e-columns>
                            <e-column field="ngay" headerText="Ngày" width="70"></e-column>
                            <e-column field="thang1" headerText="I" width="70"></e-column>
                            <e-column field="thang2" headerText="II" width="70"></e-column>
                            <e-column field="thang3" headerText="III" width="70"></e-column>
                            <e-column field="thang4" headerText="IV" width="70"></e-column>
                            <e-column field="thang5" headerText="V" width="70"></e-column>
                            <e-column field="thang6" headerText="VI" width="70"></e-column>
                            <e-column field="thang7" headerText="VII" width="70"></e-column>
                            <e-column field="thang8" headerText="VIII" width="70"></e-column>
                            <e-column field="thang9" headerText="IX" width="70"></e-column>
                            <e-column field="thang10" headerText="X" width="70"></e-column>
                            <e-column field="thang11" headerText="XI" width="70"></e-column>
                            <e-column field="thang12" headerText="XII" width="70"></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</div>
