<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-top" style="min-height: 100vh; display: flex;flex-direction: column;flex: 1;">
<div  style="display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;-webkit-box-flex: 1;flex: 1;">
<app-header></app-header>

<div class="page-content">
  <app-sidenav class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md"></app-sidenav>
  <!-- Main content -->
  <div class="content-wrapper">
    <div class="content pt-0 pl-0 pr-0">
      <div class="d-flex align-items-start flex-column flex-md-row">
        <div class="w-100 order-2 order-md-1">
          <!-- Latest posts -->
          <router-outlet></router-outlet>
          <!-- /latest posts -->
        </div>
      </div>
    </div>
    <!-- /main content -->

  </div>
</div>
</div>
</div>
<!-- Page Wrapper -->
<!--<div id="wrapper">-->
<!--  <app-sidenav></app-sidenav>-->
<!--  <div id="content-wrapper" class="d-flex flex-column">-->

<!--    &lt;!&ndash; Main Content &ndash;&gt;-->
<!--    <div id="content">-->
<!--      <app-header></app-header>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
