<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="thamsoIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Tên tham số:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="tenthamso" />
        <span *ngIf="formErrors.tenthamso" class="alert-danger">{{
          formErrors.tenthamso
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ký hiệu tham số:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="kyhieuthamso" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Nhóm tham số:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn nhóm tham số" class="form-control" formControlName="idNhomthamso">
          <mat-select-filter [displayMember]="'idNhomthamso'" [array]="nhomthamsoListFilter"
            (filteredReturn)="nhomthamsoList = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn nhóm tham số---
          </mat-option>
          <mat-option *ngFor="let item of nhomthamsoList" [value]="item.id">
            {{ item.tennhom }}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.idNhomthamso" class="alert-danger">{{
          formErrors.idNhomthamso
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Đơn vị đo mặc định:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Đơn vị đo mặc dịnh" class="form-control" formControlName="idDonvidomacdinh">
          <mat-select-filter [displayMember]="'idDonvidomacdinh'" [array]="donvidoListFilter"
            (filteredReturn)="listDonvido = $event">
          </mat-select-filter>
          <mat-option [value]="">
            ---Chọn đơn vị---
          </mat-option>
          <mat-option *ngFor="let item of listDonvido" [value]="item.id">
            {{ item.tendonvido }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i> Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="addContinue(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" (click)="onFormReset()" *ngIf="purpose === 'new'">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeThamsoIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>