<div class="pt-3">
    <form [formGroup]="changePasswordForm" class="pt-toolbar">
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">New PassWord:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" formControlName="newPass" />
            </div>
        </div>
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">New PassWord Rapeat:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" formControlName="newPassRepeat" />
                <span *ngIf="isCheckPass" class="alert-danger">Không trùng khớp</span>
            </div>
        </div>
        <div class="toolbar-container py-2">
            <div class="function-toolbar">
                <div class="form-group row mx-0">
                    <div class="col-12">
                        <button class="btn btn-primary float-right" (click)="onSubmit()">
                            <i class="far fa-save"></i>
                            Lưu & Đóng
                        </button>
                        <button class="btn btn-danger float-right mr-3" (click)="closeUserIOSidebar()">
                            <i class="far fa-times-circle"></i> Hủy bỏ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>