<div class="pt-3">
  <form [formGroup]="tramBomIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.ten)">
      <label class="col-sm-4 col-form-label text-right">Tên trạm bơm:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tên trạm bơm" formControlName="tentrambom"  >
        <span *ngIf="formErrors.ten" class="alert-danger">{{formErrors.ten}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Số hiệu trạm bơm:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập số hiệu trạm bơm" formControlName="sohieutrambom"  >
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.toadox)">
      <label class="col-sm-4 col-form-label text-right">Tọa độ x:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tọa độ x" formControlName="toadox"  >
        <span *ngIf="errorToadox !== '' " class="alert-danger">{{errorToadox}}</span>
        <span *ngIf="formErrors.toadox" class="alert-danger">{{formErrors.toadox}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.toadoy)">
      <label class="col-sm-4 col-form-label text-right">Tọa độ y:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tọa độ y" formControlName="toadoy"  >
        <span *ngIf="errorToadoy !== '' " class="alert-danger">{{errorToadoy}}</span>
        <span *ngIf="formErrors.toadoy" class="alert-danger">{{formErrors.toadoy}}</span>
      </div>
    </div>
    <div class="form-group row mx-0"  [ngClass]="displayFieldCss(formErrors.caodoz)">
      <label class="col-sm-4 col-form-label text-right">Cao độ z:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập cao độ z" formControlName="caodoz"  >
        <span *ngIf="formErrors.caodoz" class="alert-danger">{{formErrors.caodoz}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Hệ tọa độ:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn hệ tọa độ" class="form-control" formControlName="srid">
          <mat-option value="">
            ---Chọn hệ tọa độ---
          </mat-option>
          <mat-option [value]="3405">VN-2000 (UTM zone 48N) - Tọa độ phẳng</mat-option>
          <mat-option [value]="4326">WGS 84 - Tọa độ lat/long</mat-option>

        </mat-select>
        <span *ngIf="errorSrid !== '' " class="alert-danger">{{errorSrid}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Vị trí:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập vị trí" formControlName="vitri"  >
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.matinh)">
      <label class="col-sm-4 col-form-label text-right">Tỉnh:</label>
      <div class="col-sm-8">

        <mat-select placeholder="Chọn tỉnh/thành phố" class="form-control" formControlName="matinh"
                    (selectionChange)="showDvhcHuyen()" >
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcProvinceFilters"
                             (filteredReturn)="allTinh = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn tỉnh---
          </mat-option>
          <mat-option *ngFor="let tinh of allTinh" [value]="tinh.matinh">
            {{tinh.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.matinh" class="alert-danger">{{formErrors.matinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.mahuyen)">
      <label class="col-sm-4 col-form-label text-right">Huyện:</label>
      <div class="col-sm-8">

        <mat-select placeholder="Chọn huyện/phường" class="form-control" formControlName="mahuyen"
                    (selectionChange)="showDvhcXa()" >
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcDistrictFilters"
                             (filteredReturn)="allHuyen = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn huyện---
          </mat-option>
          <mat-option *ngFor="let huyen of allHuyen" [value]="huyen.mahuyen">
            {{huyen.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.mahuyen" class="alert-danger">{{formErrors.mahuyen}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Xã:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn xã/thị trấn" class="form-control" formControlName="maxa"  >
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcWardFilters"
                             (filteredReturn)="allXa = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn xã---
          </mat-option>
          <mat-option *ngFor="let xa of allXa" [value]="xa.maxa">
            {{xa.tendvhc}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Thời gian xây dựng:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianxaydung" [owlDateTimeTrigger]="dt1"
               [owlDateTime]="dt1" placeholder="DD-MM-YYYY"  >
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Thời gian vận hành:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianvanhanh" [owlDateTimeTrigger]="dt2"
               [owlDateTime]="dt2" placeholder="DD-MM-YYYY"  >
        <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <!-- <div class="form-group row mx-0" >
      <label class="col-sm-4 col-form-label text-right">Đơn vị quản lý:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn đơn vị quản lý" class="form-control" formControlName="idDonviquanly">
          <mat-select-filter [displayMember]="'tencoquan'" [array]="dvqlFilters"
                             (filteredReturn)="dvql = $event">
          </mat-select-filter>
          <mat-option>---Chọn đơn vị quản lý---</mat-option>
          <mat-option *ngFor="let dv of dvql" [value]="dv.id">
            {{dv.tencoquan}}
          </mat-option>
        </mat-select>
      </div>
    </div> -->
    <div class="form-group row mx-0" >
      <label class="col-sm-4 col-form-label text-right">Số máy bơm tiêu nước:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập số máy bơm tiêu nước" formControlName="somaybomtieunuoc"  >
        <span *ngIf="formErrors.somaybomtieunuoc" class="alert-danger">{{formErrors.somaybomtieunuoc}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" >
      <label class="col-sm-4 col-form-label text-right">Số máy bơm tưới nước:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập số máy bơm tưới nước"  formControlName="somaybomtuoinuoc"  >
        <span *ngIf="formErrors.somaybomtuoinuoc" class="alert-danger">{{formErrors.somaybomtuoinuoc}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Khả năng bơm tưới:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập khả năng bơm tưới"  formControlName="khanangbomtuoi"  >
        <span *ngIf="formErrors.khanangbomtuoi" class="alert-danger">{{formErrors.khanangbomtuoi}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Lưu lượng tưới thiết kế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập lưu lượng tưới thiết kế"  formControlName="luuluongtuoithietke"  >
        <span *ngIf="formErrors.luuluongtuoithietke" class="alert-danger">{{formErrors.luuluongtuoithietke}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Lưu lượng tưới thực tế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập lưu lượng tưới thực tế" formControlName="luuluongtuoithucte"  >
        <span *ngIf="formErrors.luuluongtuoithucte" class="alert-danger">{{formErrors.luuluongtuoithucte}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Diện tích tưới thiết kế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập diện tích tưới thiết kế" formControlName="dientichtuoithietke"  >
        <span *ngIf="formErrors.dientichtuoithietke" class="alert-danger">{{formErrors.dientichtuoithietke}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Diện tích tưới thực tế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập diện tích tưới thực tế"  formControlName="dientichtuoithucte"  >
        <span *ngIf="formErrors.dientichtuoithucte" class="alert-danger">{{formErrors.dientichtuoithucte}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Khả năng bơm tiêu:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập khả năng bơm tiêu"  formControlName="khanangbomtieu"  >
        <span *ngIf="formErrors.khanangbomtieu" class="alert-danger">{{formErrors.khanangbomtieu}}</span>

      </div>
    </div><div class="form-group row mx-0" *ngIf="IOCompact === false">
    <label class="col-sm-4 col-form-label text-right">Lưu lượng tiêu thiết kế:</label>
    <div class="col-sm-8">
      <input class="form-control" placeholder="Nhập lưu lượng tiêu thiết kế"  formControlName="luuluongtieuthietke"  >
      <span *ngIf="formErrors.luuluongtieuthietke" class="alert-danger">{{formErrors.luuluongtieuthietke}}</span>

    </div>
  </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Lưu lượng tiêu thực tế :</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập lưu lượng tiêu thực tế"  formControlName="luuluongtieuthucte"  >
        <span *ngIf="formErrors.luuluongtieuthucte" class="alert-danger">{{formErrors.luuluongtieuthucte}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Diện tích tiêu thiết kế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập diện tích tiêu thiết kế"  formControlName="dientichtieuthietke"  >
        <span *ngIf="formErrors.dientichtieuthietke" class="alert-danger">{{formErrors.dientichtieuthietke}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Diện tích tiêu thực tế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập diện tích tiêu thực tế"  formControlName="dientichtieuthucte"  >
        <span *ngIf="formErrors.dientichtieuthucte" class="alert-danger">{{formErrors.dientichtieuthucte}}</span>

      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Vận hành:</label>
      <div class="col-sm-8">
        <mat-select  class="form-control" placeholder="Chọn cách thức vận hành" formControlName="idVanhanh">
          <mat-option  [value]="null">---Không---</mat-option>
          <mat-option *ngFor="let v of vanHanh"  [value]="v.id">{{v.ten}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0" >
      <label class="col-sm-4 col-form-label text-right">Số hồ thiết kế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập số hồ thiết kế"  formControlName="sohothietke"  >
        <span *ngIf="formErrors.sohothietke" class="alert-danger">{{formErrors.sohothietke}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" >
      <label class="col-sm-4 col-form-label text-right">Số hồ thực tế:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập số hồ thực tế"  formControlName="sohothucte"  >
        <span *ngIf="formErrors.sohothucte" class="alert-danger">{{formErrors.sohothucte}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Phần trăm công suất hữu ích:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập phần trăm công suất hữu ích"  formControlName="phantramcongsuathuuich"  >
        <span *ngIf="formErrors.phantramcongsuathuuich" class="alert-danger">{{formErrors.phantramcongsuathuuich}}</span>

      </div>
    </div>
    <div class="form-group row mx-0" >
      <label class="col-sm-4 col-form-label text-right">Hiện trạng:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập hiện trạng"  formControlName="hientrang"  >
        <!--        <span *ngIf="formErrors.luuluongchopheplonnhat" class="alert-danger">{{formErrors.luuluongchopheplonnhat}}</span>-->

      </div>
    </div>
<!--    <div class="form-group row mx-0" >-->
<!--      <label class="col-sm-4 col-form-label text-right">Trạng thái:</label>-->
<!--      <div class="col-sm-8">-->
<!--        <mat-select placeholder="Trạng thái" class="form-control" formControlName="status">-->
<!--          <mat-option *ngFor="let s of status"  [value]="s.id" >{{s.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </div>-->
<!--    </div>-->
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
      <div class="col-sm-8">
        <textarea formControlName="note" placeholder="Ghi chú" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ảnh:</label>
      <div class="col-sm-8 row">
        <div class="image-preview col-8">
          <div class="row px-2">
            <a *ngIf="!srcanh === false" [href]="srcanh">
              <img [src]="srcanh" height="100" style="padding-bottom: 10px" />
            </a>
            <img *ngIf="!srcanh === true" class="pb-2 border" src="assets/media/images/no_image_available.png"
                 alt="image" width="100%" height="150px">
            <input class="form-control" hidden type="text" formControlName="imgLink">
          </div>
          <div class="row p-0">
            <button class="btn btn-xsm btn-link text-danger" type="button" *ngIf="srcanh" (click)="deleteAnh()">
              <i class="fas fa-trash-alt"></i> Xóa ảnh
            </button>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-primary" style="margin: auto" (click)="showMatDialog()">
            <i class="fal fa-check-square"></i> Chọn ảnh
          </button>
        </div>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class=function-toolbar>
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right"  (click)="onSubmit(purpose)"
            ><i
              class="far fa-save"></i>
              {{ purpose === 'edit' ? 'Lưu' : 'Lưu >> Nhập chi tiết' }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose !== 'edit'" (click)="addOrUpdateContinue(purpose)"

            ><i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose !== 'edit'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeTramBomIOSidebar()"><i
              class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
