<div class="pt-3">
  <form [formGroup]="KetquaIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Phương pháp đo:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="phuongphapdo" />
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.fullTime)">
      <label class="col-sm-4 col-form-label text-right">Thời gian đo:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="fullTime" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
          placeholder="DD-MM-YYYY" (blur)="logValidationErrorMessages()">
        <owl-date-time #dt2></owl-date-time>
        <span *ngIf="formErrors.fullTime" class="alert-danger">{{formErrors.fullTime}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Kết quả đo:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="ketquado" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="note"></textarea>
      </div>
    </div>
  </form>
  <div class="toolbar-container py-2">
    <div class=function-toolbar>
      <div class="form-group row mx-0">
        <div class="col-12">
          <button class="btn btn-primary float-right" (click)="onSubmit(purpose)"><i class="far fa-save"></i>
            Lưu & Đóng
          </button>
          <button class="btn btn-outline-primary float-right mr-3" [disabled]="!KetquaIOForm.valid"
            (click)="addOrUpdateContinue(purpose)">
            <i class="far fa-download"></i> Lưu & Khởi tạo lại
          </button>
          <button class="btn btn-outline-info float-right mr-3" (click)="onFormReset()">
            <i class="far fa-sync-alt"></i> Khởi tạo lại
          </button>
          <button class="btn btn-danger float-right mr-3" (click)="closeKetquaIOSidebar()"><i
              class="far fa-times-circle"></i> Hủy bỏ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>