<div style="height: 100%;">
    <div class="form-row" [formGroup]="searchForm" style="height: 30%;">
        <div class="form-group col-md-5 m-0">
            <label>Loại công trình:</label>
            <mat-select placeholder="Chọn loại công trình" class="form-control" formControlName="loaicongtrinh">
                <mat-option value="">
                    ---Chọn---
                </mat-option>
                <mat-option value="5">Điểm khai thác</mat-option>
                <mat-option value="6">Điểm xả thải</mat-option>
                <mat-option value="7">Trạm bơm</mat-option>
            </mat-select>
        </div>
        <div class="form-group col-md-5 m-0">
            <label for="tukhoa">Từ khóa:</label>
            <input type="text" class="form-control" formControlName="tukhoa" id="tukhoa"
                placeholder="Nhập từ khóa tìm kiếm" />
        </div>
        <div class="form-group col-md-2 m-0">
            <button class="btn btn-success" style="position: absolute; top: 27px;" (click)="search()">
                Tìm kiếm
            </button>
        </div>
        <span *ngIf="errorForm" class="alert-danger">{{ errorForm }}</span>
    </div>

    <div style="height: 60%; overflow: auto; overflow-x: hidden;">
        <ul style="padding-left: 0;" *ngIf="allDataSearch">
            <li class="d-flex" *ngFor="let i of allDataSearch" style="
          width: 100%;
          border-bottom: 1px solid #d9d7d7;
          padding-top: 10px;
        ">
                <div style="width: 20%;">
                    <img *ngIf="!i.imgLink" src="/assets/media/logos/no-image.jpg"
                        style="width: 100%; height: 60px; padding: 0 0 5px 0;" />
                    <img *ngIf="i.imgLink" src="/assets/media/logos/no-image.jpg"
                        style="width: 100%; height: 60px; padding: 0 0 5px 0;" />
                </div>
                <div style="width: 60%; padding-left: 10px;">
                    <p>
                        Tên trạm: <b>{{ i.tendiem }}</b>
                    </p>
                    <p>
                        Số hiệu: <b>{{ i.sohieudiem }}</b>
                    </p>
                </div>
                <div class="d-flex align-items-center" style="width: 20%;">
                    <button class="btn btn-outline-info" (click)="openToaDo(i)">
                        Xem
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end mt-2" style="height: 10%;">
        <button class="btn btn-danger" (click)="closeDialog()">Đóng</button>
    </div>
</div>