<div class="login-form">
    <form [formGroup]="loginIOForm">
      <div class="avatar">
        <img src="/assets/login/avatar.png" alt="Avatar">
      </div>
      <h2 class="text-center">Đăng nhập hệ thống</h2>
      <span *ngIf="errorLogin" class="alert-danger">{{
          errorLogin
        }}</span>
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Tài khoản" formControlName="userName">
        <span *ngIf="formErrors.userName" class="alert-danger">{{
            formErrors.userName
          }}</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Mật khẩu" formControlName="passWord">
        <span *ngIf="formErrors.passWord" class="alert-danger">{{
            formErrors.passWord
          }}</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" (click)="loginAdmin()">Đăng nhập</button>
      </div>
      <div class="clearfix">
        <!-- <label class="pull-left checkbox-inline"><input type="checkbox"> Ghi nhớ</label>
        <a href="#" class="pull-right float-right">Quên mật khẩu?</a> -->
      </div>
    </form>
  </div>
  