<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="thietBiLapDatIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.loaimaybom)">
      <label class="col-sm-4 col-form-label text-right">Tên loại máy bơm:</label
      >
      <div class="col-sm-8">
        <input
          class="form-control"
          formControlName="loaimaybom"
        />
        <span *ngIf="formErrors.loaimaybom" class="alert-danger">{{
            formErrors.loaimaybom
          }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Thời gian lắp đặt:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianlapdat" [owlDateTimeTrigger]="dt"
               [owlDateTime]="dt" placeholder="DD-MM-YYYY"  >
        <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.congsuat)">
      <label class="col-sm-4 col-form-label text-right">Công suất:</label
      >
      <div class="col-sm-8">
        <input
          class="form-control"
          formControlName="congsuat"
        />
        <span *ngIf="formErrors.congsuat" class="alert-danger">{{
            formErrors.congsuat
          }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
      <div class="col-sm-8">
        <textarea formControlName="note" placeholder="Ghi chú" class="form-control"></textarea>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right"  (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'" (click)="addOrUpdateContinue(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeThietBiLapDatIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
