<div style="display: block;">
  <canvas baseChart [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [options]="chartOptions"
    [datasets]="chartDataSets">
  </canvas>
</div>
