<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="userIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">User name:</label
      >
      <div class="col-sm-8">
        <input
          class="form-control"
          formControlName="userName"

        />
        <span *ngIf="formErrors.userName" class="alert-danger">{{
            formErrors.userName
          }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Full name:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="fullName" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Email:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="email" />
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="purpose === 'new'">
      <label class="col-sm-4 col-form-label text-right">Password:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="password" />
      </div>
    </div>
    <div *ngIf="purpose === 'new'" class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Chọn role:</label>
      <div class="col-sm-8">
        <mat-select class="form-control" formControlName="role">
          <mat-select-filter [displayMember]="'name'" [array]="roleFilters"
                             (filteredReturn)="allRole = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn role---
          </mat-option>
          <mat-option *ngFor="let role of allRole" [value]="role.name">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'" (click)="addOrUpdateContinue(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeUserIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
