<div class="pt-3">
    <form [formGroup]="changeRoleForm" class="pt-toolbar">
        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Role:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="role">
                    <mat-select-filter [displayMember]="'name'" [array]="roleFilters"
                                       (filteredReturn)="allRole = $event">
                    </mat-select-filter>
                    <mat-option value="">
                      ---Chọn role---
                    </mat-option>
                    <mat-option *ngFor="let role of allRole" [value]="role.name">
                      {{ role.name }}
                    </mat-option>
                  </mat-select>
            </div>
        </div>
        <div class="toolbar-container py-2">
            <div class="function-toolbar">
                <div class="form-group row mx-0">
                    <div class="col-12">
                        <button class="btn btn-primary float-right" (click)="onSubmit()">
                            <i class="far fa-save"></i>
                            Lưu & Đóng
                        </button>
                        <button class="btn btn-danger float-right mr-3" (click)="closeUserIOSidebar()">
                            <i class="far fa-times-circle"></i> Hủy bỏ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>