<mat-sidenav-container hasBackdrop="true" class="sidenav-container" style="height: 100vh;">
  <mat-sidenav-content>
    <app-header></app-header>
    <app-map></app-map>
    <app-aside></app-aside>
  </mat-sidenav-content>
</mat-sidenav-container>

