<div class="container-fluid pt-3" style="background-color: #fafafa">
  <div class="card border m-0">
    <div class="card-body p-0">
      <mat-tab-group [animationDuration]="0">
        <mat-tab label="Thiết bị lắp đặt">
          <ng-template matTabContent>
            <app-dkt-thietbilapdat-list></app-dkt-thietbilapdat-list>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
