<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="tieuchuanIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Tên tiêu chuẩn:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="tentieuchuan" />
        <span *ngIf="formErrors.tentieuchuan" class="alert-danger">{{formErrors.tentieuchuan}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Số hiệu tiêu chuẩn:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="sohieutieuchuan" />
        <span *ngIf="formErrors.sohieutieuchuan" class="alert-danger">{{formErrors.sohieutieuchuan}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Thời gian ban hành:</label>
      <div class="col-sm-8 d-flex">
        <input class="form-control mr-1" formControlName="thoigianbanhanh" [owlDateTimeTrigger]="dt1"
          [owlDateTime]="dt1" [max]="" placeholder="DD-MM-YYYY">
        <span [owlDateTimeTrigger]="dt1" style="cursor: pointer;" class="btn btn-outline-secondary"><i
            class="fa fa-calendar"></i></span>
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Cơ quan ban hành:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="coquanbanhanh" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Hiện trạng:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="hientrang" />
      </div>
    </div>
    <!-- <div class="form-group row mx-0">
        <label class="col-sm-4 col-form-label text-right">Chọn tài liệu:</label>
        <div class="form-group col-sm-8">
          <input type="file" name="image" style="margin: auto"/>
          <input class="form-control" hidden type="text" formControlName="idTailieu" />
        </div>
      </div>
      <div class="form-group row mx-0">
        <button class="btn btn-primary" style="margin: auto" (click)="confirmUpload()">
          Tải tài liệu lên
        </button>
      </div> -->
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i> Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="addContinue(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeTieuchuanIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>