<script src="tb-thongtinchung.component.ts"></script>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <div class="row pt-3" style="margin: 0px">
      <div class="col-lg-8 col-md-12">
        <div class="card border">
          <div class="card-header">
            <h3>
              <button
                class="btn btn-sm btn-primary float-right"
                (click)="toEditMode()"
              >
                <i class="far fa-edit"></i> Sửa
              </button>
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tên trạm bơm:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.tendiem }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số hiệu trạm bơm:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.sohieudiem }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tọa độ x:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.toadox }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Tọa độ y:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.toadoy }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Cao độ z:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.caodoz }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Hệ tọa độ:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.srid }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Vị trí:</label>
                  <label class="col-sm-6 col-form-label">
                    <button class="btn btn-x-sm btn-outline-primary mr-2" (click)="zoomToObj()">
                      <i class="fal fa-location"></i></button>
                    <strong>{{ obj.vitri }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thuộc:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ xa }} - {{ huyen }}
                    - {{ tinh }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời gian xây dựng:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.thoigianxaydung | date: 'dd-MM-yyyy'}}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Thời gian vận hành:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.thoigianvanhanh | date: 'dd-MM-yyyy'}}</strong></label>
                </div>
                <!-- <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Đơn vị quản lý:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{dvql}}</strong></label>
                </div> -->
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Vận hành:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ showTenVanHanh(obj.idVanhanh) }}</strong></label>
                </div>
                <!-- <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Hồ tự nhiên:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.hotunhien }}</strong></label>
                </div> -->
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Hiện trạng:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.hientrang }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số máy bơm tiêu nước:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.somaybomtieunuoc }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số máy bơm tưới nước:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.somaybomtuoinuoc }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Khả năng bơm tưới:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.khanangbomtuoi }}</strong></label>
                </div>
                <!-- <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Trạng thái:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ showTrangThai(obj.status) }}</strong></label>
                </div> -->
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Ghi chú:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.note }}</strong></label>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
            
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng tưới thiết kế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluongtuoithietke }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng tưới thực tế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluongtuoithucte }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Diện tích tưới thiết kế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.dientichtuoithietke }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Diện tích tưới thực tế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.dientichtuoithucte }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Khả năng bơm tiêu:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.khanangbomtieu }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng tiêu thiết kế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluongtieuthietke }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Lưu lượng tiêu thực tế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.luuluongtieuthucte }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Diện tích tiêu thiết kế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.dientichtieuthietke }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Diện tích tiêu thực tế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.dientichtieuthucte }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số hồ thiết kế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.sohothietke }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Số hồ thực tế:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.sohothucte }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Phần trăm công suất hữu ích:</label>
                  <label class="col-sm-6 col-form-label"><strong>{{ obj.phantramcongsuathuuich }}</strong></label>
                </div>
                <div class="row mx-0">
                  <label class="col-sm-6 col-form-label text-right">Ảnh:</label>
                  <label class="col-sm-6 col-form-label"><img *ngIf="obj.imgLink" [src]="obj.imgLink" width="100px" height="100px"></label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card m-0" style="width: 100%; height: 668px;">
          <div class="card-header p-2">
            <h6 class="m-0" style="font-size: 16px;font-weight: 500;">
              <i class="fas fa-map-marked-alt"></i> Vị trí trạm
            </h6>
          </div>
          <div class="card-body px-2 pb-2">
            <div id="viewTram" class="px-2 pb-2" style="height: 100%; z-index: 1;"></div>
          </div>
        </div>
      </div>
    </div>
    <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end" style="width: 600px">
      <div class="p-2 bg-primary text-white mat-sidenav-title">
        <button class="btn btn-sm btn-light" (click)="closeTramBomIOSidebar()">
          <i class="fad fa-chevron-double-right"></i>
        </button>
        <span style="vertical-align: middle;" class="ml-3">{{matsidenavService.sidenavTitle}}</span>
      </div>
      <template #compTramBomIo></template>
    </mat-sidenav>
  </mat-sidenav-content>
</mat-sidenav-container>
