<div class="pt-3">
  <form [formGroup]="diemKhaiThacIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.tendiem)">
      <label class="col-sm-4 col-form-label text-right">Tên điểm khai thác:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tên điểm khai thác" formControlName="tendiem">
        <span *ngIf="formErrors.tendiem" class="alert-danger">{{formErrors.tendiem}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Số hiệu điểm khai thác:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập số hiệu điểm khai thác" formControlName="sohieudiem">
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.toadox)">
      <label class="col-sm-4 col-form-label text-right">Tọa độ x:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tọa độ x" formControlName="toadox">
        <span *ngIf="errorToadox !== '' " class="alert-danger">{{errorToadox}}</span>
        <span *ngIf="formErrors.toadox" class="alert-danger">{{formErrors.toadox}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.toadoy)">
      <label class="col-sm-4 col-form-label text-right">Tọa độ y:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tọa độ y" formControlName="toadoy">
        <span *ngIf="errorToadoy !== '' " class="alert-danger">{{errorToadoy}}</span>
        <span *ngIf="formErrors.toadoy" class="alert-danger">{{formErrors.toadoy}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.caodoz)">
      <label class="col-sm-4 col-form-label text-right">Cao độ z:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập cao độ z" formControlName="caodoz">
        <span *ngIf="formErrors.caodoz" class="alert-danger">{{formErrors.caodoz}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Hệ tọa độ:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn hệ tọa độ" class="form-control" formControlName="srid">
          <mat-option value="">
            ---Chọn hệ tọa độ---
          </mat-option>
          <mat-option [value]="3405">VN-2000 (UTM zone 48N) - Tọa độ phẳng</mat-option>
          <mat-option [value]="4326">WGS 84 - Tọa độ lat/long</mat-option>

        </mat-select>
        <span *ngIf="errorSrid !== '' " class="alert-danger">{{errorSrid}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Vị trí:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập vị trí" formControlName="vitri">
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.matinh)">
      <label class="col-sm-4 col-form-label text-right">Tỉnh:</label>
      <div class="col-sm-8">

        <mat-select placeholder="Chọn tỉnh/thành phố" class="form-control" formControlName="matinh"
          (selectionChange)="showDvhcHuyen()">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcProvinceFilters"
            (filteredReturn)="allTinh = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn tỉnh---
          </mat-option>
          <mat-option *ngFor="let tinh of allTinh" [value]="tinh.matinh">
            {{tinh.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.matinh" class="alert-danger">{{formErrors.matinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.mahuyen)">
      <label class="col-sm-4 col-form-label text-right">Huyện:</label>
      <div class="col-sm-8">

        <mat-select placeholder="Chọn huyện/phường" class="form-control" formControlName="mahuyen"
          (selectionChange)="showDvhcXa()">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcDistrictFilters"
            (filteredReturn)="allHuyen = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn huyện---
          </mat-option>
          <mat-option *ngFor="let huyen of allHuyen" [value]="huyen.mahuyen">
            {{huyen.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.mahuyen" class="alert-danger">{{formErrors.mahuyen}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Xã:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn xã/thị trấn" class="form-control" formControlName="maxa">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcWardFilters" (filteredReturn)="allXa = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn xã---
          </mat-option>
          <mat-option *ngFor="let xa of allXa" [value]="xa.maxa">
            {{xa.tendvhc}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Thời gian xây dựng:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianxaydung" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
          placeholder="DD-MM-YYYY">
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Thời gian vận hành:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianvanhanh" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
          placeholder="DD-MM-YYYY">
        <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Đơn vị quản lý:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn đơn vị quản lý" class="form-control" formControlName="idDonviquanly">
          <mat-select-filter [displayMember]="'tencoquan'" [array]="dvqlFilters" (filteredReturn)="dvql = $event">
          </mat-select-filter>
          <mat-option>---Chọn đơn vị quản lý---</mat-option>
          <mat-option *ngFor="let dv of dvql" [value]="dv.id">
            {{dv.tencoquan}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Chủ sử dụng:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn chủ sử dụng" class="form-control" formControlName="idChusudung">
          <mat-select-filter [displayMember]="'hovaten'" [array]="canhanFilters" (filteredReturn)="caNhan = $event">
          </mat-select-filter>
          <mat-option *ngFor="let cn of caNhan" [value]="cn.id">
            {{cn.hovaten}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false"
      [ngClass]="displayFieldCss(formErrors.luuluongchopheplonnhat)">
      <label class="col-sm-4 col-form-label text-right">Lưu lượng cho phép lớn nhất:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập lưu lượng cho phép lớn nhất"
          formControlName="luuluongchopheplonnhat">
        <span *ngIf="formErrors.luuluongchopheplonnhat"
          class="alert-danger">{{formErrors.luuluongchopheplonnhat}}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Có thiết bị giám sát:</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="cothietbigiamsat">
          {{diemKhaiThacIOForm.value.cothietbigiamsat ? diemKhaiThacIOForm.value.cothietbigiamsat === true? 'Đã có' : 'Chưa có' : 'Chưa có'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Vận hành:</label>
      <div class="col-sm-8">
        <mat-select class="form-control" placeholder="Chọn cách thức vận hành" formControlName="idVanhanh">
          <mat-option [value]="null">---Không---</mat-option>
          <mat-option *ngFor="let v of vanHanh" [value]="v.id">{{v.ten}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Thời lượng khai thác:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập thời lượng khai thác( vd: 1000h)"
          formControlName="thoiluongkhaithac">
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Nhà máy:</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Nhập tên nhà máy" formControlName="nhamay">
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Đã cấp phép:</label>
      <div class="col-sm-8">
        <mat-slide-toggle class="example-margin p-1" formControlName="dacapphep">
          {{diemKhaiThacIOForm.value.dacapphep? diemKhaiThacIOForm.value.dacapphep === true? 'Đã cấp phép' : 'Chưa cấp phép' : 'Chưa cấp phép'}}
        </mat-slide-toggle>
      </div>
    </div>
    <!--    <div class="form-group row mx-0" >-->
    <!--      <label class="col-sm-4 col-form-label text-right">Trạng thái:</label>-->
    <!--      <div class="col-sm-8">-->
    <!--        <mat-select placeholder="Trạng thái" class="form-control" formControlName="status">-->
    <!--          <mat-option *ngFor="let s of status"  [value]="s.id" >{{s.name}}</mat-option>-->
    <!--        </mat-select>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
      <div class="col-sm-8">
        <textarea formControlName="note" placeholder="Ghi chú" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ảnh:</label>
      <div class="col-sm-8 row">
        <div class="image-preview col-8">
          <div class="row px-2">
            <a *ngIf="!srcanh === false" [href]="srcanh">
              <img [src]="srcanh" height="100" style="padding-bottom: 10px" />
            </a>
            <img *ngIf="!srcanh === true" class="pb-2 border" src="assets/media/images/no_image_available.png"
              alt="image" width="100%" height="150px">
            <input class="form-control" hidden type="text" formControlName="imgLink">
          </div>
          <div class="row p-0">
            <button class="btn btn-xsm btn-link text-danger" type="button" *ngIf="srcanh" (click)="deleteAnh()">
              <i class="fas fa-trash-alt"></i> Xóa ảnh
            </button>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-primary" style="margin: auto" (click)="showMatDialog()">
            <i class="fal fa-check-square"></i> Chọn ảnh
          </button>
        </div>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class=function-toolbar>
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)"><i class="far fa-save"></i>
              {{ purpose === 'edit' ? 'Lưu' : 'Lưu >> Nhập chi tiết' }}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose !== 'edit'"
              (click)="addOrUpdateContinue(purpose)"><i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose !== 'edit'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeDiemKhaiThacIOSidebar()"><i
                class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>