<app-sub-header></app-sub-header>
<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title"> Đơn vị hành chính</span>
                </h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mt-0">
                          <span>Cấp Tỉnh/ Thành phố</span>
                          <button class="btn btn-primary btn-sm" style="float: right;"
                            (click)="openDvhcProvinceIOSidebar()">
                            <i class="fal fa-plus-square"></i>
                            Thêm
                          </button>
                        </h5>
                      </div>
                      <div class="card-body">
                        <ejs-grid #gridDvhcTinh [dataSource]="listDataDvhcProvince"
                          [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
                          [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar"
                          class="table-striped " [allowResizing]='true' (queryCellInfo)='customiseCell($event)'>
                          <e-columns>
                            <e-column field="serialNumber" class="dvhc" headerText="STT"></e-column>
                            <e-column field="tendvhc" headerText="Tên tỉnh"></e-column>
                            <e-column field="id" headerText="Thao tác">
                              <ng-template #template let-data>
                                <div class="btn-group">
                                  <button class="btn btn-sm btn-primary" title="Chỉnh sửa"
                                    (click)="openDvhcEditProvince($event)">
                                    <i class="fal fa-edit"></i>
                                  </button>
                                  <button class="btn btn-sm btn-danger" title="Xóa"
                                    (click)="deleteItemProvince($event)">
                                    <i class="far fa-trash-alt"></i>
                                  </button>
                                  <button class="btn btn-sm btn-info" title="Trực thuộc"
                                    (click)="childProvince($event)">
                                    <i class="fal fa-arrow-circle-right"></i>
                                  </button>
                                </div>
                              </ng-template>
                            </e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mt-0">
                          <span>Cấp Quận/Huyện/Thị xã</span>
                          <button class="btn btn-primary btn-sm" style="float: right;" [disabled]="disabledDistrict"
                            (click)="openDvhcDistrictIOSidebar()">
                            <i class=" fal fa-plus-square"></i>
                            Thêm
                          </button>
                        </h5>
                      </div>
                      <div class="card-body">
                        <ejs-grid #gridDvhcHuyen [dataSource]="listDatadvhcDistrict"
                          [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
                          [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar"
                          class="table-striped " (queryCellInfo)='customiseCell($event)' [allowResizing]='true'>
                          <e-columns>
                            <e-column field="serialNumber" headerText="STT"></e-column>
                            <e-column field="tendvhc" headerText="Đơn vị hành chính"></e-column>
                            <e-column field="id" headerText="Thao tác" class="dvhcthaotac">
                              <ng-template #template>
                                <div class="btn-group">
                                  <button class="btn btn-sm btn-primary" title="Chỉnh sửa"
                                    (click)="openDvhcEditDistrict($event)">
                                    <i class="fal fa-edit"></i>
                                  </button>
                                  <button class="btn btn-sm btn-danger mr-2" title="Xóa"
                                    (click)="deleteItemDistrict($event)">
                                    <i class="far fa-trash-alt"></i>
                                  </button>
                                  <button class="btn btn-sm btn-info" title="Trực thuộc"
                                    (click)="childDistrict($event)">
                                    <i class="fal fa-arrow-circle-right"></i>
                                  </button>
                                </div>
                              </ng-template>
                            </e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mt-0">
                          <span>Cấp Xã/Phường/Thị trấn</span>
                          <button class="btn btn-primary btn-sm" style="float: right;" [disabled]="disabledWard"
                            (click)="openDvhcWardIOSidebar()">
                            <i class=" fal fa-plus-square"></i>
                            Thêm
                          </button>
                        </h5>
                      </div>
                      <div class="card-body">
                        <ejs-grid #gridDvhcXa [dataSource]="listDatadvhcWard"
                          [editSettings]="settingsCommon.editSettings" [allowPaging]="true" [allowSorting]="true"
                          [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar"
                          class="table-striped " (queryCellInfo)='customiseCell($event)' [allowResizing]="true">
                          <e-columns>
                            <e-column field="serialNumber" headerText="STT"></e-column>
                            <e-column field="tendvhc" headerText="Đơn vị hành chính"></e-column>
                            <e-column field="id" headerText="Thao tác" width="120">
                              <ng-template #template>
                                <div class="btn-group">
                                  <button class="btn btn-sm btn-primary" title="Chỉnh sửa"
                                    (click)="openDvhcEditWard($event)">
                                    <i class="fal fa-edit"></i>
                                  </button>
                                  <button class="btn btn-sm btn-danger mr-2" title="Xóa"
                                    (click)="deleteItemWard($event)">
                                    <i class="far fa-trash-alt"></i>
                                  </button>
                                </div>
                              </ng-template>
                            </e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end" style="width: 600px">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title">
          <button class="btn btn-sm btn-light" (click)="closeDvhcIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{matsidenavService.sidenavTitle}}</span>
        </div>
        <template #componentdvhcio>

        </template>
      </mat-sidenav>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>