<div class="pt-3">
    <form *ngIf="editMode" [formGroup]="dvhcIOForm" class="pt-toolbar">
        <div class="form-group row mx-0" [hidden]="hiddenProvineName">
            <label class="col-sm-4 col-form-label text-right">Tên tỉnh:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="tentinh" />
            </div>
        </div>

        <div class="form-group row mx-0" [hidden]="hiddenDistrictName">
            <label class="col-sm-4 col-form-label text-right">Tên huyện:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" formControlName="tenhuyen" />
            </div>
        </div>

        <div class="form-group row mx-0">
            <label class="col-sm-4 col-form-label text-right">Đơn vị hành chính:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" placeholder="Nhập tên đơn vị hành chính"
                    formControlName="tendvhc" />
            </div>
        </div>

        <div class="form-group row mx-0" [hidden]="hiddenMatinh">
            <label class="col-sm-4 col-form-label text-right">Mã tỉnh:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" placeholder="Nhập mã tỉnh/thành phố" formControlName="matinh" />
            </div>
        </div>

        <div class="form-group row mx-0" [hidden]="hiddenMahuyen">
            <label class="col-sm-4 col-form-label text-right">Mã huyện:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" placeholder="Nhập mã quận/huyện/thị xã"
                    formControlName="mahuyen" />
            </div>
        </div>

        <div class="form-group row mx-0" [hidden]="hiddenMaxa">
            <label class="col-sm-4 col-form-label text-right">Mã xã:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" placeholder="Nhập mã xã/phường/thị trấn"
                    formControlName="maxa" />
            </div>
        </div>

        <div class="toolbar-container py-2">
            <div class="function-toolbar">
                <div class="form-group row mx-0">
                    <div class="col-12">
                        <button class="btn btn-primary float-right" [disabled]="!dvhcIOForm.valid"
                            (click)="onSubmit(purpose)">
                            <i class="far fa-save"></i>
                            Lưu & Đóng
                        </button>
                        <button class="btn btn-outline-primary float-right mr-3" [disabled]="!dvhcIOForm.valid">
                            <i class="far fa-download"></i> Lưu & Khởi tạo lại
                        </button>
                        <button class="btn btn-outline-info float-right mr-3" (click)="onFormReset()">
                            <i class="far fa-sync-alt"></i> Khởi tạo lại
                        </button>
                        <button class="btn btn-danger float-right mr-3" (click)="closeDvhcIOSidebar()">
                            <i class="far fa-times-circle"></i> Hủy bỏ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>