<div class="content pt-1">
  <div class="d-flex align-items-start flex-column flex-md-row">
    <div class="w-100 order-1 order-md-1">
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav-content>
          <div class="container-fluid mt-3">
            <div class="row">
              <div class="col-lg-12">
                <div class="card border">
                  <div class="card-header">
                    <h3>
                      <span class="title"> Danh sách máy bơm trạm bơm</span>
                      <button class="btn btn-sm btn-primary" style="float:right" (click)="openThietBiLapDatIOSidebar()">
                        <i class="fal fa-plus-square"></i> Thêm
                      </button>
                      <button class="btn btn-sm btn-outline-primary mr-3" style="float:right">
                        <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                      </button>
                    </h3>
                  </div>
                  <div class="card-body">
                    <ejs-grid #grid [dataSource]="listThietBiLapDat" [editSettings]="settingsCommon.editSettings"
                              [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                              [toolbar]="settingsCommon.toolbar" [allowResizing]="true" class="table-striped"
                              (queryCellInfo)="customiseCell($event)">
                      <e-columns>
                        <e-column field="sNo" headerText="STT"></e-column>
                        <e-column field="loaimaybom" headerText="Loại máy bơm"></e-column>
                        <e-column headerText="Thời gian lắp đặt">
                          <ng-template #template let-data>
                            {{convertDateTimeString(data)}}
                          </ng-template>
                        </e-column>
                        <e-column field="congsuat" headerText="Công suất"></e-column>
                        <e-column field="id" headerText="Thao tác">
                          <ng-template #template let-data>
                            <div class="btn-group">
                              <button class="btn btn-sm btn-primary" title="Chỉnh sủa"
                                      (click)="editItemThietBiLapDat(data)">
                                <i class="far fa-edit"></i>
                              </button>
                              <button class="btn btn-sm btn-danger" title="Xóa" (click)="deleteThietBiLapDat(data)">
                                <i class="far fa-trash"></i>
                              </button>
                            </div>
                          </ng-template>
                        </e-column>
                      </e-columns>
                    </ejs-grid>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
                       style="width: 550px">
            <div class="p-2 bg-primary text-white mat-sidenav-title">
              <button class="btn btn-sm btn-light" (click)="closeThietBiLapDatIOSidebar()">
                <i class="fad fa-chevron-double-right"></i>
              </button>
              <span style="vertical-align: middle;" class="ml-3">{{
                  matSidenavService.sidenavTitle
                }}</span>
            </div>
            <template #compThietBiLapDatio></template>
          </mat-sidenav>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>

