<div style="display: block;">
  <canvas baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
    [colors]="lineChartColors">
  </canvas>
</div>
