<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
        <div [hidden]="false" id="viewMap" style="width: 100%;height: 93vh"></div>
        <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="47" class="aside" position="start"
            style="width: 600px; z-index: 10000;">
            <div class="p-2 pr-3 bg-primary text-white text-right mat-sidenav-title fixed-top">
                <span style="vertical-align: middle;"
                    class="mr-3 mat-sidenav-title-text">{{ this.matSidenavService.sidenavTitle }}</span>
              <button class="btn btn-sm btn-light" (click)="closeSidenav()">
                <i class="fad fa-chevron-double-left"></i>
              </button>
            </div>
            <template #compIo> </template>
        </mat-sidenav>
    </mat-sidenav-content>
</mat-sidenav-container>
