<app-sub-header></app-sub-header>
<div class="content pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card border">
          <div class="card-header">
            <h3>
              <span class="title"> Điểm xả thải: <strong> {{this.objId ? this.objId.tendiem : ''}}</strong></span>
            </h3>
          </div>
          <div class="card-body">
            <mat-tab-group mat-stretch-tabs [animationDuration]="0" [selectedIndex]="activeTabCheck - 1">
              <mat-tab label="THÔNG TIN CHUNG">
                <ng-template matTabContent>
                  <app-dxt-thongtinchung (getInformation)="getInformation()"></app-dxt-thongtinchung>
                </ng-template>
              </mat-tab>
              <!-- <mat-tab label="HỒ SƠ KỸ THUẬT">
                <ng-template matTabContent>
                  <app-dxt-hosoktct></app-dxt-hosoktct>
                </ng-template>
              </mat-tab> -->
              <mat-tab label="THÔNG SỐ QUAN TRẮC">
                <ng-template matTabContent>
                  <app-thongsoquantrac-list [objKey]="objKey"></app-thongsoquantrac-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="KẾT QUẢ QUAN TRẮC">
                <ng-template matTabContent>
                  <app-ketquaquantrac-list [objKey]="objKey"></app-ketquaquantrac-list>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>