<mat-tab-group [selectedIndex]="activeTabCheck" (selectedTabChange)="selectTabChange($event)" style="min-height: 75vh">
  <mat-tab label="Thư viện">
    <div class="content pl-3 pt-3 pr-3 pb-0">
      <div class="container-fluid p-0">
        <div class="card border">
          <div class="card-body row">
            <div class="ex-percent col-12 p-0">
              <as-split direction="horizontal" #split="asSplit">
                <as-split-area size="70" #area1="asSplitArea">
                  <div class="card border-0 shadow-none">
                    <div class="card-header">
                      <h3>
                        <button class="btn btn-xsm btn-outline-dark mb-1" type="button"
                          *ngIf="(loaiGiaoDien === 0) && (arrayIndex.length > 0) " style="float:left"
                          (click)="downloadFile()">
                          <i class="fas fa-download"></i> View Image
                        </button>
                        <button class="btn btn-xsm btn-link text-danger mb-1" type="button"
                          *ngIf="(loaiGiaoDien === 0) && (arrayIndex.length > 0) " style="float:left"
                          (click)="deleteFile()">
                          <i class="fas fa-trash-alt"></i> Xóa file khỏi hệ thống
                        </button>
                        <div class="input-group">
                          <input #search class="form-control" (keyup.enter)="searchEnter(search.value)" type="text"
                            placeholder="Nhập từ khóa" aria-label="Nhập từ khóa">
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" (click)="searchEnter(search.value)">
                              <i class="fas fa-search"></i> Tìm kiếm
                            </button>
                          </div>
                        </div>
                      </h3>
                    </div>
                    <div class="card-body">
                      <div [class]="changeClass" (mouseover)="changeClass= 'overflow-auto'"
                        (mouseout)="changeClass= 'overflow-hidden'" (scroll)="onScroll($event)"
                        [ngStyle]="{'max-height': maxHeight}" class="border">
                        <div *ngFor="let data of listDataItems; let i = index"
                          style="width: 110px;height: 130px; float: left; margin: 10px;">
                          <div class="card border itemFile shadow-sm"
                            [ngStyle]="{'background-color': listDataItems[i].checked === false? '': '#e0e0e0', 'cursor': 'pointer'}">
                            <div class="card-header" style="padding: 0px; height: 16px">
                              <mat-checkbox *ngIf="listDataItems[i].checked === true" #checkbox
                                (change)='showOptions(checkbox.checked, i)' [checked]="listDataItems[i].checked">
                              </mat-checkbox>
                            </div>
                            <div class="card-body" (click)="clickDivFile(i)" style="padding: 0px; width: 108px">
                              <img *ngIf="!data.iconFile === true" [src]="data.link"
                                style="width: 68px; height: 68px; border: 2px solid #fff;box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05); margin-left: 18px;">
                              <i *ngIf="!data.iconFile === false" [class]="data.iconFile"
                                style="font-size: 68px;box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05); margin-left: 27px;color: #82c91e"></i>
                              <p class="formatNameThuVien">{{data.tenFile}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </as-split-area>
                <as-split-area size="30" #area2="asSplitArea">
                  <div>
                    <div class="card shadow-none border-0">
                      <div class="card-body overflow-auto" [ngStyle]="{'max-height': maxHeight}">
                        <div class="row mb-3 px-2 text-right" style="display: list-item;">
                          <button class="btn btn-xsm btn-link text-danger" type="button"
                            *ngIf="(arrayIndex.length === 1) && ((loaiGiaoDien === 1) || (loaiGiaoDien === 2))"
                            style="float:right; margin-top: 5px" (click)="deleteFile()">
                            <i class="fas fa-trash-alt"></i> Delete Files
                          </button>
                        </div>
                        <form [formGroup]="mediaIOForm">
                          <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.tieude)">
                            <label class="col-sm-4 col-form-label text-right">Tiêu đề:</label>
                            <div class="col-sm-8">
                              <input class="form-control" formControlName="tieude">
                              <span *ngIf="formErrors.tieude" class="alert-danger">{{formErrors.tieude}}</span>
                            </div>
                          </div>
                          <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.tacgia)">
                            <label class="col-sm-4 col-form-label text-right">Tác giả:</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="tacgia">
                              <span *ngIf="formErrors.tacgia" class="alert-danger">{{formErrors.tacgia}}</span>
                            </div>
                          </div>
                          <div class="form-group row mx-0" *ngIf="loaiGiaoDien === 0">
                            <label class="col-sm-4 col-form-label text-right">Trạm công trình:</label>
                            <div class="col-sm-8">
                              <mat-select placeholder="Chọn trạm công trình" class="form-control"
                                formControlName="objKey">
                                <mat-option value="">
                                  ---Chọn trạm công trình---
                                </mat-option>
                                <mat-option *ngFor="let obj of ObjKeyArray" [value]="obj.value">
                                  {{obj.name}}
                                </mat-option>
                              </mat-select>
                              <span *ngIf="formErrors.objKey" class="alert-danger">{{formErrors.objKey}}</span>
                            </div>
                          </div>
                          <!-- <div class="form-group row mx-0" *ngIf="(loaiGiaoDien === 0) || (loaiGiaoDien === 2)"
                            [ngClass]="displayFieldCss(formErrors.idLoaitailieu)">
                            <label class="col-sm-4 col-form-label text-right">Loại tài liệu:</label>
                            <div class="col-sm-8">
                              <mat-select placeholder="Chọn loại tài liệu" class="form-control"
                                formControlName="idLoaitailieu">
                                <mat-option value="">
                                  ---Chọn loại tài liệu---
                                </mat-option>
                                <mat-option [value]="1">
                                  Quyết định
                                </mat-option>
                                <mat-option [value]="2">
                                  Thông tư
                                </mat-option>
                                <mat-option [value]="3">
                                  Tài liệu khác
                                </mat-option>
                              </mat-select>
                              <span *ngIf="formErrors.idLoaitailieu"
                                class="alert-danger">{{formErrors.idLoaitailieu}}</span>
                            </div>
                          </div>
                          <div class="form-group row mx-0" *ngIf="(loaiGiaoDien === 0) || (loaiGiaoDien === 2)"
                            [ngClass]="displayFieldCss(formErrors.nguoiky)">
                            <label class="col-sm-4 col-form-label text-right">Người ký:</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="nguoiky">
                              <span *ngIf="formErrors.nguoiky" class="alert-danger">{{formErrors.nguoiky}}</span>
                            </div>
                          </div> -->
                          <div class="form-group row mx-0">
                            <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" formControlName="note"></textarea>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </as-split-area>
              </as-split>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Upload">
    <ng-template matTabContent>
      <app-tab-upload [loaiGD]="loaiGiaoDien" (selectTab)="getDataUpload($event)"></app-tab-upload>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div>
  <button *ngIf="dataGetIO.model" class="btn btn-danger" style="float:right" (click)="onNoClick()">
    <i class="far fa-times-circle"></i> Đóng
  </button>
  <button *ngIf="activeTabCheck === 0" [disabled]="(arrayIndex.length === 0 ? true : false)"
    class="btn btn-primary mr-3" style="float:right" (click)="addFiles()">
    <i class="far fa-save"></i> Lưu
  </button>
</div>