<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<!-- /page header -->
<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav-content>
    <div class="content pt-3">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">
                <span style="font-weight: bold; font-size: 16px;">{{
                  subNav.item ? subNav.item.tenthamso : ""
                }}</span>
              </h6>
            </div>
            <div class="card-body">
              <div class="row px-0" [formGroup]="DateForm">
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center pb-2">
                      <label class="col-sm-3 col-form-label text-right p-0">Từ ngày:</label>
                      <div class="col-sm-7">
                        <input class="form-control" formControlName="firstdate" type="text" [owlDateTime]="datetimeto"
                          placeholder="Nhập thời gian" />
                      </div>
                      <div class="col-sm-2">
                        <span class="btn btn-outline-secondary float-left" [owlDateTimeTrigger]="datetimeto"
                          style="cursor: pointer;"><i class="fa fa-calendar"></i></span>
                        <owl-date-time #datetimeto></owl-date-time>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center pb-2">
                      <label class="col-sm-3 col-form-label text-right p-0">Đến ngày:</label>
                      <div class="col-sm-7">
                        <input class="form-control" formControlName="lastdate" type="text" [owlDateTime]="datetimefrom"
                          placeholder="Nhập thời gian" />
                      </div>
                      <div class="col-sm-2">
                        <span class="btn btn-outline-secondary float-left" [owlDateTimeTrigger]="datetimefrom"
                          style="cursor: pointer;"><i class="fa fa-calendar"></i></span>
                        <owl-date-time #datetimefrom></owl-date-time>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                      <button class="btn btn-success" style="float: right; min-height: 36px;" (click)="showKetQua()">
                        <i class="far fa-eye"></i> Kết quả
                      </button>
                    </div>
                  </div>
                  <div class="alert-danger text-center px-2" style="width: 100%;" *ngIf="errorForm">
                    {{ errorForm }}
                  </div>
                </div>
                <div id="chartkq" class="col-md-12 my-2" style="height: 400px;"></div>
                <div class="col-12 mt-3">
                  <button class="btn btn-primary" style="float: right;" (click)="openKetquaIOSidebar()">
                    <i class="fal fa-plus-square"></i> Thêm
                  </button>
                  <label for="file-upload" style="float: right;"
                    class="custom-file-upload btn btn-outline-primary mr-3">
                    Import File
                  </label>
                  <input id="file-upload" type="file" class="d-none" (change)="uploadFile($event)" />
                </div>
                <div class="col-12 mt-2">
                  <ejs-grid #grid [dataSource]="listData" [editSettings]="settingsCommon.editSettings"
                    [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                    class="table-striped" [allowResizing]="true">
                    <e-columns>
                      <e-column field="serialNumber" headerText="STT"></e-column>
                      <e-column headerText="Ngày đo">
                        <ng-template #template let-data>
                          {{ convertDateTimeString(data) }}
                        </ng-template>
                      </e-column>
                      <e-column headerText="Giờ đo">
                        <ng-template #template let-data>
                          {{ convertTimeString(data) }}
                        </ng-template>
                      </e-column>
                      <e-column field="ketquado" headerText="Kết quả đo" format="N2"></e-column>
                      <e-column field="id" headerText="Thao tác">
                        <ng-template #template let-data>
                          <div class="btn-group">
                            <button class="btn btn-sm btn-primary" title="Chỉnh sủa" (click)="openEditIOSidebar(data)">
                              <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" title="Xóa" (click)="deleteItem(data)">
                              <i class="far fa-trash"></i>
                            </button>
                          </div>
                        </ng-template>
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
          style="width: 600px;">
          <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
            <button class="btn btn-sm btn-light" (click)="closeKetquaIOSidebar()">
              <i class="fad fa-chevron-double-right"></i>
            </button>
            <span style="vertical-align: middle;" class="ml-3 mat-sidenav-title-text">
              {{ matsidenavService.sidenavTitle }}</span>
          </div>
          <template #compketquaio></template>
        </mat-sidenav>
        <div class="col-lg-3 col-md-12">
          <template #subsidebar></template>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>