<div
  class="sidebar sidebar-light sidebar-component sidebar-component-right order-1 sidebar-expand-md bg-transparent border-0 shadow-0">
  <div class="sidebar-content">
    <div class="card">
      <div class="card-header bg-transparent header-elements-inline">
        <span class="text-uppercase font-size-sm font-weight-semibold">Danh sách các thông số</span>
        <div class="header-elements">
          <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
          </div>
        </div>
      </div>

      <div class="card-body p-0">
        <ul class="nav nav-sidebar" data-nav-type="accordion">
          <li class="nav-item" *ngFor=" let item of obj; let i = index">
            <a (click)="getItem(item); activeIndex = i" style="cursor: pointer;"
              [ngClass]="activeIndex === i ? 'nav-link active' : 'nav-link'"> {{item.tenthamso}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
