<!-- Page header -->
<app-sub-header></app-sub-header>
<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<!-- /page header -->
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title">Danh sách Cá Nhân</span>
                  <button class="btn btn-primary" style="float:right" (click)="openCanhanIOSidebar()">
                    <i class="fal fa-plus-square"></i> Thêm
                  </button>
                  <button class="btn btn-outline-primary mr-3" style="float:right" (click)="getAllCanhan()">
                    <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-grid #grid *ngIf="listCanhan" [dataSource]="listCanhan" [editSettings]="settingsCommon.editSettings"
                  [allowPaging]="true" [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
                  [toolbar]="settingsCommon.toolbar" class="table-striped" (queryCellInfo)="customiseCell($event)" [allowResizing]="true">
                  <e-columns>
                    <e-column field="serialNumber" headerText="STT"></e-column>
                    <e-column field="hovaten" headerText="Họ và tên"></e-column>
                    <e-column field="diachi" headerText="Địa chỉ"></e-column>
                    <e-column field="sodienthoai" headerText="Số điện thoại"></e-column>
                    <e-column field="email" headerText="Email"></e-column>
                    <e-column field="loaigiayto" headerText="Loại giấy tờ"></e-column>
                    <e-column field="socmthochieu" headerText="Số CMND/Hộ chiếu"></e-column>
                    <e-column field="id" headerText="Thao tác">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" title="Chỉnh sủa" (click)="editItemCanhan($event)">
                            <i class="far fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" title="Xóa" (click)="deleteItemCanhan($event)">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end"
        style="width: 600px;">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title fixed-top">
          <button class="btn btn-sm btn-light" (click)="closeCanhanIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matSidenavService.sidenavTitle }}</span>
        </div>
        <template #compcanhanio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
