<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="canhanIOForm" class="pt-toolbar">
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Tên cá nhân <small>(*)</small> :</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="hovaten" />
        <span *ngIf="formErrors.hovaten" class="alert-danger">{{
          formErrors.hovaten
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Địa chỉ:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="diachi" />
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Tỉnh:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn tỉnh/thành phố" class="form-control" formControlName="matinh"
          (selectionChange)="showDvhcHuyen()">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcProvinceFilters"
            (filteredReturn)="allTinh = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn tỉnh---
          </mat-option>
          <mat-option *ngFor="let tinh of allTinh" [value]="tinh.matinh">
            {{ tinh.tendvhc }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Huyện:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn huyện/phường" class="form-control" formControlName="mahuyen"
          (selectionChange)="showDvhcXa()">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcDistrictFilters"
            (filteredReturn)="allHuyen = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn huyện---
          </mat-option>
          <mat-option *ngFor="let huyen of allHuyen" [value]="huyen.mahuyen">
            {{ huyen.tendvhc }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Xã:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn xã/thị trấn" class="form-control" formControlName="maxa">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcWardFilters" (filteredReturn)="allXa = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn xã---
          </mat-option>
          <mat-option *ngFor="let xa of allXa" [value]="xa.maxa">
            {{ xa.tendvhc }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Số điện thoại:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="sodienthoai" />
        <span *ngIf="formErrors.sodienthoai" class="alert-danger">{{
          formErrors.sodienthoai
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Loại giấy tờ:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn loại giấy tờ" class="form-control" formControlName="loaigiayto">
          <mat-option value="">
            ---Chọn loại giấy tờ---
          </mat-option>
          <mat-option [value]="loaigiayto.Cmnd">
            {{ loaigiayto.Cmnd }}
          </mat-option>
          <mat-option [value]="loaigiayto.Hc">
            {{ loaigiayto.Hc }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Số CMND/Hộ chiếu:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="socmthochieu" />
      </div>
    </div>

    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Email:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="email" />
        <span *ngIf="formErrors.email" class="alert-danger">{{
          formErrors.email
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
      <div class="col-sm-8">
        <textarea formControlName="note" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ảnh:</label>
      <div class="col-sm-8 row">
        <div class="image-preview col-8">
          <div class="row px-2">
            <a *ngIf="!srcanh === false" [href]="srcanh">
              <img [src]="srcanh" height="100" style="padding-bottom: 10px" />
            </a>
            <img *ngIf="!srcanh === true" class="pb-2 border" src="assets/media/images/no_image_available.png"
              alt="image" width="100%">
            <input class="form-control" hidden type="text" formControlName="imgLink">
          </div>
          <div class="row p-0">
            <button class="btn btn-xsm btn-link text-danger" type="button" *ngIf="srcanh" (click)="deleteAnh()">
              <i class="fas fa-trash-alt"></i> Xóa ảnh
            </button>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-primary" style="margin: auto" (click)="showMatDialog()">
            <i class="fal fa-check-square"></i> Chọn ảnh
          </button>
        </div>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i> Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="onContinueAdd(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeCanhanIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
            <mat-progress-spinner diameter="38" class="spinner float-right mr-3" style="display: inline-block;"
              mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>