<!-- Loading -->
<mat-progress-bar mode="indeterminate" id="progressService" [class.active]="progressService.visibility | async">
</mat-progress-bar>
<!-- End Loading -->
<router-outlet></router-outlet>
