<div class="pt-3">
  <form *ngIf="editMode" [formGroup]="loaisolieuIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.tenloaisolieu)">
      <label class="col-sm-4 col-form-label text-right">Tên loại số liệu:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="tenloaisolieu" />
        <span *ngIf="formErrors.tenloaisolieu" class="alert-danger">{{
          formErrors.tenloaisolieu
        }}</span>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Tên viết tắt:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="tenviettat" />
      </div>
    </div>

    <div class="toolbar-container py-2">
      <div class="function-toolbar">
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)">
              <i class="far fa-save"></i>
              Lưu & Đóng
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="addOrUpdateContinue(purpose)">
              <i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeLoaisolieuIOSidebar()">
              <i class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>