<div class="pt-3" *ngIf="checkShowChitiet === false; else chitiet">
  <ejs-grid #grid [dataSource]="dataTram" [editSettings]='settingsCommon.editSettings' [allowPaging]="true"
    [allowSorting]="true" [pageSettings]='settingsCommon.pageSettings'
    [allowResizing]='true' class="table-striped" style="padding-top: 5%;">
    <ng-template #detailTemplate let-obj>
      <table class="detailtable" width="100%">
        <colgroup>
          <col width="50%">
          <col width="50%">
        </colgroup>
        <tbody>
          <tr>
            <td>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Tên điểm khai thác:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.tendiem }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Số hiệu điểm khai thác:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.sohieudiem }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Tọa độ x:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.toadox }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Tọa độ y:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.toadoy }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Cao độ z:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.caodoz }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Hệ tọa độ:</label>
                <label class="col-sm-6 col-form-label"><strong>VN2000</strong></label>
              </div>
              <!-- <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Vị trí:</label>
                <label class="col-sm-6 col-form-label">
                  <button class="btn btn-x-sm btn-outline-primary mr-2">
                    <i class="fal fa-location"></i></button>
                  <strong>{{ obj.properties.vitri }}</strong></label>
              </div> -->
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Thuộc:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ xa }} - {{ huyen }}
                    - {{ tinh }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Thời gian xây dựng:</label>
                <label
                  class="col-sm-6 col-form-label"><strong>{{ obj.properties.thoigianxaydung | date: 'dd-MM-yyyy'}}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Thời gian vận hành:</label>
                <label
                  class="col-sm-6 col-form-label"><strong>{{ obj.properties.thoigianvanhanh | date: 'dd-MM-yyyy'}}</strong></label>
              </div>
            </td>
            <td>
              <!--              <div class="row mx-0">-->
              <!--                <label class="col-sm-6 col-form-label text-right">Mục đích sử dụng chính:</label>-->
              <!--                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.idMucdichsudungchinh }}</strong></label>-->
              <!--              </div>-->
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Đơn vị quản lý:</label>
                <label class="col-sm-6 col-form-label"><strong>{{dvql}}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Chủ sử dụng:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ caNhan }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Lưu lượng cho phép lớn nhất:</label>
                <label
                  class="col-sm-6 col-form-label"><strong>{{ obj.properties.luuluongchopheplonnhat }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Có thiết bị giám sát:</label>
                <label
                  class="col-sm-6 col-form-label"><strong>{{ obj.properties.cothietbigiamsat ? 'Có' : 'Không' }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Vận hành:</label>
                <label
                  class="col-sm-6 col-form-label"><strong>{{ showTenVanHanh(obj.properties.id_vanhanh) }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Thời lượng khai thác:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.thoiluongkhaithac }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Nhà máy:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.nhamay }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Đã cấp phép:</label>
                <label
                  class="col-sm-6 col-form-label"><strong>{{ obj.properties.dacapphep ? 'Đã cấp' : 'Chưa cấp' }}</strong></label>
              </div>
              <!--              <div class="row mx-0">-->
              <!--                <label class="col-sm-6 col-form-label text-right">Trạng thái:</label>-->
              <!--                <label class="col-sm-6 col-form-label"><strong>{{ showTrangThai(obj.properties.status) }}</strong></label>-->
              <!--              </div>-->
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Ghi chú:</label>
                <label class="col-sm-6 col-form-label"><strong>{{ obj.properties.note }}</strong></label>
              </div>
              <div class="row mx-0">
                <label class="col-sm-6 col-form-label text-right">Ảnh:</label>
                <label class="col-sm-6 col-form-label"><img *ngIf="obj.properties.imgLink"
                    [src]="obj.properties.imgLink" width="100px" height="100px"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <e-columns>
      <e-column headerText='Tên điểm khai thác'>
        <ng-template #template let-data>
          {{data.properties.tendiem}}
        </ng-template>
      </e-column>
      <e-column headerText='Vị trí'>
        <ng-template #template let-data>
          {{data.properties.vitri}}
        </ng-template>
      </e-column>
      <e-column field='id' headerText='Thao tác'>
        <ng-template #template let-data>
          <button class="btn btn-sm btn-info" (click)="showChiTiet(data)" title="Chi tiết">
            <i class="fas fa-eye"></i>
          </button>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>
<ng-template #chitiet>
  <div class="content pt-5">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">
          <span style="font-weight: bold; font-size: 16px">{{tenTram}}</span>
        </h6>
      </div>
      <div class="card-body">
        <div class="row px-0" [formGroup]="DateForm">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 pb-2">
                <label>Yếu tố quan trắc:</label>
                <mat-select placeholder="Chọn yêu tố quan trắc" class="form-control" formControlName="idthamso"
                  (selectionChange)="showThongSo()">
                  <mat-select-filter [displayMember]="'tenthamso'" [array]="thongsoFilters"
                    (filteredReturn)="listThamso = $event">
                  </mat-select-filter>
                  <mat-option value="">
                    ---Chọn yếu tố quan trắc---
                  </mat-option>
                  <mat-option *ngFor="let ts of listThamso" [value]="ts.idthamso">
                    {{ts.tenthamso}}
                  </mat-option>
                </mat-select>
              </div>
              <div class="col-lg-5 col-md-12  d-flex justify-content-center align-items-center pb-2">
                <label class="col-sm-3 col-form-label text-right p-0">Từ ngày:</label>
                <div class="col-sm-7">
                  <input class="form-control" formControlName="firstdate" type="text" [owlDateTime]="datetimeto"
                    placeholder="Nhập thời gian">
                </div>
                <div class="col-sm-2 pl-0">
                  <span class="btn btn-outline-secondary float-left" [owlDateTimeTrigger]="datetimeto"
                    style="cursor: pointer;"><i class="fa fa-calendar"></i></span>
                  <owl-date-time #datetimeto></owl-date-time>
                </div>
              </div>
              <div class="col-lg-5 col-md-12  d-flex justify-content-center align-items-center pb-2">
                <label class="col-sm-3 col-form-label text-right p-0">Đến ngày:</label>
                <div class="col-sm-7">
                  <input class="form-control" formControlName="lastdate" type="text" [owlDateTime]="datetimefrom"
                    placeholder="Nhập thời gian">
                </div>
                <div class="col-sm-2 pl-0">
                  <span class="btn btn-outline-secondary float-left" [owlDateTimeTrigger]="datetimefrom"
                    style="cursor: pointer;"><i class="fa fa-calendar"></i></span>
                  <owl-date-time #datetimefrom></owl-date-time>
                </div>
              </div>
              <div class="col-lg-2 col-md-12">
                <button class="btn btn-success" style="float:right; min-height: 26px;margin-top: 2px;"
                  (click)="showKetQua()">
                  <i class="far fa-eye"></i>
                </button>
              </div>
            </div>
            <div style="width: 100%" *ngIf="errorForm" class="alert-danger text-center px-2">{{errorForm}}
            </div>
          </div>
          <div id="chartkq" class="col-md-12 my-2" style="height: 400px;"></div>
          <div class="col-12 mt-2">
            <ejs-grid #grid [dataSource]="listData" [editSettings]="settingsCommon.editSettings" [allowPaging]="true"
              [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings"
              class="table-striped" [allowResizing]="true">
              <e-columns>
                <e-column field="serialNumber" headerText="STT"></e-column>
                <e-column headerText="Ngày đo">
                  <ng-template #template let-data>
                    {{convertDateTimeString(data)}}
                  </ng-template>
                </e-column>
                <e-column headerText="Giờ đo">
                  <ng-template #template let-data>
                    {{convertTimeString(data)}}
                  </ng-template>
                </e-column>
                <e-column field="ketquado" headerText="Kết quả đo" format='N2'></e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>