<app-sub-header></app-sub-header>
<mat-progress-bar mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
<div class="content pt-3">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <div class="card border">
              <div class="card-header">
                <h3>
                  <span class="title"> Cơ quan tổ chức</span>
                  <button class="btn btn-primary" style="float:right" (click)="openCoquantochucIOSidebar()">
                    <i class="fal fa-plus-square"></i> Thêm
                  </button>
                  <button class="btn btn-outline-primary mr-3" style="float:right" (click)="getAllCoquan()">
                    <i class="far fa-sync-alt"></i> Tải lại dữ liệu
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <ejs-treegrid #grid *ngIf="listCoquantochuc" [dataSource]="listCoquantochuc" [treeColumnIndex]="0" childMapping="children"
                  [allowSorting]="true" [pageSettings]="settingsCommon.pageSettings" [toolbar]="settingsCommon.toolbar"
                  class="table-striped" [allowResizing]="true" (queryCellInfo)="customiseCell($event)">
                  <e-columns>
                    <e-column field="serialNumber" headerText="STT">
                    </e-column>
                    <e-column field="tencoquan" headerText="Tên cơ quan" ></e-column>
                    <e-column field="sodienthoai" headerText="Số điện thoại"></e-column>
                    <e-column field="email" headerText="Email"></e-column>
                    <e-column field="diachi" headerText="Địa chỉ"></e-column>
                    <e-column field="id" headerText="Thao tác">
                      <ng-template #template let-data>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" (click)="openCoquantochucIOSidebarEdit($event)"
                            title="Chỉnh sửa">
                            <i class="far fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" (click)="deleteCoquantochuc($event)" title="Xóa">
                            <i class="far fa-trash"></i>
                          </button>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-treegrid>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-sidenav #aside [fixedInViewport]="true" [fixedTopGap]="50" class="aside" position="end" style="width: 600px">
        <div class="p-2 pl-3 bg-primary text-white mat-sidenav-title">
          <button class="btn btn-sm btn-light" (click)="closeCoquantochucIOSidebar()">
            <i class="fad fa-chevron-double-right"></i>
          </button>
          <span style="vertical-align: middle;"
            class="ml-3 mat-sidenav-title-text">{{ matsidenavService.sidenavTitle }}</span>
        </div>
        <template #compcoquantochucio> </template>
      </mat-sidenav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
