<div class="pt-3">
  <form [formGroup]="diemXaThaiIOForm" class="pt-toolbar">
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.ten)">
      <label class="col-sm-4 col-form-label text-right">Tên điểm xả thải:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="tendiem">
        <span *ngIf="formErrors.ten" class="alert-danger">{{formErrors.ten}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.sohieu)">
      <label class="col-sm-4 col-form-label text-right">Số hiệu điểm xả thải:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="sohieudiem">
        <span *ngIf="formErrors.sohieu" class="alert-danger">{{formErrors.sohieu}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.toadox)">
      <label class="col-sm-4 col-form-label text-right">Tọa độ x:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="toadox">
        <span *ngIf="formErrors.toadox" class="alert-danger">{{formErrors.toadox}}</span>
        <span *ngIf="errorX !== ''" class="alert-danger">{{errorX}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.toadoy)">
      <label class="col-sm-4 col-form-label text-right">Tọa độ y:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="toadoy">
        <span *ngIf="formErrors.toadoy" class="alert-danger">{{formErrors.toadoy}}</span>
        <span *ngIf="errorY !== ''" class="alert-danger">{{errorY}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.caodoz)">
      <label class="col-sm-4 col-form-label text-right">Cao độ z:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="caodoz">
        <span *ngIf="formErrors.caodoz" class="alert-danger">{{formErrors.caodoz}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.srid)">
      <label class="col-sm-4 col-form-label text-right">Hệ tọa độ:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Hệ tọa độ" class="form-control" formControlName="srid">
          <mat-option value="">
            ---Chọn hệ tọa độ---
          </mat-option>
          <mat-option [value]="3405">VN-2000 (UTM zone 48N) - Tọa độ phẳng</mat-option>
          <mat-option [value]="4326">WGS 84 - Tọa độ lat/long</mat-option>
        </mat-select>
        <span *ngIf="formErrors.srid" class="alert-danger">{{formErrors.srid}}</span>
        <span *ngIf="errorSrid !== ''" class="alert-danger">{{errorSrid}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.vitri)">
      <label class="col-sm-4 col-form-label text-right">Vị trí:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="vitri">
        <span *ngIf="formErrors.vitri" class="alert-danger">{{formErrors.vitri}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.matinh)">
      <label class="col-sm-4 col-form-label text-right">Tỉnh:</label>
      <div class="col-sm-8">

        <mat-select placeholder="Chọn tỉnh/thành phố" class="form-control" formControlName="matinh"
          (selectionChange)="showDvhcHuyen()">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcProvinceFilters"
            (filteredReturn)="allTinh = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn tỉnh---
          </mat-option>
          <mat-option *ngFor="let tinh of allTinh" [value]="tinh.matinh">
            {{tinh.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.matinh" class="alert-danger">{{formErrors.matinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.mahuyen)">
      <label class="col-sm-4 col-form-label text-right">Huyện:</label>
      <div class="col-sm-8">

        <mat-select placeholder="Chọn huyện/phường" class="form-control" formControlName="mahuyen"
          (selectionChange)="showDvhcXa()">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcDistrictFilters"
            (filteredReturn)="allHuyen = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn huyện---
          </mat-option>
          <mat-option *ngFor="let huyen of allHuyen" [value]="huyen.mahuyen">
            {{huyen.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.mahuyen" class="alert-danger">{{formErrors.mahuyen}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.maxa)">
      <label class="col-sm-4 col-form-label text-right">Xã:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chọn xã/thị trấn" class="form-control" formControlName="maxa">
          <mat-select-filter [displayMember]="'tendvhc'" [array]="dvhcWardFilters" (filteredReturn)="allXa = $event">
          </mat-select-filter>
          <mat-option value="">
            ---Chọn xã---
          </mat-option>
          <mat-option *ngFor="let xa of allXa" [value]="xa.maxa">
            {{xa.tendvhc}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.maxa" class="alert-danger">{{formErrors.maxa}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.idChusudung)">
      <label class="col-sm-4 col-form-label text-right">Chủ sử dụng:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Chủ sử dụng" class="form-control" formControlName="idChusudung">
          <mat-select-filter [displayMember]="'hovaten'" [array]="canhanFilters" (filteredReturn)="canhan = $event">
          </mat-select-filter>
          <mat-option [value]="">
            ---Chọn chủ sử dụng---
          </mat-option>
          <mat-option *ngFor="let cn of canhan" [value]="cn.id">
            {{cn.hovaten}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.idChusudung" class="alert-danger">{{formErrors.idChusudung}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.thuyvuctiepnhan)">
      <label class="col-sm-4 col-form-label text-right">Thủy vực tiếp nhận:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="thuyvuctiepnhan">
        <span *ngIf="formErrors.thuyvuctiepnhan" class="alert-danger">{{formErrors.thuyvuctiepnhan}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false" [ngClass]="displayFieldCss(formErrors.phuongthucxa)">
      <label class="col-sm-4 col-form-label text-right">Phương thức xả:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="phuongthucxa">
        <span *ngIf="formErrors.phuongthucxa" class="alert-danger">{{formErrors.phuongthucxa}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false" [ngClass]="displayFieldCss(formErrors.hinhthucdan)">
      <label class="col-sm-4 col-form-label text-right">Hình thức dẫn:</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" formControlName="hinhthucdan">
        <span *ngIf="formErrors.hinhthucdan" class="alert-danger">{{formErrors.hinhthucdan}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false"
      [ngClass]="displayFieldCss(formErrors.luuluongxatrungbinh)">
      <label class="col-sm-4 col-form-label text-right">Lưu lượng xả trung bình:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="luuluongxatrungbinh">
        <span *ngIf="formErrors.luuluongxatrungbinh" class="alert-danger">{{formErrors.luuluongxatrungbinh}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false"
      [ngClass]="displayFieldCss(formErrors.luuluonglonnhatchophep)">
      <label class="col-sm-4 col-form-label text-right">Lưu lượng lớn nhất cho phép:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="luuluonglonnhatchophep">
        <span *ngIf="formErrors.luuluonglonnhatchophep"
          class="alert-danger">{{formErrors.luuluonglonnhatchophep}}</span>
        <span *ngIf="errorLuuLuongChoPhepLonNhat !== ''" class="alert-danger">{{errorLuuLuongChoPhepLonNhat}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false" [ngClass]="displayFieldCss(formErrors.quychuanapdung)">
      <label class="col-sm-4 col-form-label text-right">Quy chuẩn áp dụng:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="quychuanapdung">
        <span *ngIf="formErrors.quychuanapdung" class="alert-danger">{{formErrors.quychuanapdung}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false"
      [ngClass]="displayFieldCss(formErrors.cothietbigiamsat)">
      <label class="col-sm-4 col-form-label text-right">Có thiết bị giám sát:</label>
      <div class="col-sm-8 pt-1">
        <mat-slide-toggle formControlName="cothietbigiamsat">
          {{diemXaThaiIOForm.value.cothietbigiamsat? diemXaThaiIOForm.value.cothietbigiamsat === true? 'Đã có' : 'Chưa có' : 'Chưa có'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.dacapphep)">
      <label class="col-sm-4 col-form-label text-right">Đã cấp phép:</label>
      <div class="col-sm-8 pt-1">
        <mat-slide-toggle formControlName="dacapphep">
          {{diemXaThaiIOForm.value.dacapphep? diemXaThaiIOForm.value.dacapphep === true? 'Đã cấp phép' : 'Chưa cấp phép' : 'Chưa cấp phép'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row mx-0" [ngClass]="displayFieldCss(formErrors.idDonviquanly)">
      <label class="col-sm-4 col-form-label text-right">Đơn vị quản lý:</label>
      <div class="col-sm-8">
        <mat-select placeholder="Đơn vị quản lý" class="form-control" formControlName="idDonviquanly">
          <mat-select-filter [displayMember]="'tencoquan'" [array]="dvqlFilters" (filteredReturn)="dvql = $event">
          </mat-select-filter>
          <mat-option [value]="">
            ---Chọn đơn vị quản lý---
          </mat-option>
          <mat-option *ngFor="let dv of dvql" [value]="dv.id">
            {{dv.tencoquan}}
          </mat-option>
        </mat-select>
        <span *ngIf="formErrors.idDonviquanly" class="alert-danger">{{formErrors.idDonviquanly}}</span>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Thời gian xây dựng:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianxaydung" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
          placeholder="DD-MM-YYYY">
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Thời gian vận hành:</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="thoigianvanhanh" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
          placeholder="DD-MM-YYYY">
        <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
      </div>
    </div>
    <div class="form-group row mx-0" *ngIf="IOCompact === false">
      <label class="col-sm-4 col-form-label text-right">Ghi chú:</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="note"></textarea>
      </div>
    </div>
    <div class="form-group row mx-0">
      <label class="col-sm-4 col-form-label text-right">Ảnh:</label>
      <div class="col-sm-8 row">
        <div class="image-preview col-8">
          <div class="row px-2">
            <a *ngIf="!srcanh === false" [href]="srcanh">
              <img [src]="srcanh" height="100" style="padding-bottom: 10px" />
            </a>
            <img *ngIf="!srcanh === true" class="pb-2 border" src="assets/media/images/no_image_available.png"
              alt="image" width="100%" height="150px">
            <input class="form-control" hidden type="text" formControlName="imgLink">
          </div>
          <div class="row p-0">
            <button class="btn btn-xsm btn-link text-danger" type="button" *ngIf="srcanh" (click)="deleteAnh()">
              <i class="fas fa-trash-alt"></i> Xóa ảnh
            </button>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-primary" style="margin: auto" (click)="showMatDialog()">
            <i class="fal fa-check-square"></i> Chọn ảnh
          </button>
        </div>
      </div>
    </div>
    <div class="toolbar-container py-2">
      <div class=function-toolbar>
        <div class="form-group row mx-0">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="onSubmit(purpose)"><i class="far fa-save"></i>
              {{purpose === 'new' ? 'Lưu >> Nhập chi tiết': 'Lưu và đóng'}}
            </button>
            <button class="btn btn-outline-primary float-right mr-3" *ngIf="purpose === 'new'"
              (click)="addOrUpdateContinue(purpose)"><i class="far fa-download"></i> Lưu & Khởi tạo lại
            </button>
            <button class="btn btn-outline-info float-right mr-3" *ngIf="purpose === 'new'" (click)="onFormReset()">
              <i class="far fa-sync-alt"></i> Khởi tạo lại
            </button>
            <button class="btn btn-danger float-right mr-3" (click)="closeDiemXaThaiIOSidebar()"><i
                class="far fa-times-circle"></i> Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>